force-app/main/default/flows/ACP_Screen_Pre_Assessment_GTECheck.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Internal_Review</name>
        <label>Assign Internal Review</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GetGTETaskStatus.Task_GTE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Input Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_GTE_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Navigation</name>
        <label>Decision Navigation</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_GTE_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navGTE.fire2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_GTE_Record</targetReference>
            </connector>
            <label>GTE Task</label>
        </rules>
        <rules>
            <name>Update_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navGTE.fire3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GTE_Task</targetReference>
            </connector>
            <label>Update Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmShowTaskBtn</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!Get_Linked_OPEN_GTE_Task.Id}), False, True)</expression>
    </formulas>
    <formulas>
        <name>frmTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;GTE Review: &quot; + &quot; [Applicant: &quot; + {!GetGTEDetails.Applicant__r.Full_Name__c} + &quot;] [Campus: &quot; + {!GetGTEDetails.Location_Description__c}+&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>FrmViewDocURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_100}, FIND(&apos;/services&apos;, ({!$Api.Enterprise_Server_URL_100})))&amp;&quot;c/DocumentPreviewer.app?cd=&quot;&amp;{!varContactDocumentId}</expression>
    </formulas>
    <interviewLabel>ACP: Screen: Pre-Assessment: GTECheck {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACP: Screen: Pre-Assessment: GTECheck</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_GTE_Task1</name>
        <label>Create GTE Task</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Internal_Review</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_GTE_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Admission_Task_RT_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>frmTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Genuine Temporary Entrant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varACPId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>GetGTEDetails.Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Admission_Task_RT_Record</name>
        <label>Get Admission Task RT Record</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Linked_OPEN_GTE_Task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admissions</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Linked_OPEN_GTE_Task</name>
        <label>Get Linked OPEN GTE Task</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_GTE</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Admission_Task_RT_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Genuine Temporary Entrant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGTEDetails.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_GTE_Record</name>
        <label>Get Queue GTE Record</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GTE_Task1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMST_GTE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGTEDetails</name>
        <label>GetGTEDetails</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGTETaskStatus</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varACPId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Course_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGTETaskStatus</name>
        <label>GetGTETaskStatus</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admission_Task_RT_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Task_GTE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_GTE_Task</name>
        <label>Update GTE Task</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>GetGTETaskStatus</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtxt_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(225, 25, 50);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_GTE</name>
        <label>Screen GTE</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Navigation</targetReference>
        </connector>
        <fields>
            <name>dtxt_GTEScreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Genuine Temporary Entrant:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If the applicant are an international student applying for a student visa, in addition to assessing the application against all other&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.monash.edu/admissions/entry-requirements&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 109, 174);&quot;&gt;entry requirements&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Monash is obligated to check that the applicant are genuinely seeking temporary entry into Australia for study purposes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_Entrant_Information</name>
            <fieldText>Entrant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_Entrant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxt_GTEDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Applicant Information:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Full Name: &lt;/strong&gt;{!GetGTEDetails.Applicant__r.Full_Name__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Age: &lt;/strong&gt;{!GetGTEDetails.Age__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Citizenship Country: &lt;/strong&gt;{!GetGTEDetails.Citizenship_Country__c}&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>GetGTETaskStatus.Task_GTE__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>navGTE</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>View Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationURL</name>
                <value>
                    <elementReference>FrmViewDocURL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>url</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetRecordId</name>
                <value>
                    <elementReference>varContactDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label2</name>
                <value>
                    <stringValue>Create Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType2</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label3</name>
                <value>
                    <stringValue>Update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType3</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag2</name>
                <value>
                    <elementReference>frmShowTaskBtn</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label4</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType4</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType4</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetGTEDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varACPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
