force-app/main/default/flows/Agent_Management_Cascade_to_Branch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>646</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>BranchesForFastUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BranchInLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Branches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Values</name>
        <label>Set Field Values</label>
        <locationX>442</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>BranchInLoop.Monash_AM_Campus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Monash_AM_Campus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchInLoop.Monash_AM_Contract_Issue_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Monash_AM_Contract_Issue_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchInLoop.Legal_Entity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Legal_Entity_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchInLoop.Original_Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Original_Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchInLoop.Original_Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Original_Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchInLoop.Latest_Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Latest_Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchInLoop.Latest_Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Latest_Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchInLoop.Region_of_Recruitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Region_of_Recruitment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchInLoop.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedHQRecord.Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_records_to_process</name>
        <label>Any records to process?</label>
        <locationX>262</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Branches</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Branches</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>AgencyRTDeveloperName</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Agent_Onboarding_Settings__c.Account_RT_Developer_Name__c}</expression>
    </formulas>
    <interviewLabel>Agent Management - Cascade to Branch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Management - Cascade to Branch</label>
    <loops>
        <name>Loop_through_Branches</name>
        <label>Loop through Branches</label>
        <locationX>441</locationX>
        <locationY>186</locationY>
        <assignNextValueToReference>BranchInLoop</assignNextValueToReference>
        <collectionReference>Branches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Field_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_branches</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_branches</name>
        <label>Get branches</label>
        <locationX>93</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_records_to_process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdatedHQRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgencyRTRecord.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Branches</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Monash_AM_Campus__c</queriedFields>
        <queriedFields>Monash_AM_Contract_Issue_Date__c</queriedFields>
        <queriedFields>Legal_Entity_Name__c</queriedFields>
        <queriedFields>Original_Contract_Start_Date__c</queriedFields>
        <queriedFields>Original_Contract_End_Date__c</queriedFields>
        <queriedFields>Latest_Contract_Start_Date__c</queriedFields>
        <queriedFields>Latest_Contract_End_Date__c</queriedFields>
        <queriedFields>Region_of_Recruitment__c</queriedFields>
        <queriedFields>Website</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RT</name>
        <label>Get RT</label>
        <locationX>92</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_branches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgencyRTDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AgencyRTRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_branches</name>
        <label>Update branches</label>
        <locationX>644</locationX>
        <locationY>182</locationY>
        <inputReference>BranchesForFastUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_RT</startElementReference>
    <status>Active</status>
    <variables>
        <name>AgencyRTRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Branches</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BranchesForFastUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BranchInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdatedHQRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
