force-app/main/default/flows/Agent_Management_Insert_Selected_Role.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_Record_to_Collection</name>
        <label>Add New Record to Collection</label>
        <locationX>964</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>RoleRecordsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RoleRecordToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Role_Added_Principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Principal_Role_To_Collection</name>
        <label>Add Principal Role To Collection</label>
        <locationX>1397</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>PrincipalRoleRecordsForBranchesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrincipalRoleRecordForBranchToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrincipalRoleRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Branches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Role_Record_Values</name>
        <label>Set New Role Record Values</label>
        <locationX>779</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>RoleRecordToInsert.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomingContactRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleRecordToInsert.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomingContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleRecordToInsert.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleMDTInLoop.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleRecordToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleRTRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Role_Record_Values</name>
        <label>Set Role Record Values</label>
        <locationX>1398</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>PrincipalRoleRecordForBranchToCreate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BranchRecordInLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrincipalRoleRecordForBranchToCreate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomingContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrincipalRoleRecordForBranchToCreate.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrincipalRoleLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrincipalRoleRecordForBranchToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleRTRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Principal_Role_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Records_to_Insert</name>
        <label>Any Records to Insert?</label>
        <locationX>320</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>Nothing to Insert</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Role_Records</targetReference>
            </connector>
            <label>Yes, Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Found</name>
        <label>Existing Found?</label>
        <locationX>553</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Possible_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingRoleRecordCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Role_Record_Values</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Role_Added_Principal</name>
        <label>Is Role Added Principal?</label>
        <locationX>964</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Possible_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Other Roles Added</defaultConnectorLabel>
        <rules>
            <name>Yes_Prindipal_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleMDTInLoop.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PrincipalRoleLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_RT_Record</targetReference>
            </connector>
            <label>Yes, Prindipal Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Selected</name>
        <label>Is Value Selected?</label>
        <locationX>110</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Possible_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Value Not Selected</defaultConnectorLabel>
        <rules>
            <name>Value_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValueSelectedFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Role</targetReference>
            </connector>
            <label>Value Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Principal_Records_To_Insert_for_Branches</name>
        <label>Principal Records To Insert for Branches?</label>
        <locationX>1180</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Possible_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to Insert</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert_Principal_Role_For_Branches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrincipalRoleRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Principal_Role_for_Branches</targetReference>
            </connector>
            <label>Yes, Insert Principal Role For Branches</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountRTDeveloperName</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Agent_Onboarding_Settings__c.Account_RT_Developer_Name__c}</expression>
    </formulas>
    <formulas>
        <name>PrincipalRoleLabel</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Agent_Onboarding_Settings__c.Role_to_Copy__c}</expression>
    </formulas>
    <formulas>
        <name>RoleRTDeveloperName</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Agent_Onboarding_Settings__c.Role_RT_Developer_Name__c}</expression>
    </formulas>
    <formulas>
        <name>ValueSelectedFlag</name>
        <dataType>Number</dataType>
        <expression>CASE ( {!RoleMDTInLoop.Label},
	&apos;Principal Agent&apos;, IF(INCLUDES({!IncomingContactRecord.Agency_Contact_Roles__c}, &apos;Principal Agent&apos;), 1, 0),
	&apos;Branch Manager&apos;, IF(INCLUDES({!IncomingContactRecord.Agency_Contact_Roles__c}, &apos;Branch Manager&apos;), 1, 0),
	&apos;Counsellor&apos;, IF(INCLUDES({!IncomingContactRecord.Agency_Contact_Roles__c}, &apos;Counsellor&apos;), 1, 0),
	&apos;Finance&apos;, IF(INCLUDES({!IncomingContactRecord.Agency_Contact_Roles__c}, &apos;Finance&apos;), 1, 0),
	&apos;Key Counsellor&apos;, IF(INCLUDES({!IncomingContactRecord.Agency_Contact_Roles__c}, &apos;Key Counsellor&apos;), 1, 0),
	&apos;Other&apos;, IF(INCLUDES({!IncomingContactRecord.Agency_Contact_Roles__c}, &apos;Other&apos;), 1, 0),
	0
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Agent Management - Insert Selected Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Management - Insert Selected Role</label>
    <loops>
        <name>Loop_Through_All_Possible_Roles</name>
        <label>Loop Through All Possible Roles</label>
        <locationX>109</locationX>
        <locationY>347</locationY>
        <assignNextValueToReference>RoleMDTInLoop</assignNextValueToReference>
        <collectionReference>RoleTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Value_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Records_to_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Branches</name>
        <label>Loop Through Branches</label>
        <locationX>1181</locationX>
        <locationY>351</locationY>
        <assignNextValueToReference>BranchRecordInLoop</assignNextValueToReference>
        <collectionReference>AllBranchAccountRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Role_Record_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Principal_Records_To_Insert_for_Branches</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Principal_Role_for_Branches</name>
        <label>Insert Principal Role for Branches</label>
        <locationX>1179</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Loop_Through_All_Possible_Roles</targetReference>
        </connector>
        <inputReference>PrincipalRoleRecordsForBranchesToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Role_Records</name>
        <label>Insert Role Records</label>
        <locationX>543</locationX>
        <locationY>192</locationY>
        <inputReference>RoleRecordsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_RT_Record</name>
        <label>Get Account RT Record</label>
        <locationX>964</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Branches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRTDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AccountRTRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Branches</name>
        <label>Get All Branches</label>
        <locationX>1180</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Branches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRTRecord.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AllBranchAccountRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Role</name>
        <label>Get Existing Role</label>
        <locationX>376</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingContactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleRTRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleMDTInLoop.Label</elementReference>
            </value>
        </filters>
        <object>Roles__c</object>
        <outputReference>ExistingRoleRecordCheck</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_RT_Record</name>
        <label>Get Role RT Record</label>
        <locationX>110</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Possible_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleRTDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Roles__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RoleRTRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_Types</name>
        <label>Get Role Types</label>
        <locationX>108</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_RT_Record</targetReference>
        </connector>
        <object>Agency_Contact_Role__mdt</object>
        <outputReference>RoleTypes</outputReference>
        <queriedFields>Label</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>Get_Role_Types</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountRTRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>AllBranchAccountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BranchRecordInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DebugRoleInLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DebugSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ExistingRoleRecordCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>IncomingContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PrincipalRoleRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PrincipalRoleRecordForBranchToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>PrincipalRoleRecordsForBranchesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RoleMDTInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agency_Contact_Role__mdt</objectType>
    </variables>
    <variables>
        <name>RoleRecordsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>RoleRecordToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>RoleRTRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RoleTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agency_Contact_Role__mdt</objectType>
    </variables>
</Flow>
