force-app/main/default/flows/Agent_Management_Copy_Principal_Agent_to_Branch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_Record_to_Collection</name>
        <label>Add New Record to Collection</label>
        <locationX>345</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>RoleRecsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RoleRecordToAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Role_Record_Field_Values</name>
        <label>Set New Role Record Field Values</label>
        <locationX>345</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>RoleRecordToAdd.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BranchAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleRecordToAdd.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleRecordInLoop.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleRecordToAdd.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleRecordInLoop.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoleRecordToAdd.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RolesRTRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>RoleRTDevName</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Agent_Onboarding_Settings__c.Role_RT_Developer_Name__c}</expression>
    </formulas>
    <formulas>
        <name>RoleToCopy</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Agent_Onboarding_Settings__c.Role_to_Copy__c}</expression>
    </formulas>
    <interviewLabel>Agent Management - Copy Principal Agent to Branch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Management - Copy Principal Agent to Branch</label>
    <loops>
        <name>Loop_Through_Roles</name>
        <label>Loop Through Roles</label>
        <locationX>122</locationX>
        <locationY>336</locationY>
        <assignNextValueToReference>RoleRecordInLoop</assignNextValueToReference>
        <collectionReference>RoleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Role_Record_Field_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Role_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Role_Records</name>
        <label>Insert Role Records</label>
        <locationX>122</locationX>
        <locationY>462</locationY>
        <inputReference>RoleRecsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Relevant_Role_Records</name>
        <label>Get All Relevant Role Records</label>
        <locationX>121</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BranchAccountRecord.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RolesRTRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleToCopy</elementReference>
            </value>
        </filters>
        <object>Roles__c</object>
        <outputReference>RoleRecords</outputReference>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_Role_RT</name>
        <label>Get Relevant Role RT</label>
        <locationX>122</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Relevant_Role_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleRTDevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Roles__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RolesRTRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Relevant_Role_RT</startElementReference>
    <status>Active</status>
    <variables>
        <name>BranchAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RoleRecordInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>RoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>RoleRecordToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>RoleRecsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Roles__c</objectType>
    </variables>
    <variables>
        <name>RolesRTRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
