force-app/main/default/flows/AO_SCR_Program_Clone.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Log_Failure</name>
        <label>Log Failure</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ERROR_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>Abroad Outbound</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigned_values_to_cloned_program</name>
        <label>Assigned values to cloned program</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>clonedProgramObj.AO_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedProgramObj.AO_Form_Deadline_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_Deadline_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedProgramObj.AO_Program_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedProgramObj.AO_Program_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedProgramObj.AO_Program_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedProgramObj.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedProgramObj.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedProgramObj.Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedProgramObj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProgram</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createNewMap</name>
        <label>createNewMap</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>loopoverformMap.AO_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clonedProgramObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>formMapSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopoverformMap</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopoverformMap</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Form_Map_Exist</name>
        <label>If Form Map Exist</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form_Maps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopoverformMap</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will enable Users to clone an existing Program with associated Forms. This will be used by Abroad Admins</description>
    <dynamicChoiceSets>
        <name>programTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AO_Program_Type__c</picklistField>
        <picklistObject>AO_Program__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>programYearChoicelist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AO_Program_Year__c</picklistField>
        <picklistObject>AO_Program__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>termChoicelist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Terms__c</picklistField>
        <picklistObject>AO_Program__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SCR : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCR - Program Clone</label>
    <loops>
        <name>loopoverformMap</name>
        <label>loopoverformMap</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Form_Maps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createNewMap</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Program_Forms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Program_Forms</name>
        <label>Create Program Forms</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Failure</targetReference>
        </faultConnector>
        <inputReference>formMapSet</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateProgram</name>
        <label>CreateProgram</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>If_Form_Map_Exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Failure</targetReference>
        </faultConnector>
        <inputReference>clonedProgramObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Form_Maps</name>
        <label>Get Form Maps</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AO_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AO_Program_Form_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Form_Maps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AO_Program__c</object>
        <outputReference>objProgram</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AO_Description__c</queriedFields>
        <queriedFields>AO_Program_Location__c</queriedFields>
        <queriedFields>AO_Program_Type__c</queriedFields>
        <queriedFields>AO_Program_Year__c</queriedFields>
        <queriedFields>AO_Form_Deadline_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Terms__c</queriedFields>
    </recordLookups>
    <screens>
        <name>ERROR_Screen</name>
        <label>ERROR Screen</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(241, 6, 6);&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 7, 7);&quot;&gt;There is an issue with cloning this program. Please reach out to Administrator.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 7, 7);&quot;&gt;Also make sure you are using unique program name for cloned Programs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Program_Clone</name>
        <label>Program Clone</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assigned_values_to_cloned_program</targetReference>
        </connector>
        <fields>
            <name>Program_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objProgram.Name</elementReference>
            </defaultValue>
            <fieldText>Program Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Program_Type</name>
            <choiceReferences>programTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objProgram.AO_Program_Type__c</elementReference>
            </defaultValue>
            <fieldText>Program Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Program_Year</name>
            <choiceReferences>programYearChoicelist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objProgram.AO_Program_Year__c</elementReference>
            </defaultValue>
            <fieldText>Program Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Terms</name>
            <choiceReferences>termChoicelist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objProgram.Terms__c</elementReference>
            </defaultValue>
            <fieldText>Terms</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Use ctrl/cmd button to select multiple Terms&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Program_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objProgram.AO_Program_Location__c</elementReference>
            </defaultValue>
            <fieldText>Program Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Form_Deadline_Date</name>
            <dataType>Date</dataType>
            <fieldText>Form Deadline Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!objProgram.AO_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaySuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(17, 109, 221); font-family: courier;&quot;&gt;Your Program - &lt;/span&gt;&lt;a href=&quot;/{!clonedProgramObj.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px; color: rgb(17, 109, 221); font-family: courier;&quot;&gt;{!clonedProgramObj.Name}&lt;/a&gt;&lt;span style=&quot;font-size: 18px; color: rgb(17, 109, 221); font-family: courier;&quot;&gt; has been cloned with associated Forms. Please make necessary changes before Program enablement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clonedProgramObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AO_Program__c</objectType>
    </variables>
    <variables>
        <name>formMapSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AO_Program_Form_Map__c</objectType>
    </variables>
    <variables>
        <name>objProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AO_Program__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
