force-app/main/default/flows/ApplicationAUEmailAPApplicant.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The applicant hasn&apos;t been notified that the application is ready for review. Write a log message and link it to the application.</description>
        <name>Failed_to_Send_Email_to_Applicant</name>
        <label>Failed to Send Email to Applicant</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NotifyGroup</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>LogMessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>c_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogMessageTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>Agent Portal</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendAccessEmail</name>
        <label>Send Access Email</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>AssignFlowError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>c_FromAddressName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>EmailTemplateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendEditsEmail</name>
        <label>Send Edits Email</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignFlowError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>c_FromAddressName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>EmailTemplateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignFlowError</name>
        <label>Assign Flow Error</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>LogMessageBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failed_to_Send_Email_to_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning an applicants id and email to variables</description>
        <name>GetApplicant</name>
        <label>Get Applicant</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ApplicantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant__r.Personal_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Applications count for the contact</description>
        <name>GetTotalApplications</name>
        <label>Get Total Applications</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ApplicationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ApplicationRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InitialApprovalRequest</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c_AccessEmailTemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Notify_My_App_Access_to_AP_Student</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_EditsEmailTemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Notify_Application_Edits_To_My_App_Student</stringValue>
        </value>
    </constants>
    <constants>
        <description>The API name of this flow</description>
        <name>c_FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ApplicationAUEmailAPApplicant</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_FromAddressName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>future@f.e.monash.edu</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_NotificationAlertType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Admissions_Alert</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_NotificationGroup</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WR_Central_Admissions_Exception</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decision based on the flag Agent Edits After Applicant Acceptance
No Email Address - If the applicant has not primary email, report an issue. CPA is not checked at all.
1st Round - Agent has not edited the application after approval, the applicant has a user record, there is more than 1 application. This assumes the my.app email was send when the applicant was added to the Experience.
2nd Round -  Agent has edited the application after approval and we have a valid applicant user</description>
        <name>InitialApprovalRequest</name>
        <label>Initial Approval Request?</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoPersonalEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Failed_to_Send_Email_to_Applicant</targetReference>
            </connector>
            <label>No Personal Email</label>
        </rules>
        <rules>
            <name>FirstRound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agent_Edits_After_Applicant_Acceptance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApplicantUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApplicationRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApplicationCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccessEmailTemplate</targetReference>
            </connector>
            <label>First Round</label>
        </rules>
        <rules>
            <name>RepeatRounds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agent_Edits_After_Applicant_Acceptance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApplicantUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEditsEmailTemplate</targetReference>
            </connector>
            <label>Repeat Rounds</label>
        </rules>
    </decisions>
    <description>Send emails to an AP applicant to prompt them to check their application. Failures are logged via nebula logger, successes are logged as activities against the application.</description>
    <environments>Default</environments>
    <interviewLabel>Application : AU : Email AP Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application : AU : Email AP Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccessEmailTemplate</name>
        <label>Get Access Email Template</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendAccessEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_AccessEmailTemplateName</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>EmailTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get all the applications attached to the contact</description>
        <name>GetAllApplicationsforApplicant</name>
        <label>Get All Applications for Applicant</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTotalApplications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantId</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputReference>ApplicationRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Applicant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEditsEmailTemplate</name>
        <label>Get Edits Email Template</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEditsEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>c_EditsEmailTemplateName</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>EmailTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get an active User Record for the applicant Id. It&apos;s existence is used to determine the &apos;state&apos; of the applicant.</description>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllApplicationsforApplicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ApplicantUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetApplicant</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False,
CONTAINS({!$Label.Bypass_Specific_Flow}, &quot;ApplicationAUEmailAPApplicant,&quot;) = false,
ISBLANK( {!$Record.Name}) = False,
{!$Record.Source_System__c}=&apos;AgentPortal&apos;,
TEXT({!$Record.Status__c})=&apos;Sent Draft Application to Applicant&apos;,
ISBLANK( {!$Record.Agent__c}) = False,
ISBLANK( {!$Record.Applicant__c}) = False,
TEXT({!$Record.MyApp_User_Status__c}) = &apos;Provisioned&apos;
)</filterFormula>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>NotifyGroup</name>
        <label>Notify Group</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <flowName>SubPushNotification</flowName>
        <inputAssignments>
            <name>CallingFlowName</name>
            <value>
                <elementReference>c_FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationAlertType</name>
            <value>
                <elementReference>c_NotificationAlertType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationRecipientGroup</name>
            <value>
                <elementReference>c_NotificationGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationRecord</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ApplicantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Application count for all the applications for the contact</description>
        <name>ApplicationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ApplicationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogMessageBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Applicant has no personal email address </stringValue>
        </value>
    </variables>
    <variables>
        <name>LogMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Failed to send progress update to Applicant</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Unable to email applicant</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Unable to progress application {!$Record.Name}</stringValue>
        </value>
    </variables>
</Flow>
