force-app/main/default/flows/Application_BS_Set_Assessment_Task_Fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Nebula_Error</name>
        <label>Log Nebula Error</label>
        <locationX>578</locationX>
        <locationY>1739</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Application_BS_Set_Assessment_Task_Fields</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Application: BS: Set Assessment Task Fields</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>NotRequiredTask_DSS</name>
        <label>NotRequiredTask_DSS</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>varTask_DSS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assessment_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotRequiredTask_Fee</name>
        <label>NotRequiredTask_Fee</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varTask_Fee</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VISA_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotRequiredTask_GTE</name>
        <label>NotRequiredTask_GTE</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varTask_GTE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DSS_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotRequiredTask_SVP</name>
        <label>NotRequiredTask_SVP</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varTask_Visa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_GTE_Risk_Rating_For_Qualification_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequiredTask_DSS</name>
        <label>RequiredTask_DSS</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>varTask_DSS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assessment_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequiredTask_Fee</name>
        <label>RequiredTask_Fee</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varTask_Fee</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VISA_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequiredTask_GTE</name>
        <label>RequiredTask_GTE</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varTask_GTE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DSS_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequiredTask_SVP</name>
        <label>RequiredTask_SVP</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>varTask_Visa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_GTE_Risk_Rating_For_Qualification_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DSS_Check</name>
        <label>DSS Check</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>NotRequiredTask_DSS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DSS_Check_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasDisabilities__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequiredTask_DSS</targetReference>
            </connector>
            <label>DSS Check Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fee_Check</name>
        <label>Fee Check</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>NotRequiredTask_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fee_Check_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fee_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fee_Waiver_Redeemed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequiredTask_Fee</targetReference>
            </connector>
            <label>Fee Check Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>GTE_Check</name>
        <label>GTE Check</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>NotRequiredTask_GTE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GTE_Check_Required</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GTE_Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GTE_Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApplicationQualificationProvidedRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequiredTask_GTE</targetReference>
            </connector>
            <label>GTE Check Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>VISA_Check</name>
        <label>VISA Check</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>NotRequiredTask_SVP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visa_Check_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refused_entry_visa_to_any_country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Breached_visa_condition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Medical_health_prevent_visa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Protection_visa_in_any_country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Convicted_of_crime_offence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequiredTask_SVP</targetReference>
            </connector>
            <label>Visa Check Required</label>
        </rules>
    </decisions>
    <description>Version: SMSTA-92 - Advanced Standing Flow (Credit assessments)</description>
    <environments>Default</environments>
    <interviewLabel>Application: AS: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application: BS: Set Assessment Task Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GTE_Risk_Rating_For_Qualification_Records</name>
        <label>Get GTE Risk Rating For Qualification Records</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GTE_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Nebula_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GTE_Risk_Rating__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>Application_Qualification_Provided__c</object>
        <outputReference>ApplicationQualificationProvidedRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Qualification_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessment_Tasks</name>
        <label>Update Assessment Tasks</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Subflow_ACP_Auto_Set_Assessment_Task_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Nebula_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Task_Disability_Check__c</field>
            <value>
                <elementReference>varTask_DSS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Fee__c</field>
            <value>
                <elementReference>varTask_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_GTE__c</field>
            <value>
                <elementReference>varTask_GTE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Visa__c</field>
            <value>
                <elementReference>varTask_Visa</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fee_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False &amp;&amp; ISPICKVAL({!$Record.Submission_Progress__c}, &quot;Submit&quot;) &amp;&amp;
ISPICKVAL({!$Record.Assessment_Status__c},&quot;Required&quot;)</filterFormula>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_ACP_Auto_Set_Assessment_Task_Fields</name>
        <label>Subflow: ACP: Auto: Set Assessment Task Fields</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <flowName>ACP_Auto_Set_Assessment_Task_Fields</flowName>
        <inputAssignments>
            <name>varAppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCreditIntention</name>
            <value>
                <elementReference>$Record.Credit_Intention__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ApplicationQualificationProvidedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Qualification_Provided__c</objectType>
    </variables>
    <variables>
        <name>varTask_DSS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTask_Fee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTask_GTE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTask_Visa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
