force-app/main/default/flows/Application_AS_Change_Application_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Application</name>
        <label>Cancel Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CancelAdmissionApplication</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Calling_Apex_Class_CancelAdmissionApplication</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>applicationIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CancelAdmissionApplication</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Error_Calling_Apex_Class_CancelAdmissionApplication</name>
        <label>Error Calling Apex Class CancelAdmissionApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error calling Apex class CancelAdmissionApplication</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Calling_Apex_Class_ObdAdmissionApplication</name>
        <label>Error Calling Apex Class ObdAdmissionApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error calling Apex Class ObdAdmissionApplication</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Updating_Agent_Lookup_To_Null</name>
        <label>Error Updating Agent Lookup To Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Agent Lookup to Null</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Updating_Welcome_Email_Sent</name>
        <label>Error Updating Welcome Email Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error updating Welcome Email Sent to true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Outbound_Application</name>
        <label>Outbound Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ObdAdmissionApplication</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Agent_Org_Unit_Code_Made_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Calling_Apex_Class_ObdAdmissionApplication</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>applicationIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ObdAdmissionApplication</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>FlowAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Application_AS_Change_Application_Record</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Is the Agent Org Unit Code Made Null?</description>
        <name>Is_Agent_Org_Unit_Code_Made_Null</name>
        <label>Is Agent Org Unit Code Made Null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Application_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Made Null</defaultConnectorLabel>
        <rules>
            <name>Made_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agent_Org_Unit_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agent_Org_Unit_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Agent_Lookup_to_Null</targetReference>
            </connector>
            <label>Made Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Application Cancelled?</description>
        <name>Is_Application_Cancelled</name>
        <label>Is Application Cancelled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Cancelled</defaultConnectorLabel>
        <rules>
            <name>Application_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Application</targetReference>
            </connector>
            <label>Application Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Application Status updated to Sent For Submission?</description>
        <name>Is_Application_Status_Sent_For_Submission</name>
        <label>Is Application Status Sent For Submission?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Agent_Org_Unit_Code_Made_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Is Not Sent For Submission</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Sent_For_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submission on Hold (Duplicate Contact)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_Application</targetReference>
            </connector>
            <label>Status Is Sent For Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Welcome_Email_Sent_Set_To_True</name>
        <label>Is Welcome Email Sent Set To True?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Application_Status_Sent_For_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Welcome Email Sent</defaultConnectorLabel>
        <rules>
            <name>Welcome_Email_Not_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Welcome_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Study__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Graduate Research</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Welcome_Email_Sent_To_True</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Welcome Email Not Sent</label>
        </rules>
    </decisions>
    <description>Migrated from
- Application PB (PB)</description>
    <environments>Default</environments>
    <interviewLabel>Application : AS : Change Application Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application : AS : Change Application Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Agent Lookup to Null</description>
        <name>Update_Agent_Lookup_to_Null</name>
        <label>Update Agent Lookup to Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Updating_Agent_Lookup_To_Null</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Welcome Email Sent on triggering record to True</description>
        <name>Update_Welcome_Email_Sent_To_True</name>
        <label>Update Welcome Email Sent To True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Application_Status_Sent_For_Submission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Welcome_Email_Sent</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Welcome_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Welcome_Email_Sent_Set_To_True</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false</filterFormula>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>oApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
