force-app/main/default/flows/Assignment_AI_ascend_Update_Prospect_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Update_Prospect_Status</name>
        <label>Error Update Prospect Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Assignment : AI : ascend Update Prospect Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Update Prospect Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.ucinn_ascendv2__Contact__r.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>Assignment : AI : ascend Update Prospect Status</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Validate_Constituent_With_Assignment</name>
        <label>Validate Constituent With Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unassigned_Constituent_With_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Assignment_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__r.ucinn_ascendv2__Stage_of_Readiness__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prospect_Status_To_Assigned</targetReference>
            </connector>
            <label>Unassigned Constituent With Assignment</label>
        </rules>
    </decisions>
    <description>Update prospect status to Assigned when assignment is created</description>
    <environments>Default</environments>
    <interviewLabel>Assignment : AI : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment : AI : ascend Update Prospect Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Prospect_Status_To_Assigned</name>
        <label>Update Prospect Status To Assigned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Update_Prospect_Status</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ucinn_ascendv2__Stage_of_Readiness__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.ucinn_ascendv2__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Constituent_With_Assignment</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False</filterFormula>
        <object>ucinn_ascendv2__Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
