force-app/main/default/flows/Break_Glass_User_Provisioning_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Insert_Alert</name>
        <label>Send Insert Alert</label>
        <locationX>497</locationX>
        <locationY>319</locationY>
        <actionName>BreakGlassAlert</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>alertType</name>
            <value>
                <elementReference>cUserInsert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>fUserInsertMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BreakGlassAlert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Update_Alert</name>
        <label>Send Update Alert</label>
        <locationX>496</locationX>
        <locationY>540</locationY>
        <actionName>BreakGlassAlert</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>alertType</name>
            <value>
                <elementReference>cUserUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>fUserUpdateMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BreakGlassAlert</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Name of Break Glass Profile</description>
        <name>cBreakGlassProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin - Break Glass</stringValue>
        </value>
    </constants>
    <constants>
        <name>cUserInsert</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BREAK_GLASS_USER_INSERT</stringValue>
        </value>
    </constants>
    <constants>
        <name>cUserUpdate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BREAK_GLASS_USER_UPDATE</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Figure out if this is an insert or an update to User</description>
        <name>Is_Insert_or_Update</name>
        <label>Is Insert or Update</label>
        <locationX>176</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Send_Update_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Insert_Alert</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <formulas>
        <name>fUserInsertMessage</name>
        <dataType>String</dataType>
        <expression>&quot;New Break Glass Admin user CREATED. User name = &quot; + {!$Record.Username}</expression>
    </formulas>
    <formulas>
        <name>fUserUpdateMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Break Glass Admin User record UPDATED. User name = &quot; + {!$Record.Username}</expression>
    </formulas>
    <interviewLabel>Break Glass User Provisioning Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Break Glass User Provisioning Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Insert_or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin - Break Glass</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
