force-app/main/default/flows/BT_Faculty_Attendee_Share.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>fetch_public_group_id</name>
        <label>fetch public group id</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <actionName>BTEventGroupAccessMapping</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Group_id_is_not_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>campus</name>
            <value>
                <elementReference>$Record.conference360__Event__r.conference360__Event_Group__r.Campus__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>faculty</name>
            <value>
                <elementReference>$Record.conference360__Event__r.conference360__Event_Group__r.Faculty__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BTEventGroupAccessMapping</nameSegment>
        <outputParameters>
            <assignToReference>groupType</assignToReference>
            <name>groupType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>publicgroupid</assignToReference>
            <name>publicGroupId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Group_id_is_not_null</name>
        <label>Group id is not null</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>event_group_faculty_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>groupType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>publicgroupid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Attendee_Share_record</targetReference>
            </connector>
            <label>group type and public group id are not null</label>
        </rules>
    </decisions>
    <description>processed after an attendee is created to share the attendee records to faculties based on the event group&apos;s Campus or Faculty</description>
    <environments>Default</environments>
    <interviewLabel>BT_Faculty_Attendee_Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BT Faculty Attendee Share</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attendee_Share_record</name>
        <label>Create Attendee Share record</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>BT_Attendee_Faculty_Share__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>publicgroupid</elementReference>
            </value>
        </inputAssignments>
        <object>conference360__Attendee__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND({!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False ,ISBLANK( {!$Record.conference360__Event__c}) = False)</filterFormula>
        <object>conference360__Attendee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>fetch_public_group_id</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>groupType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>publicgroupid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
