force-app/main/default/flows/Case_AU_Set_Redirection_Key.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Nebula_Log</name>
        <label>Create Nebula Log</label>
        <locationX>1370</locationX>
        <locationY>923</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Case_AU_Set_Redirection_Key</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unable to set Redirection Key</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>Set Redirection Key</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>Email Redirection</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Enquiry_Type</name>
        <label>Assign Enquiry Type</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Enquiry_Redirection_Key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enquiry_Type_and_Group</name>
        <label>Assign Enquiry Type and Group</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Enquiry_Redirection_Key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Enquiry_Type__c}{!$Record.Group__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Faculty</name>
        <label>Assign Faculty</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Enquiry_Redirection_Key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Faculty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Faculty_and_School</name>
        <label>Assign Faculty and School</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Enquiry_Redirection_Key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Faculty__c}{!$Record.School__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MRO</name>
            <conditionLogic>1 AND ((2 OR 3) OR (4 AND (5 OR 6)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124a0000004SPRAA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Redirection_Key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MRO_Level_of_detail</targetReference>
            </connector>
            <label>MRO</label>
        </rules>
        <rules>
            <name>Faculty_Graduate_Research</name>
            <conditionLogic>1 AND ((2 OR 3) OR (4 AND (5 OR 6)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Oa000000zENpIAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Faculty__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Redirection_Key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Faculty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.School__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Faculty_Level_of_Detail</targetReference>
            </connector>
            <label>Faculty Graduate Research</label>
        </rules>
    </decisions>
    <decisions>
        <name>Faculty_Level_of_Detail</name>
        <label>Faculty Level of Detail</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Faculty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Faculty</defaultConnectorLabel>
        <rules>
            <name>Faculty_and_School</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Faculty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MNHS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Faculty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Science</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Faculty_and_School</targetReference>
            </connector>
            <label>Faculty and School</label>
        </rules>
    </decisions>
    <decisions>
        <name>MRO_Level_of_detail</name>
        <label>MRO Level of detail</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Enquiry_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enquiry Type</defaultConnectorLabel>
        <rules>
            <name>Enquiry_Type_and_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Enquiry_Type_and_Group</targetReference>
            </connector>
            <label>Enquiry Type and Group</label>
        </rules>
    </decisions>
    <description>Sets a unique key to identify the type of enquiry for determining whether to clone or not as part of Email Redirection functionality</description>
    <environments>Default</environments>
    <interviewLabel>Case : AU : Set Redirection Key {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : AU : Set Redirection Key</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_record</name>
        <label>Update record</label>
        <locationX>644</locationX>
        <locationY>815</locationY>
        <faultConnector>
            <targetReference>Create_Nebula_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Redirection_Key__c</field>
            <value>
                <elementReference>Enquiry_Redirection_Key</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False &amp;&amp; OR({!$Record.RecordType.DeveloperName} = &apos;MRO&apos;, {!$Record.RecordType.DeveloperName} = &apos;Faculty_Graduate_Research&apos;, {!$Record.RecordType.DeveloperName} = &apos;MGE_Enquiry&apos;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Enquiry_Redirection_Key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
