force-app/main/default/flows/Case_BS_Student_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkByPassFlag</name>
        <label>checkByPassFlag</label>
        <locationX>730</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>GetValidRTs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flag_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bByPassFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Flag=true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCitizenship</name>
        <label>checkCitizenship</label>
        <locationX>1898</locationX>
        <locationY>1451</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Domestic_Citizenship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOMESTIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudenTypeDOMCitizenship</targetReference>
            </connector>
            <label>Domestic Citizenship</label>
        </rules>
        <rules>
            <name>International_Citizenship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INTERNATIONAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudenTypeINTCitizenship</targetReference>
            </connector>
            <label>International Citizenship</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkContactProfile</name>
        <label>checkContactProfile</label>
        <locationX>1502</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>checkContactResidencyStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactProfileConflict</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Dom) [FSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Dom) [CSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Dom)- Mature [FSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Int) [CSI]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Int) [FSI]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>International Applicant [IA]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkContactResidencyStatus</targetReference>
            </connector>
            <label>ContactProfileConflict</label>
        </rules>
        <rules>
            <name>ContactProfileDomestic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Dom) [FSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Dom) [CSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Dom) [CSD]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeContactProfile</targetReference>
            </connector>
            <label>ContactProfileDomestic</label>
        </rules>
        <rules>
            <name>ContactProfileInternational</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Int) [CSI]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Int) [FSI]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>International Applicant [IA]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSTInternational</targetReference>
            </connector>
            <label>ContactProfileInternational</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkContactResidencyStatus</name>
        <label>checkContactResidencyStatus</label>
        <locationX>1502</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>checkCitizenship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactResidencyAU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Permanent Resident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand Citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Permanent Humanitarian</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM-AUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM-PR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM-NZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM-HV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudenTypeContactResidency</targetReference>
            </connector>
            <label>ContactResidencyAU</label>
        </rules>
        <rules>
            <name>Residency_INT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeToInternational</targetReference>
            </connector>
            <label>Residency=INT</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkLinkedContact</name>
        <label>checkLinkedContact</label>
        <locationX>1964</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactLinked_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkContactProfile</targetReference>
            </connector>
            <label>ContactLinked=true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkNationality</name>
        <label>checkNationality</label>
        <locationX>660</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>checkResidencyStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nationality_AU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplied_Nationality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUSTRALIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplied_Nationality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEW ZEALAND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeNationality</targetReference>
            </connector>
            <label>Nationality=AU</label>
        </rules>
        <rules>
            <name>Nationality_NOT_AU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplied_Nationality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplied_Nationality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AUSTRALIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeNationalityInt</targetReference>
            </connector>
            <label>Nationality NOT AU</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkResidencyStatus</name>
        <label>checkResidencyStatus</label>
        <locationX>1271</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>checkLinkedContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResidencyStatus_AU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Permanent Resident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand Citizen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeResidencyStatus</targetReference>
            </connector>
            <label>ResidencyStatus=AU</label>
        </rules>
        <rules>
            <name>ResidencyStatus_NOT_AU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Residency_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSTResidencyInt</targetReference>
            </connector>
            <label>ResidencyStatus NOT AU</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStudentType</name>
        <label>checkStudentType</label>
        <locationX>1675</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkValidRT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetValidRTs.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MonCon_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetValidRTs.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monash_Connect_Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkNationality</targetReference>
            </connector>
            <label>checkValidRT</label>
        </rules>
    </decisions>
    <description>Flow to automatically set Student Type based on Enquiry or Contact fields</description>
    <environments>Default</environments>
    <formulas>
        <name>bByPassFlag</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c}</expression>
    </formulas>
    <formulas>
        <name>txtContactProfile</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Current Student (Dom) CSD&apos;), &apos;Current Student (Dom) [CSD];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Future Student (Dom) FSD&apos;), &apos;Future Student (Dom) [FSD];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Future Student (Dom)- Mature FSD&apos;), &apos;Future Student (Dom)- Mature [FSD];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Current Student (Int) CSI&apos;), &apos;Current Student (Int) [CSI];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Future Student (Int) FSI&apos;), &apos;Future Student (Int) [FSI];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;International Applicant IA&apos;), &apos;International Applicant [IA];&apos;, null)</expression>
    </formulas>
    <interviewLabel>Case : BS : Set Student Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : BS : Student Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetValidRTs</name>
        <label>GetValidRTs</label>
        <locationX>1675</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkStudentType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSTInternational</name>
        <label>UpdateSTInternational</label>
        <locationX>1590</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSTResidencyInt</name>
        <label>UpdateSTResidencyInt</label>
        <locationX>842</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeContactProfile</name>
        <label>UpdateStudentTypeContactProfile</label>
        <locationX>1326</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeNationality</name>
        <label>UpdateStudentTypeNationality</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeNationalityInt</name>
        <label>UpdateStudentTypeNationalityInt</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeResidencyStatus</name>
        <label>UpdateStudentTypeResidencyStatus</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeToInternational</name>
        <label>UpdateStudentTypeToInternational</label>
        <locationX>1370</locationX>
        <locationY>1451</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudenTypeContactResidency</name>
        <label>UpdateStudenTypeContactResidency</label>
        <locationX>1106</locationX>
        <locationY>1451</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudenTypeDOMCitizenship</name>
        <label>UpdateStudenTypeDOMCitizenship</label>
        <locationX>1634</locationX>
        <locationY>1559</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudenTypeINTCitizenship</name>
        <label>UpdateStudenTypeINTCitizenship</label>
        <locationX>1898</locationX>
        <locationY>1559</locationY>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>604</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkByPassFlag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Student_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FeedItemBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Student Type changed to {!$Record.Student_Type__c} by Automated process.</text>
    </textTemplates>
</Flow>
