force-app/main/default/flows/CaseBSAssignMCRFields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckEnquiry</name>
        <label>Check Enquiry</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>NewCaseRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseTypeCategorisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>NewCaseRecord</label>
        </rules>
        <rules>
            <name>UpdateCaseRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseTypeCategorisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseTypeCategorisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase</targetReference>
            </connector>
            <label>UpdateCaseRecord</label>
        </rules>
        <rules>
            <name>MCRControlledFieldChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_Level_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_Level_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseCategorisationToNull</targetReference>
            </connector>
            <label>MCRControlledFieldChanged</label>
        </rules>
    </decisions>
    <description>When a value in the magic case reason field is selected update the enquiry type, category level 1 and category level 2. Also, if the enquiry type, category level 1 or category level 2 fields are changed, the magic case reason selection is cleared.</description>
    <environments>Default</environments>
    <formulas>
        <name>byPassFlowFlag</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Case : BS : Assign MCR Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : BS : Assign MCR Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetCaseCategorisationToNull</name>
        <label>SetCaseCategorisationToNull</label>
        <locationX>220</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>CaseTypeCategorisation__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Category_Level_1__c</field>
            <value>
                <elementReference>$Record.CaseTypeCategorisation__r.Category_Level_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Level_2__c</field>
            <value>
                <elementReference>$Record.CaseTypeCategorisation__r.Category_Level_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry_Type__c</field>
            <value>
                <elementReference>$Record.CaseTypeCategorisation__r.Enquiry_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckEnquiry</targetReference>
        </connector>
        <filterFormula>AND (
    {!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c}=false,
    (
        OR (ISCHANGED({!$Record.CaseTypeCategorisation__c})
        ,ISCHANGED({!$Record.Enquiry_Type__c})
        ,ISCHANGED({!$Record.Category_Level_1__c})
        ,ISCHANGED({!$Record.Category_Level_2__c})
        ,AND({!$Record.CaseTypeCategorisation__c}!=null,ISNEW()))
    )
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
