force-app/main/default/flows/Case_AS_Student_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkCitizenship</name>
        <label>checkCitizenship</label>
        <locationX>3746</locationX>
        <locationY>1469</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Domestic_Citizenship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOMESTIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDOMSTCitizenship</targetReference>
            </connector>
            <label>Domestic Citizenship</label>
        </rules>
        <rules>
            <name>International_Citizenship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Citizenship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INTERNATIONAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateINTSTCitizenship</targetReference>
            </connector>
            <label>International Citizenship</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkContactProfile</name>
        <label>checkContactProfile</label>
        <locationX>2954</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>checkContactResidencyStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactProfileConflict</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Dom) [FSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Dom) [CSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Dom)- Mature [FSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Int) [CSI]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Int) [FSI]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>International Applicant [IA]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkContactResidencyStatus</targetReference>
            </connector>
            <label>ContactProfileConflict</label>
        </rules>
        <rules>
            <name>ContactProfileDomestic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Dom) [FSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Dom) [CSD]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Dom) [CSD]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeContactProfile</targetReference>
            </connector>
            <label>ContactProfileDomestic</label>
        </rules>
        <rules>
            <name>ContactProfileInternational</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Current Student (Int) [CSI]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Future Student (Int) [FSI]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtContactProfile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>International Applicant [IA]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSTInternational</targetReference>
            </connector>
            <label>ContactProfileInternational</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkContactResidencyStatus</name>
        <label>checkContactResidencyStatus</label>
        <locationX>2954</locationX>
        <locationY>1361</locationY>
        <defaultConnector>
            <targetReference>checkCitizenship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactResidencyAU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Permanent Resident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand Citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Permanent Humanitarian</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM-AUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM-PR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM-NZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM-HV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudenTypeContactResidency</targetReference>
            </connector>
            <label>ContactResidencyAU</label>
        </rules>
        <rules>
            <name>Residency_INT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Residency_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeToInternational</targetReference>
            </connector>
            <label>Residency=INT</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEnquiryStatus</name>
        <label>checkEnquiryStatus</label>
        <locationX>4043</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_NotClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetValidRTs</targetReference>
            </connector>
            <label>Status!=Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkLinkedContact</name>
        <label>checkLinkedContact</label>
        <locationX>3746</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactLinked_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkContactProfile</targetReference>
            </connector>
            <label>ContactLinked=true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkNationality</name>
        <label>checkNationality</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>checkResidencyStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nationality_AU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplied_Nationality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUSTRALIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplied_Nationality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEW ZEALAND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeNationality</targetReference>
            </connector>
            <label>Nationality=AU</label>
        </rules>
        <rules>
            <name>Nationality_NOT_AU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplied_Nationality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplied_Nationality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AUSTRALIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeNationalityInt</targetReference>
            </connector>
            <label>Nationality NOT AU</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkResidencyStatus</name>
        <label>checkResidencyStatus</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>checkLinkedContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResidencyStatus_AU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Citizen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australian Permanent Resident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Residency_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand Citizen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStudentTypeResidencyStatus</targetReference>
            </connector>
            <label>ResidencyStatus=AU</label>
        </rules>
        <rules>
            <name>ResidencyStatus_NOT_AU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Residency_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSTResidencyInt</targetReference>
            </connector>
            <label>ResidencyStatus NOT AU</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStudentType</name>
        <label>checkStudentType</label>
        <locationX>3020</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkValidRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetValidRTs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkNationality</targetReference>
            </connector>
            <label>checkValidRT</label>
        </rules>
    </decisions>
    <description>Flow to automatically set Student Type based on Enquiry or Contact fields</description>
    <environments>Default</environments>
    <formulas>
        <name>bByPassFlag</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c}</expression>
    </formulas>
    <formulas>
        <name>txtContactProfile</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Current Student (Dom) CSD&apos;), &apos;Current Student (Dom) [CSD];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Future Student (Dom) FSD&apos;), &apos;Future Student (Dom) [FSD];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Future Student (Dom)- Mature FSD&apos;), &apos;Future Student (Dom)- Mature [FSD];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Current Student (Int) CSI&apos;), &apos;Current Student (Int) [CSI];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;Future Student (Int) FSI&apos;), &apos;Future Student (Int) [FSI];&apos;, null) &amp;
IF(INCLUDES({!$Record.Contact.Contact_Profile__c}, &apos;International Applicant IA&apos;), &apos;International Applicant [IA];&apos;, null)</expression>
    </formulas>
    <interviewLabel>Case : AS : Student Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : AS : Student Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createErrorRecord</name>
        <label>createErrorRecord</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>Flow Fault - Update Student Type.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Flow: Record-Trigger: Enquiry After Save (StudentType)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Enquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Update Student Type field.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createFeedItem</name>
        <label>createFeedItem</label>
        <locationX>1238</locationX>
        <locationY>2153</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>FeedItemBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetValidRTs</name>
        <label>GetValidRTs</label>
        <locationX>3020</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkStudentType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Feature__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>StudentType</stringValue>
            </value>
        </filters>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType_DeveloperName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>System_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDOMSTCitizenship</name>
        <label>UpdateDOMSTCitizenship</label>
        <locationX>3218</locationX>
        <locationY>1577</locationY>
        <connector>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateINTSTCitizenship</name>
        <label>UpdateINTSTCitizenship</label>
        <locationX>3746</locationX>
        <locationY>1577</locationY>
        <connector>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSTInternational</name>
        <label>UpdateSTInternational</label>
        <locationX>3042</locationX>
        <locationY>1079</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSTResidencyInt</name>
        <label>UpdateSTResidencyInt</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeContactProfile</name>
        <label>UpdateStudentTypeContactProfile</label>
        <locationX>2514</locationX>
        <locationY>1079</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeNationality</name>
        <label>UpdateStudentTypeNationality</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeNationalityInt</name>
        <label>UpdateStudentTypeNationalityInt</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeResidencyStatus</name>
        <label>UpdateStudentTypeResidencyStatus</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudentTypeToInternational</name>
        <label>UpdateStudentTypeToInternational</label>
        <locationX>2690</locationX>
        <locationY>1469</locationY>
        <connector>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>International</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStudenTypeContactResidency</name>
        <label>UpdateStudenTypeContactResidency</label>
        <locationX>2162</locationX>
        <locationY>1469</locationY>
        <connector>
            <targetReference>createFeedItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createErrorRecord</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <stringValue>Domestic</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3917</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkEnquiryStatus</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c}=False</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FeedItemBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Student Type changed to {!$Record.Student_Type__c} by Automated process.</text>
    </textTemplates>
</Flow>
