force-app/main/default/flows/Clause_Revision_AS_Update_Clause_Fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Updating_Clause_Clause_version_last_update_field</name>
        <label>Error Updating Clause - Clause version last update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error updating Clause version last update field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <elementReference>Update_Clause_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue> Clause Revision flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>API Name of the flow</description>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clause_Revision_AS_Update_Clause_Fields</stringValue>
        </value>
    </constants>
    <description>Update fields on parent Clause  record - Clause version last update. Migrated from Clause Revision Initiator PB</description>
    <environments>Default</environments>
    <formulas>
        <description>Current Date/Time</description>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Clause Revision : AS : Update Clause Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clause Revision : AS : Update Clause Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update field on parent record</description>
        <name>Update_Clause_Record</name>
        <label>Update Clause Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Updating_Clause_Clause_version_last_update_field</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Clause_version_last_update__c</field>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Clause__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Clause_Record</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False</filterFormula>
        <object>APXT_Redlining__Clause_Revision__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
