force-app/main/default/flows/Contact_Document_AI_Release_ACP_On_Hold.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACP_Query_Fault</name>
        <label>ACP Query Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contact_Document_AI_Release_ACP_On_Hold</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Get ACP Records on Hold</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ACP_Update_Fault</name>
        <label>ACP Update Fault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contact_Document_AI_Release_ACP_On_Hold</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Update ACP to release</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_ACP</name>
        <label>Update ACP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UpdateACPFromContactDocumentFlow</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>ACP_Update_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>acpList</name>
            <value>
                <elementReference>ACPRecordListForUpdate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateACPFromContactDocumentFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ACP_Values</name>
        <label>Assign ACP Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_each_ACP.Workflow_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_each_ACP.Release_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multipleReleaseReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACPRecordListForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_each_ACP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_each_ACP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_MUDocs</name>
        <label>Assign to MUDocs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Completed_Sort.Workflow_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Completed_Sort.Release_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New document attached to application.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Completed_Sort.Owner_Team__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Completed_Sort.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MUDocs_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACPRecordListForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Completed_Sort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Completed_Sort</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Completed_ACPs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Completed ACPs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Completed_ACPs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ACPRecordsFetched</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Completed_ACPs.Workflow_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Sort_Completed_ACPs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_In_Progress_ACPs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter In Progress ACPs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_In_Progress_ACPs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ACPRecordsFetched</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_In_Progress_ACPs.Workflow_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Pending</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_In_Progress_ACPs.Workflow_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>In Progress</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_In_Progress_ACPs.Workflow_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Released</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_In_Progress_ACPs.Workflow_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>On Hold</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_if_In_progress_ACPs_exists</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_On_Hold_ACPs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter On Hold ACPs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_On_Hold_ACPs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ACPRecordsFetched</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_On_Hold_ACPs.Workflow_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>On Hold</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_On_Hold_ACPs.Workflow_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Released</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_if_ACP_records_exists</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Completed_ACPs</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Completed ACPs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Completed_ACPs</collectionReference>
        <connector>
            <targetReference>Get_MUDocs_Queue_Id</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastModifiedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_if_ACP_records_exists</name>
        <label>Check if ACP records exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Filter_In_Progress_ACPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACP records not found</defaultConnectorLabel>
        <rules>
            <name>ACP_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_On_Hold_ACPs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_each_ACP</targetReference>
            </connector>
            <label>ACP records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_In_progress_ACPs_exists</name>
        <label>Check if In progress ACPs exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>In Progress ACPs Exists</defaultConnectorLabel>
        <rules>
            <name>No_In_progress_ACPs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_In_Progress_ACPs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Completed_ACPs</targetReference>
            </connector>
            <label>No In progress ACPs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_update_records_available</name>
        <label>Check if update records available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>ACPRecordListForUpdate is empty</defaultConnectorLabel>
        <rules>
            <name>ACPRecordListForUpdate_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACPRecordListForUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecordListForUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACP</targetReference>
            </connector>
            <label>ACPRecordListForUpdate is not empty</label>
        </rules>
    </decisions>
    <description>This flow releases the ACP on Hold when a Contact Document is uploaded against the ACP&apos;s application</description>
    <environments>Default</environments>
    <formulas>
        <description>check if there is already a release reason then add &apos;&amp; other reason&apos; text</description>
        <name>multipleReleaseReason</name>
        <dataType>String</dataType>
        <expression>If(!ISBLANK({!Loop_for_each_ACP.Release_Reason__c}) &amp;&amp; ISPICKVAL({!Loop_for_each_ACP.Workflow_Status__c}, &apos;Released&apos;), &apos;New document attached to application &amp; other reason.&apos;, &apos;New document attached to application.&apos;)</expression>
    </formulas>
    <interviewLabel>Contact Document : AI : Release ACP On Hold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Document : AI : Release ACP On Hold</label>
    <loops>
        <name>Loop_Completed_Sort</name>
        <label>Loop Completed Sort</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Completed_ACPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_MUDocs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_update_records_available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_each_ACP</name>
        <label>Loop for each ACP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_On_Hold_ACPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ACP_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_update_records_available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>ACP records related to Application</description>
        <name>Get_ACP_Records</name>
        <label>Get ACP Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_On_Hold_ACPs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ACP_Query_Fault</targetReference>
        </faultConnector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </filters>
        <object>Application_Course_Preference__c</object>
        <outputReference>ACPRecordsFetched</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Workflow_Status__c</queriedFields>
        <queriedFields>Release_Reason__c</queriedFields>
        <queriedFields>Owner_Team__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MUDocs_Queue_Id</name>
        <label>Get MUDocs Queue Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Completed_Sort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CENTRAL_ADMISSIONS_MUDocs</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ACP_Records</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False &amp;&amp; {!$Record.Application__c} != NULL</filterFormula>
        <object>Contact_Document__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACPRecordListForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>ACPRecordsFetched</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Completed_ACPs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_In_Progress_ACPs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_On_Hold_ACPs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
</Flow>
