force-app/main/default/flows/DoI_Enquiry_SME_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Comment</name>
        <label>Assign Case Comment</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>getEnquiry.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q1a</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEnquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Status_Open</name>
        <label>Assign Case Status Open</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>getEnquiry.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getEnquiry.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q1a</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEnquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Close_Task</name>
        <label>Assign Close Task</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>getSMETask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSMETask.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>| [{!$Flow.CurrentDate} - {!$User.Full_Name__c} - {!Q1a}]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSMETask</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>cYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Open_Tasks</name>
        <label>Decision Open Tasks</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>getAnySMETask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSMETask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_SME_Review_Task</targetReference>
            </connector>
            <label>outcome Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Enquiry</name>
        <label>Decision Update Enquiry</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Update_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpenSMETasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Status_Open</targetReference>
            </connector>
            <label>Update Enquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Complete</name>
        <label>Referral Complete</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Referral_Complete_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nav_ref_complete.fire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Open</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DOI SME Flow (Version 2.0)</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_Case_Ext_DoI_URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_570}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_570})) &amp; {!getDoIDetails.Id}</expression>
    </formulas>
    <interviewLabel>DoI - Enquiry - SME Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DoI - Enquiry - SME Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAnySMETask</name>
        <label>getAnySMETask</label>
        <locationX>1502</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_SME_No_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDoIDetails</name>
        <label>getDoIDetails</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSMETask</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Debug</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CE_Enquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Ext_DoI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnquiry</name>
        <label>getEnquiry</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDoIDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Debug</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpenSMETasks</name>
        <label>getOpenSMETasks</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Update_Enquiry</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Debug</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124Y000000ITpCQAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSMETask</name>
        <label>getSMETask</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Open_Tasks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Debug</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Status_Open</name>
        <label>Update Case Status Open</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEnquiry.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEnquiry</name>
        <label>updateEnquiry</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Debug</targetReference>
        </faultConnector>
        <inputReference>getEnquiry</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSMETask</name>
        <label>updateSMETask</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>getOpenSMETasks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Debug</targetReference>
        </faultConnector>
        <inputReference>getSMETask</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Debug</name>
        <label>Screen Debug</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dtxt_Debug</name>
            <fieldText>&lt;p&gt;{!tt_debug}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_SME_No_Task</name>
        <label>screen SME No Task</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Referral_Complete</targetReference>
        </connector>
        <fields>
            <name>dtxt_NoTask</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;SME Support&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;This case has been referred to an SME and is being reviewed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screen_SME_No_Task_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_SME_No_Task_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtxt_NoTask_ref_complete</name>
                    <fieldText>&lt;p&gt;If your post has been responded to and you are ready to work on this declaration, please click on “Referral Complete” in the bottom right.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>nav_ref_complete</name>
                    <extensionName>c:navigationButtonFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Referral Complete</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variantType</name>
                        <value>
                            <stringValue>brand</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variantType2</name>
                        <value>
                            <stringValue>brand</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label2</name>
                        <value>
                            <stringValue>Refresh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rightJustify</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getEnquiry.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referred</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAnySMETask.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>nav_refresh</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>rightJustify</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>NOT(1 AND 2)</conditionLogic>
                <conditions>
                    <leftValueReference>getEnquiry.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referred</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAnySMETask.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SME_Review_Task</name>
        <label>screen SME Review Task</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Close_Task</targetReference>
        </connector>
        <fields>
            <name>dtxt_SupportRequested</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;SME Support (Action Required)&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been assigned a Declaration of Interest Task from {!getEnquiry.Owner:User.FirstName} to support their assessment and management of risks associated with their staff member’s declaration.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Summary of request:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;Topic: {!getSMETask.Type}&lt;/p&gt;&lt;p&gt;Subject: {!getSMETask.Subject}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(200, 0, 142);&quot;&gt;Request for Support: {!getSMETask.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To review the details of the declaration click the &quot;View Declaration&quot; button on the left.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Tip!: All correspondence related to this declaration are available from the ‘Most Recent Activity’ panel below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Q1a</name>
            <fieldText>Q1. Based on your review of the request for support and the declaration information, please provide a response/advice to the Head of Unit by entering text in the box below.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtxt_SMEQ1a</name>
            <fieldText>&lt;p&gt;Please ensure you also provide a note if you are unable to assist on this matter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your message will only be visible to&amp;nbsp;the relevant Head of Unit, Faculty or Portfolio leader, Monash HR and subject matter experts from the University responsible for managing Declarations and Management Plans&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(200, 0, 143);&quot;&gt;By selecting ‘Complete’ your response (support, feedback or advice) will be provided to the Head of Unit who is responsible for final assessment of the declaration and any associated management plan.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEnquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_debug</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;---------- &lt;/strong&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;Start Debug &lt;/strong&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;---------- ----------&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;System Info&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;Current Date/Time: &lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;Start Date/Time: &lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.InterviewStartTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;Fault: &lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;---------- &lt;/strong&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;End Debug ---------- &lt;/strong&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;----------&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
