force-app/main/default/flows/Engage_Enterprise_Update_Funding_Amount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the primary funder as false for the previous primary funder record</description>
        <name>Copy_1_of_Remove_the_existing_primary_funder</name>
        <label>Copy 1 of Remove the existing primary funder</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Primary_Funder.Primary_Funder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Previous_Funder_to_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the primary funder to true for the existing related funder record where opportunity account is equal to the funding funder</description>
        <name>Copy_1_of_Set_Primary_Funder_To_True</name>
        <label>Copy 1 of Set Primary Funder To True</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Funder_Record.Primary_Funder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Existing_Related_Primary_Funder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the primary funder as false for the previous primary funder record</description>
        <name>Remove_the_existing_primary_funder</name>
        <label>Remove the existing primary funder</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Primary_Funder.Primary_Funder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Previous_Funder_to_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the primary funder to true for the existing related funder record where opportunity account is equal to the funding funder</description>
        <name>Set_Primary_Funder_To_True</name>
        <label>Set Primary Funder To True</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Funder_Record.Primary_Funder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Related_Primary_Funder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check which field in the opportunity is updated</description>
        <name>Check_Opportunity_Update</name>
        <label>Check Opportunity Update</label>
        <locationX>1304</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Amount_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Amount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Funder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Funder_Found</targetReference>
            </connector>
            <label>Opportunity Amount Updated</label>
        </rules>
        <rules>
            <name>Opportunity_Primary_Account_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration - Mix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Funder_Not_Equal_to_the_Primary_Account</targetReference>
            </connector>
            <label>Opportunity Primary Account Updated</label>
        </rules>
        <rules>
            <name>Opportunity_Close_with_Do_not_Change_Close_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_change_close_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Close_Date</targetReference>
            </connector>
            <label>Opportunity Close with Do not Change Close Date</label>
        </rules>
        <rules>
            <name>Opportunity_Closed_With_Change_Date</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Do_not_change_close_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_change_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Close_Date_with_Date_Today</targetReference>
            </connector>
            <label>Opportunity Closed With Change Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is already a funding record related to the new opportunity account</description>
        <name>Is_Funder_Found_Based_on_New_Opportunity_Primary_Account</name>
        <label>Is Funder Found Based on New Opportunity Primary Account</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Create_Funding_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funder_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Funder_Record.Funder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Funder_Record.Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Funder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Funder_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Remove_the_existing_primary_funder</targetReference>
            </connector>
            <label>Funder found on existing related funder records</label>
        </rules>
        <rules>
            <name>Funder_found_with_no_Primary_Funder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Funder_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Funder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Funder_Record.Funder__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Funder_Record.Opportunity__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Primary_Funder_To_True</targetReference>
            </connector>
            <label>Funder found with no Primary Funder</label>
        </rules>
        <rules>
            <name>Primary_Founder_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Funder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_the_existing_primary_funder</targetReference>
            </connector>
            <label>Primary Founder Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if there is a primary funder</description>
        <name>Is_Primary_Funder_Found</name>
        <label>Is Primary Funder Found</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Funder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applied_Amount</targetReference>
            </connector>
            <label>Update Amount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if opportunity account is not equal to the primary funder account</description>
        <name>Is_Primary_Funder_Not_Equal_to_the_Primary_Account</name>
        <label>Is Primary Funder Not Equal to the Primary Account</label>
        <locationX>1304</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Funder_not_equal_to_Opportunity_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Primary_Funder.Funder__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Funder_Record</targetReference>
            </connector>
            <label>Primary Funder not equal to Opportunity Account</label>
        </rules>
    </decisions>
    <description>Engage Enterprise - Update applied amount of the primary funder record when opportunity amount is updated</description>
    <environments>Default</environments>
    <interviewLabel>Update Funding Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Engage Enterprise Update Funding Amount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create funding record for the new opportunity account</description>
        <name>Copy_1_of_Create_Funding_Records</name>
        <label>Copy 1 of Create Funding Records</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Applied_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funder__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Funder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Funding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create funding record for the new opportunity account</description>
        <name>Create_Funding_Records</name>
        <label>Create Funding Records</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Applied_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funder__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Funder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Funding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get funding record where Primary Funder is set as true</description>
        <name>Get_Primary_Funder</name>
        <label>Get Primary Funder</label>
        <locationX>1304</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Funder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Funder_Record</name>
        <label>Get Related Funder Record</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Funder_Found_Based_on_New_Opportunity_Primary_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the existing related funder record as primary finder</description>
        <name>Copy_1_of_Update_Existing_Related_Primary_Funder</name>
        <label>Copy 1 of Update Existing Related Primary Funder</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <inputReference>Get_Related_Funder_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the existing previous funder record to false</description>
        <name>Copy_1_of_Update_Previous_Funder_to_False</name>
        <label>Copy 1 of Update Previous Funder to False</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Set_Primary_Funder_To_True</targetReference>
        </connector>
        <inputReference>Get_Primary_Funder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update opportunity amount based on the primary funders applied amount</description>
        <name>Update_Applied_Amount</name>
        <label>Update Applied Amount</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary_Funder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applied_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Fundings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update do not change stage to true if opportunity is closed</description>
        <name>Update_Do_not_Change_Stage</name>
        <label>Update Do not Change Stage</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_not_change_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_not_change_Stage__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the existing related funder record as primary finder</description>
        <name>Update_Existing_Related_Primary_Funder</name>
        <label>Update Existing Related Primary Funder</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <inputReference>Get_Related_Funder_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update opportunity close date when opportunity is closed</description>
        <name>Update_Opportunity_Close_Date</name>
        <label>Update Opportunity Close Date</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record__Prior.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the opportunity close date with date today.</description>
        <name>Update_Opportunity_Close_Date_with_Date_Today</name>
        <label>Update Opportunity Close Date with Date Today</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Do_not_Change_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_not_change_close_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the existing previous funder record to false</description>
        <name>Update_Previous_Funder_to_False</name>
        <label>Update Previous Funder to False</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Funding_Records</targetReference>
        </connector>
        <inputReference>Get_Primary_Funder</inputReference>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Funder</targetReference>
        </connector>
        <filterFormula>AND({!$Record.RecordType.DeveloperName} = &apos;Enterprise&apos;, {!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable that holds the primary funder record to true</description>
        <name>ExistingPrimaryFunder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
