force-app/main/default/flows/Form_Submisison_BS_Assignment_Rule.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignExchangeAppQueue</name>
        <label>AssignExchangeAppQueue</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AO_Exchanges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QueueName_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMCIAppQueue</name>
        <label>AssignMCIAppQueue</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AO_MGCIs</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QueueName_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStudyTourQueue</name>
        <label>AssignStudyTourQueue</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AO_Study_Tours</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QueueName_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Owner_of_Record</name>
        <label>Update Owner of Record</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_for_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Program_Type</name>
        <label>Check Program Type</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>QueueName_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Study_Tour</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Study Tours (GST)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Co-Curricular Experience (GCE)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Immersion Guarantee (GIG)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Work Integrated Learning (GWIL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStudyTourQueue</targetReference>
            </connector>
            <label>Study Tour</label>
        </rules>
        <rules>
            <name>MGCI_App</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monash Global Campus Intensives in Malaysia (MGCI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monash Global Campus Intensives in Prato (MGCI)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMCIAppQueue</targetReference>
            </connector>
            <label>MGCI App</label>
        </rules>
        <rules>
            <name>Exchange_App</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semester exchange (EXC)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Intercampus Program semester in Malaysia (GIP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Intercampus Program semester in Australia (GIP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Summer and Winter short term programs (GSP/GWP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Study Abroad (ISA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AO_Program_Form_Map__r.AO_Program__r.AO_Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Independent Research (GIR)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignExchangeAppQueue</targetReference>
            </connector>
            <label>Exchange App</label>
        </rules>
    </decisions>
    <decisions>
        <name>QueueName_Exists</name>
        <label>QueueName Exists</label>
        <locationX>446</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_for_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Flow will identify the right program type before assigning the Submission to right queue</description>
    <environments>Default</environments>
    <interviewLabel>Form Submisison : BS : Assignment Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Form Submisison : BS : Assignment Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue_for_Assignment</name>
        <label>Get Queue for Assignment</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_of_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Program_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AO_Program_Form_Map__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AO_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AO_Form_Submission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
