force-app/main/default/flows/JBSystemFlow_SBQQ_Quote_c.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_FireJBTrigger</name>
        <label>SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;SBQQ__PrimaryContact__c&quot;,&quot;relationshipName&quot;:&quot;SBQQ__PrimaryContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7301771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;SBQQ__Quote__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Offer_Type__c&quot;,&quot;Agent_Email__c&quot;,&quot;SBQQ__Status__c&quot;,&quot;Published_Date__c&quot;,&quot;Offer_Duration__c&quot;,&quot;Offer_has_grant__c&quot;,&quot;Managing_Faculty__c&quot;,&quot;Offer_has_scholarship__c&quot;,&quot;Calculated_Expiry_Date__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SBQQ__PrimaryContact__r&quot;,&quot;dePrefix&quot;:&quot;SBQQ__Quote__c:SBQQ__PrimaryContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_FireJBTrigger</name>
        <label>SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;SBQQ__PrimaryContact__c&quot;,&quot;relationshipName&quot;:&quot;SBQQ__PrimaryContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7301771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;SBQQ__Quote__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Offer_Type__c&quot;,&quot;Agent_Email__c&quot;,&quot;SBQQ__Status__c&quot;,&quot;Calculated_Expiry_Date__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SBQQ__PrimaryContact__r&quot;,&quot;dePrefix&quot;:&quot;SBQQ__Quote__c:SBQQ__PrimaryContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4</name>
        <label>JB_Decision_Null_Check_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</targetReference>
            </connector>
            <label>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</name>
        <label>JB_Decision_Null_Check_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_Decision</name>
        <label>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4</name>
            <conditionLogic>(1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preview Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_State_change_Decision</name>
        <label>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4</name>
            <conditionLogic>NOT  (1 AND  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preview Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_Decision</name>
        <label>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</name>
            <conditionLogic>(1 AND  ( (2 OR 3)  OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_State_change_Decision</name>
        <label>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</name>
            <conditionLogic>NOT  (1 AND  ( (2 OR 3)  OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjd2f36c1f286d648cb3ca329c9558cc96</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_SBQQ_Quote_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjcac1b75f1f1b2bc13286b8dfff28c5e4</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
