force-app/main/default/flows/JBSystemFlow_Document_Requested_c.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjbdc7738c3a3f163346116b48db18882d_FireJBTrigger</name>
        <label>SalesforceObjbdc7738c3a3f163346116b48db18882d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Applicant__c&quot;,
  &quot;relationshipName&quot;: &quot;Applicant__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Document_Requested__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjbdc7738c3a3f163346116b48db18882d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7297893</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Document_Requested__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Applicant__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Applicant__r&quot;,&quot;dePrefix&quot;:&quot;Document_Requested__c:Applicant__r:&quot;,&quot;fields&quot;:[&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjbdc7738c3a3f163346116b48db18882d</name>
        <label>JB_Decision_Null_Check_SalesforceObjbdc7738c3a3f163346116b48db18882d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Applicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Decision</name>
        <label>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjbdc7738c3a3f163346116b48db18882d</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Document_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjbdc7738c3a3f163346116b48db18882d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjbdc7738c3a3f163346116b48db18882d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_State_change_Decision</name>
        <label>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjbdc7738c3a3f163346116b48db18882d</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Document_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbdc7738c3a3f163346116b48db18882d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjbdc7738c3a3f163346116b48db18882d</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Document_Requested_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjbdc7738c3a3f163346116b48db18882d</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document_Requested__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Document_Requested__c</objectType>
    </variables>
</Flow>
