force-app/main/default/flows/JBSystemFlow_CampaignMember.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj5a4603f0537072f86e65b1b921618cd4_FireJBTrigger</name>
        <label>SalesforceObj5a4603f0537072f86e65b1b921618cd4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja6c5602a6ec8904052b9ac7f173b1725</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja6c5602a6ec8904052b9ac7f173b1725</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Common&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5a4603f0537072f86e65b1b921618cd4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7297893</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email_to_Send__c&quot;,&quot;Correct_First_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contacts and Leads&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Common:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Campaign:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;From__c&quot;,&quot;Reply_To__c&quot;,&quot;Message_Header__c&quot;,&quot;Email_Template__c&quot;,&quot;Custom_Message__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja6c5602a6ec8904052b9ac7f173b1725_FireJBTrigger</name>
        <label>SalesforceObja6c5602a6ec8904052b9ac7f173b1725_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;ContactId&quot;,
  &quot;relationshipName&quot;: &quot;Contact&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja6c5602a6ec8904052b9ac7f173b1725</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7301771</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;ContactId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Lead&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Active_Lead_Contact_Id__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb61656009dff193ab2aa42200a0dd459_FireJBTrigger</name>
        <label>SalesforceObjb61656009dff193ab2aa42200a0dd459_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5a4603f0537072f86e65b1b921618cd4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5a4603f0537072f86e65b1b921618cd4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb61656009dff193ab2aa42200a0dd459</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7297893</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;ContactId&quot;,&quot;CampaignId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Person_ID__c&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Campaign:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Reply_To__c&quot;,&quot;Campaign_Id__c&quot;,&quot;Reply_To_Name__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5a4603f0537072f86e65b1b921618cd4</name>
        <label>JB_Decision_Null_Check_SalesforceObj5a4603f0537072f86e65b1b921618cd4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja6c5602a6ec8904052b9ac7f173b1725</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObja6c5602a6ec8904052b9ac7f173b1725</targetReference>
            </connector>
            <label>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja6c5602a6ec8904052b9ac7f173b1725</name>
        <label>JB_Decision_Null_Check_SalesforceObja6c5602a6ec8904052b9ac7f173b1725</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja6c5602a6ec8904052b9ac7f173b1725_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObja6c5602a6ec8904052b9ac7f173b1725_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja6c5602a6ec8904052b9ac7f173b1725_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja6c5602a6ec8904052b9ac7f173b1725_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja6c5602a6ec8904052b9ac7f173b1725_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb61656009dff193ab2aa42200a0dd459</name>
        <label>JB_Decision_Null_Check_SalesforceObjb61656009dff193ab2aa42200a0dd459</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5a4603f0537072f86e65b1b921618cd4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj5a4603f0537072f86e65b1b921618cd4</targetReference>
            </connector>
            <label>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_Decision</name>
        <label>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja6c5602a6ec8904052b9ac7f173b1725</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5a4603f0537072f86e65b1b921618cd4</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  AND  (5 AND 6) )  AND  (7 AND 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Send</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign.Total_Members__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5a4603f0537072f86e65b1b921618cd4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5a4603f0537072f86e65b1b921618cd4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_State_change_Decision</name>
        <label>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja6c5602a6ec8904052b9ac7f173b1725</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj5a4603f0537072f86e65b1b921618cd4</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5a4603f0537072f86e65b1b921618cd4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj5a4603f0537072f86e65b1b921618cd4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja6c5602a6ec8904052b9ac7f173b1725_Decision</name>
        <label>JB_SalesforceObja6c5602a6ec8904052b9ac7f173b1725_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja6c5602a6ec8904052b9ac7f173b1725</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7010I000000Xk7YQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja6c5602a6ec8904052b9ac7f173b1725_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja6c5602a6ec8904052b9ac7f173b1725</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Decision</name>
        <label>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5a4603f0537072f86e65b1b921618cd4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb61656009dff193ab2aa42200a0dd459</name>
            <conditionLogic>( (1 AND 2)  And  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124a0000004IkBAAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb61656009dff193ab2aa42200a0dd459_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb61656009dff193ab2aa42200a0dd459</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_State_change_Decision</name>
        <label>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj5a4603f0537072f86e65b1b921618cd4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb61656009dff193ab2aa42200a0dd459</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb61656009dff193ab2aa42200a0dd459_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb61656009dff193ab2aa42200a0dd459</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_CampaignMember</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjb61656009dff193ab2aa42200a0dd459</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
