force-app/main/default/flows/Lead_AI_Lead_Management.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Log_1</name>
        <label>Create Log 1</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Lead_AI_Lead_Management</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to Get/Update Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Volunteer_Signup_Notification_Email_Alert_Lead</name>
        <label>Volunteer Signup Notification Email Alert - Lead</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>Lead.Volunteer_Signup_Notification_Email_Alert_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Volunteer_Signup_Thank_You_Email_Alert_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Volunteer_Signup_Notification_Email_Alert_Lead</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Volunteer_Signup_Thank_You_Email_Alert_Lead</name>
        <label>Volunteer Signup Thank You Email Alert - Lead</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>Lead.Volunteer_Signup_Thank_You_Email_Alert_Lead</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Volunteer_Signup_Thank_You_Email_Alert_Lead</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Validate_Lead_Record</name>
        <label>Validate Lead Record</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_Web_SR_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web - SR Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Company_to_Student</targetReference>
            </connector>
            <label>Source = Web - SR Event</label>
        </rules>
        <rules>
            <name>Volunteer_Signup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Volunteer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Sign Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Task_RT</targetReference>
            </connector>
            <label>Volunteer Signup</label>
        </rules>
    </decisions>
    <description>WF Rule: Created - Web - SR Event [EPCP-4521]</description>
    <environments>Default</environments>
    <interviewLabel>Lead : AI : Lead Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead : AI : Lead Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Lead_Task</name>
        <label>Lead Task</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Volunteer_Signup_Notification_Email_Alert_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Log_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Default_Task_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Volunteer Signup Thank You Sent - Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Task_RT</name>
        <label>Get Default Task RT</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update company field record to Student.</description>
        <name>Update_Company_to_Student</name>
        <label>Update Company to Student</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Log_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Lead_Record</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
