force-app/main/default/flows/Live_Person_Chat_Transcript_AU_Sync_linked_Enquiries.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Log any exceptions when triggering Enquiry Update</description>
        <name>Create_Nebula_Log</name>
        <label>Create Nebula Log</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Update_Linked_Enquiry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>&quot;Error triggering when Live Person Chat Transcript record is updated&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Enquiry__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Live Person Chat Transcript update Status to sync linked Enquiry</description>
    <environments>Default</environments>
    <interviewLabel>Live Person Chat Transcript : AU : Sync linked Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Live Person Chat Transcript : AU : Sync linked Enquiries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>The linked Enquiry field is to be updated</description>
        <name>Update_Linked_Enquiry</name>
        <label>Update Linked Enquiry</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <faultConnector>
            <targetReference>Create_Nebula_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LivePerson_User_Auto_Closed__c</field>
            <value>
                <elementReference>$Record.Ended_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Enquiry__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Linked_Enquiry</targetReference>
        </connector>
        <filterFormula>AND(
	{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false,
        ISCHANGED({!$Record.Ended_By__c}),
       {!$Record.Enquiry__c} != null
)</filterFormula>
        <object>Live_Person_Chat_Transcript__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
