force-app/main/default/flows/Lookup_Query_AS_Set_ExternalId.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Update_External_Id</name>
        <label>Error Update External Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Lookup Query : AS : Set ExternalId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Update External Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Validate_Lookup_Query</name>
        <label>Validate Lookup Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>External Id Not Null</defaultConnectorLabel>
        <rules>
            <name>External_Id_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_external_Id</targetReference>
            </connector>
            <label>External Id Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpdateOrgId</name>
        <dataType>String</dataType>
        <expression>$Organization.Id &amp;&quot;_&quot;&amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Lookup Query : AS : Set ExternalId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Query : AS : Set ExternalId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_external_Id</name>
        <label>Set external Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Update_External_Id</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>UpdateOrgId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Lookup_Query</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False</filterFormula>
        <object>SBQQ__LookupQuery__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
