force-app/main/default/flows/Manual_Vaccination_Proof.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Boosted_Brand_Incoming</name>
        <label>Set Boosted Brand Incoming</label>
        <locationX>644</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>BoostedBrandIncoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VaccinationDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fully_Vaccinated_Brand_Incoming</name>
        <label>Set Fully Vaccinated Brand Incoming</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>FullyVaccinatedBrandIncoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Boosted_Event</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BoostedBrandOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Other</elementReference>
        </value>
    </choices>
    <choices>
        <name>FullyVaccinatedBrandOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Other</elementReference>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Boosted_Event_DML</name>
        <label>Boosted Event DML</label>
        <locationX>776</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Vaccination_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Boosted - Record Does Not Exist And No Details Provided</defaultConnectorLabel>
        <rules>
            <name>Boosted_Record_Exists_And_Details_Provided</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedBrandNewOther</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedBrand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedBrand</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Boosted_Date_Provided_0</targetReference>
            </connector>
            <label>Boosted - Record Exists And Details Provided</label>
        </rules>
        <rules>
            <name>Boosted_Record_Exists_And_No_Details_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedBrand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Boosted_Event</targetReference>
            </connector>
            <label>Boosted - Record Exists And No Details Provided</label>
        </rules>
        <rules>
            <name>Boosted_Record_Does_Not_Exist_And_Details_Provided</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedBrandNewOther</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedBrand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedBrand</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BoostedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Boosted_Date_Provided</targetReference>
            </connector>
            <label>Boosted - Record Does Not Exist And Details Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fully_Vaccinated_Event_DML</name>
        <label>Fully Vaccinated Event DML</label>
        <locationX>776</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Boosted_Event_DML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fully Vaccinated - Record Does Not Exist And No Details Provided</defaultConnectorLabel>
        <rules>
            <name>Fully_Vaccinated_Record_Exists_And_Details_Provided</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedBrandNewOther</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedBrand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedBrand</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Fully_Vaccinated_Date_Provided</targetReference>
            </connector>
            <label>Fully Vaccinated - Record Exists And Details Provided</label>
        </rules>
        <rules>
            <name>Fully_Vaccinated_Record_Exists_And_No_Details_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedBrand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Fully_Vaccinated_Event</targetReference>
            </connector>
            <label>Fully Vaccinated - Record Exists And No Details Provided</label>
        </rules>
        <rules>
            <name>Fully_Vaccinated_Record_Does_Not_Exist_And_Details_Provided</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedBrandNewOther</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedBrand</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedBrand</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullyVaccinatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Fully_Vaccinated_Date_Provided_0</targetReference>
            </connector>
            <label>Fully Vaccinated - Record Does Not Exist And Details Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Permission</name>
        <label>Has Permission</label>
        <locationX>1161</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Access_Restricted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Manual_Vaccination_Proof</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fully_Vaccinated_Event</targetReference>
            </connector>
            <label>Yes - Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Boosted_Brand_Custom</name>
        <label>Is Boosted Brand Custom</label>
        <locationX>776</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>VaccinationDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Boosted_Brand_Is_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BBIP-CorV (Sinopharm)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Comirnaty (Pfizer)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Coronvac (Sinovac)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Covaxin (Bharat Biotech)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Covishield (AstraZeneca/Serum Institute of India)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nuvaxovid (Novavax)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spikevax (Moderna)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vaxzevria (AstraZeneca)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gamaleya Sputnik V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Boosted_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COVID-19 Vaccine Janssen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Boosted_Brand_Incoming</targetReference>
            </connector>
            <label>Yes - Boosted Brand Is Custom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Boosted_Date_Provided</name>
        <label>Is Boosted Date Provided</label>
        <locationX>974</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Create_Boosted_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Boosted_Date_Not_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BoostedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boosted_Date_Not_Provided</targetReference>
            </connector>
            <label>No - Boosted Date Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Boosted_Date_Provided_0</name>
        <label>Is Boosted Date Provided</label>
        <locationX>182</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Update_Boosted_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Boosted_Date_Not_Provided_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BoostedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boosted_Date_Not_Provided_0</targetReference>
            </connector>
            <label>No - Boosted Date Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fully_Vaccinated_Brand_Custom</name>
        <label>Is Fully Vaccinated Brand Custom</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Boosted_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Fully_Vaccinated_Brand_Is_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BBIP-CorV (Sinopharm)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Comirnaty (Pfizer)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Coronvac (Sinovac)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Covaxin (Bharat Biotech)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Covishield (AstraZeneca/Serum Institute of India)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nuvaxovid (Novavax)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spikevax (Moderna)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vaxzevria (AstraZeneca)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gamaleya Sputnik V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COVID-19 Vaccine Janssen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fully_Vaccinated_Brand_Incoming</targetReference>
            </connector>
            <label>Yes - Fully Vaccinated Brand Is Custom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fully_Vaccinated_Date_Provided</name>
        <label>Is Fully Vaccinated Date Provided</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Update_Fully_Vaccinated_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Fully_Vaccinated_Date_Not_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FullyVaccinatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fully_Vaccinated_Date_Not_Provided</targetReference>
            </connector>
            <label>No - Fully Vaccinated Date Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fully_Vaccinated_Date_Provided_0</name>
        <label>Is Fully Vaccinated Date Provided</label>
        <locationX>974</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Create_Fully_Vaccinated_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Fully_Vaccinated_Date_Not_Provided_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FullyVaccinatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fully_Vaccinated_Date_Not_Provided_0</targetReference>
            </connector>
            <label>No - Fully Vaccinated Date Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vaccination_Event_Found</name>
        <label>Vaccination Event Found</label>
        <locationX>776</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Update_Case_To_Open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Vaccination_Event.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VaccinationBrands</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vaccination_Brand__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FinalizedBoostedBrand</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!BoostedBrand}), {!BoostedBrand} == &apos;Other&apos;), {!BoostedBrandNewOther}, {!BoostedBrand})</expression>
    </formulas>
    <formulas>
        <name>FinalizedFullyVaccinatedBrand</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!FullyVaccinatedBrand}), {!FullyVaccinatedBrand} == &apos;Other&apos;), {!FullyVaccinatedBrandNewOther}, {!FullyVaccinatedBrand})</expression>
    </formulas>
    <interviewLabel>Manual Vaccination Proof {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Vaccination Proof</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Boosted_Event</name>
        <label>Create Boosted Event</label>
        <locationX>1106</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_Latest_Vaccination_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>BoostedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Vaccination_Event_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>COVID-19 Boosted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaccination_Brand__c</field>
            <value>
                <elementReference>FinalizedBoostedBrand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fully_Vaccinated_Event</name>
        <label>Create Fully Vaccinated Event</label>
        <locationX>1106</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Boosted_Event_DML</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FullyVaccinatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Vaccination_Event_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>COVID-19 Fully Vaccinated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaccination_Brand__c</field>
            <value>
                <elementReference>FinalizedFullyVaccinatedBrand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Boosted_Event</name>
        <label>Delete Boosted Event</label>
        <locationX>578</locationX>
        <locationY>2102</locationY>
        <connector>
            <targetReference>Get_Latest_Vaccination_Event</targetReference>
        </connector>
        <inputReference>Get_Boosted_Event</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Fully_Vaccinated_Event</name>
        <label>Delete Fully Vaccinated Event</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Boosted_Event_DML</targetReference>
        </connector>
        <inputReference>Get_Fully_Vaccinated_Event</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Boosted_Event</name>
        <label>Get Boosted Event</label>
        <locationX>776</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Boosted_Brand_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COVID-19 Boosted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fully_Vaccinated_Event</name>
        <label>Get Fully Vaccinated Event</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Fully_Vaccinated_Brand_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COVID-19 Fully Vaccinated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Vaccination_Event</name>
        <label>Get Latest Vaccination Event</label>
        <locationX>776</locationX>
        <locationY>2534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vaccination_Event_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vaccination_Event_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vaccination_Event_Record_Type</name>
        <label>Get Vaccination Event Record Type</label>
        <locationX>776</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fully_Vaccinated_Event_DML</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vaccination</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Boosted_Event</name>
        <label>Update Boosted Event</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_Latest_Vaccination_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Boosted_Event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>BoostedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Vaccination_Event_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>COVID-19 Boosted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaccination_Brand__c</field>
            <value>
                <elementReference>FinalizedBoostedBrand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>644</locationX>
        <locationY>2774</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Get_Latest_Vaccination_Event.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Level_1__c</field>
            <value>
                <stringValue>COVID-19 Vaccination Proof</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Level_2__c</field>
            <value>
                <stringValue>Recognised Document</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commencement_Date__c</field>
            <value>
                <elementReference>Get_Latest_Vaccination_Event.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_To_Open</name>
        <label>Update Case To Open</label>
        <locationX>908</locationX>
        <locationY>2774</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Level_1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Level_2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Commencement_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fully_Vaccinated_Event</name>
        <label>Update Fully Vaccinated Event</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Boosted_Event_DML</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fully_Vaccinated_Event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FullyVaccinatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Vaccination_Event_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>COVID-19 Fully Vaccinated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaccination_Brand__c</field>
            <value>
                <elementReference>FinalizedFullyVaccinatedBrand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Access_Restricted</name>
        <label>Access Restricted</label>
        <locationX>1546</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccessRestrictedMessage</name>
            <fieldText>&lt;p&gt;You do not have access to access this feature. Please reach out to your System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Boosted_Date_Not_Provided</name>
        <label>Boosted - Date Not Provided</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Latest_Vaccination_Event</targetReference>
        </connector>
        <fields>
            <name>BoostedDateNotProvidedMessage</name>
            <fieldText>&lt;p&gt;You must provide the &quot;Date&quot; if providing the &quot;Brand&quot; when submitting &quot;Boosted&quot; details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Boosted_Date_Not_Provided_0</name>
        <label>Boosted - Date Not Provided</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Latest_Vaccination_Event</targetReference>
        </connector>
        <fields>
            <name>BoostedDateNotProvidedMessage_0</name>
            <fieldText>&lt;p&gt;You must provide the &quot;Date&quot; if providing the &quot;Brand&quot; when submitting &quot;Boosted&quot; details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fully_Vaccinated_Date_Not_Provided</name>
        <label>Fully Vaccinated - Date Not Provided</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Boosted_Event_DML</targetReference>
        </connector>
        <fields>
            <name>FullyVaccinatedDateNotProvidedMessage</name>
            <fieldText>&lt;p&gt;You must provide the &quot;Date&quot; if providing the &quot;Brand&quot; when submitting &quot;Fully Vaccinated&quot; details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fully_Vaccinated_Date_Not_Provided_0</name>
        <label>Fully Vaccinated - Date Not Provided</label>
        <locationX>842</locationX>
        <locationY>1670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Boosted_Event_DML</targetReference>
        </connector>
        <fields>
            <name>FullyVaccinatedDateNotProvidedMessage_0</name>
            <fieldText>&lt;p&gt;You must provide the &quot;Date&quot; if providing the &quot;Brand&quot; when submitting &quot;Fully Vaccinated&quot; details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VaccinationDetails</name>
        <label>Vaccination Details</label>
        <locationX>776</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Vaccination_Event_Record_Type</targetReference>
        </connector>
        <fields>
            <name>FullyVaccinatedHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;FULLY VACCINATED DETAILS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VaccinationDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VaccinationDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullyVaccinatedBrandExisting</name>
                    <fieldText>&lt;p&gt;Existing Brand: {!Get_Fully_Vaccinated_Event.Vaccination_Brand__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FullyVaccinatedBrand</name>
                    <choiceReferences>VaccinationBrands</choiceReferences>
                    <choiceReferences>FullyVaccinatedBrandOther</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FullyVaccinatedBrandIncoming</elementReference>
                    </defaultValue>
                    <fieldText>New Brand:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FullyVaccinatedBrandNewOther</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>New Brand Value:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FullyVaccinatedBrand</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VaccinationDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullyVaccinatedDateExisting</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Existing Date: &lt;/span&gt;{!Get_Fully_Vaccinated_Event.ActivityDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FullyVaccinatedDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Fully_Vaccinated_Event.ActivityDate</elementReference>
                    </defaultValue>
                    <fieldText>New Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BoostedHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;BOOSTED DETAILS&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VaccinationDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VaccinationDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BoostedBrandExisting</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Existing Brand: &lt;/span&gt;{!Get_Boosted_Event.Vaccination_Brand__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BoostedBrand</name>
                    <choiceReferences>VaccinationBrands</choiceReferences>
                    <choiceReferences>BoostedBrandOther</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BoostedBrandIncoming</elementReference>
                    </defaultValue>
                    <fieldText>New Brand:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BoostedBrandNewOther</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Boosted_Event.Vaccination_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>New Brand Value:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BoostedBrand</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VaccinationDetails_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BoostedDateExisting</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Existing Date: &lt;/span&gt;{!Get_Boosted_Event.ActivityDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BoostedDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Boosted_Event.ActivityDate</elementReference>
                    </defaultValue>
                    <fieldText>New Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1035</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BoostedBrandIncoming</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Boosted_Event.Vaccination_Brand__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>FullyVaccinatedBrandIncoming</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Fully_Vaccinated_Event.Vaccination_Brand__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
