force-app/main/default/flows/MRO_Opportunity_Creation_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account_Record</name>
        <label>Set Account Record</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>oAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Variables</name>
        <label>Set Account Variables</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>vAccountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>listOfAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Enquiry_Fields</name>
        <label>Set Enquiry Fields</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FAS_Express_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Enquiry_Fields2</name>
        <label>Set Enquiry Fields</label>
        <locationX>787</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Enquiry_Fields3</name>
        <label>Set Enquiry Fields</label>
        <locationX>908</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Enquiry_Fields4</name>
        <label>Set Enquiry Fields</label>
        <locationX>1612</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchDuplicateOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Enquiry_Fields5</name>
        <label>Set Enquiry Fields</label>
        <locationX>336</locationX>
        <locationY>2912</locationY>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oEnquiryRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MRO_Ext_Variables</name>
        <label>Set MRO Ext Variables</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vPureApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Pure_Application_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountDUNS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.DB_DUNS_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPureAwardId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Pure_Award_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPureProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Pure_Project_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPureSubProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Sub_Project_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vComplexity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Complexity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFunderRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Funder_Ref__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Funding_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLeadCollaborator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Lead_Collaborator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNoOfCollaborator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.No_of_Collaborators__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOGCRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.OGC_Ref__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vApplicationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MRO_Ext_Record.Application_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields</name>
        <label>Set Opportunity Fields</label>
        <locationX>336</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_AccountName.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Application_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.PURE_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Pure_Application_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Funder_Ref__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Funder_Ref</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Lead_Collaborator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Lead_Collaborator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.No_of_Collaborators__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_No_of_Collaborators</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Opportunity_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.PURE_Award_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Pure_Award_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Sub_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Pure_Sub_Project_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Pure_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Pure_Project_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Monash_System_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Pure_Application_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunityRT2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields2</name>
        <label>Set Opportunity Fields</label>
        <locationX>787</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.PURE_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Application_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Funder_Ref__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funder_Ref</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Lead_Collaborator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Collaborator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.No_of_Collaborators__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Collaborators</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.PURE_Award_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Award_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Sub_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Sub_Project_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Pure_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Project_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Monash_System_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Application_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunityRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields_for_Update</name>
        <label>Set Opportunity Fields for Update</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Application_Type_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Funder_Ref__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Funder_Ref_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Lead_Collaborator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Lead_Collaborator_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.No_of_Collaborators__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_No_of_Collaborators_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.OGC_Ref_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_OGC_Ref_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.PURE_Award_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Pure_Award_Id_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Sub_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Pure_Sub_Project_Id_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Pure_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Pure_Project_Id_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Name_of_funding_scheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAS_Funding_Opportunity_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields_for_Update2</name>
        <label>Set Opportunity Fields for Update</label>
        <locationX>908</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Type_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Funder_Ref__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funder_Ref_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Lead_Collaborator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Collaborator_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.No_of_Collaborators__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Collaborators_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.PURE_Award_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Award_Id_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Sub_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Sub_Project_Id_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Pure_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Project_Id_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Name_of_funding_scheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Opportunity_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.PURE_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPureAppIdMonashSystemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.Monash_System_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPureAppIdMonashSystemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_RT</name>
        <label>Set Opportunity RT</label>
        <locationX>787</locationX>
        <locationY>3578</locationY>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_RT2</name>
        <label>Set Opportunity RT2</label>
        <locationX>336</locationX>
        <locationY>2696</locationY>
        <assignmentItems>
            <assignToReference>oOpportunityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityRT2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Variables</name>
        <label>Set Opportunity Variables</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vPureApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.PURE_Application_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountDUNS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Account.DBC_DUNS_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPureAwardId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.PURE_Award_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPureProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Pure_Project_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPureSubProjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Sub_Project_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFunderRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Funder_Ref__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFundingOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Name_of_funding_scheme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLeadCollaborator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Lead_Collaborator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNoOfCollaborator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.No_of_Collaborators__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vApplicationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Application_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAccountRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oAccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMonashSystemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchExistingOpportunity.Monash_System_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Express_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_1</name>
        <label>Set Variables</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vPureApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Pure_Application_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchExistingOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_2</name>
        <label>Set Variables</label>
        <locationX>1942</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>vPureApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pure_Application_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchDuplicateOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CaseOrigin</name>
        <label>CaseOrigin</label>
        <locationX>787</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SearchAccountOpportunityScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAS_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry_Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web - Monash Forms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MRO_Ext_Record</targetReference>
            </connector>
            <label>FAS Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>FAS_Express_Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>listOfAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>One Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Details</name>
        <label>Check Account Details</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DUNS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountDUNS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_By_DUNS</targetReference>
            </connector>
            <label>DUNS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MRO_Ext_Record</name>
        <label>Check MRO Ext Record</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Express_Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MROExtRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MRO_Ext_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MRO_Ext_Variables</targetReference>
            </connector>
            <label>MROExtRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Record</name>
        <label>Check Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>FAS_Express_Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpportunityFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enquiry_Fields</targetReference>
            </connector>
            <label>OpportunityFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFaultError</name>
        <label>CheckFaultError</label>
        <locationX>2173</locationX>
        <locationY>3794</locationY>
        <defaultConnector>
            <targetReference>recordFault_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DuplicateRecord</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DUPLICATE_VALUE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pure_ID__c duplicates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_2</targetReference>
            </connector>
            <label>DuplicateRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>DuplicateOpportunityFound</name>
        <label>DuplicateOpportunityFound</label>
        <locationX>1942</locationX>
        <locationY>4118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchDuplicateOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen2</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingOpportunityFound</name>
        <label>ExistingOpportunityFound</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Express_Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchExistingOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Variables</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>LinkDuplicateOpportunity</name>
        <label>LinkDuplicateOpportunity??</label>
        <locationX>1744</locationX>
        <locationY>4334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link_Duplicate_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseDuplicateOpportunity.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enquiry_Fields4</targetReference>
            </connector>
            <label>Link Duplicate Opportunity</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Application_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Application_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Complexity_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complexity__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Group_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Group__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Collaborator_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Collaborator__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opportunity_Category_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opportunity_Visibility_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Visibility_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>createAccountURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_500}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_500})) &amp; &apos;lightning/o/Account/new&apos;</expression>
    </formulas>
    <formulas>
        <name>FAS_Opportunity_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!FAS_Pure_Application_Id}+ &apos; - &apos;+{!FAS_AccountName.recordName}</expression>
    </formulas>
    <formulas>
        <name>Opportunity_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!Search_Pure_Application_Id}+ &apos; - &apos;+{!AccountName.recordName}</expression>
    </formulas>
    <formulas>
        <name>vPureAppIdMonashSystemId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!vPureApplicationId}), {!vMonashSystemId}, {!vPureApplicationId})</expression>
    </formulas>
    <interviewLabel>MRO Opportunity Creation Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MRO Opportunity Creation Screen Flow</label>
    <loops>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>listOfAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>787</locationX>
        <locationY>3686</locationY>
        <connector>
            <targetReference>Set_Enquiry_Fields2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CheckFaultError</targetReference>
        </faultConnector>
        <inputReference>oOpportunityRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity2</name>
        <label>Create Opportunity</label>
        <locationX>336</locationX>
        <locationY>2804</locationY>
        <connector>
            <targetReference>Set_Enquiry_Fields5</targetReference>
        </connector>
        <inputReference>oOpportunityRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>recordFault_0</name>
        <label>recordFault_0</label>
        <locationX>2668</locationX>
        <locationY>3578</locationY>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>FLOW FAULT - recordFault_0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Flow: MRO Opportunity Creation Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>RecordType</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Querying RT from Record Type Object</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>recordFault_1</name>
        <label>recordFault_1</label>
        <locationX>2404</locationX>
        <locationY>3902</locationY>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>FLOW FAULT - recordFault_1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Flow: MRO Opportunity Creation Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Creating new opportunity record.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>recordFault_2</name>
        <label>recordFault_2</label>
        <locationX>1348</locationX>
        <locationY>4010</locationY>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>FLOW FAULT - recordFault_2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Flow: MRO Opportunity Creation Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Enquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Update Enquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_By_DUNS</name>
        <label>Get Account By DUNS</label>
        <locationX>204</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DBC_DUNS_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountDUNS</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>listOfAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DBC_DUNS_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>468</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>listOfAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DBC_DUNS_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry_Record</name>
        <label>Get Enquiry Record</label>
        <locationX>787</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseOrigin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MRO_Ext_Record</name>
        <label>Get MRO Ext Record</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MRO_Ext_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MRO_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Ext_MRO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PURE_Application_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPureApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityRT</name>
        <label>GetOpportunityRT</label>
        <locationX>787</locationX>
        <locationY>3470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_RT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>recordFault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityRT2</name>
        <label>GetOpportunityRT</label>
        <locationX>336</locationX>
        <locationY>2588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_RT2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SearchDuplicateOpportunity</name>
        <label>SearchDuplicateOpportunity</label>
        <locationX>1942</locationX>
        <locationY>4010</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DuplicateOpportunityFound</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PURE_Application_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPureApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Monash_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPureApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SearchExistingOpportunity</name>
        <label>SearchExistingOpportunity</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingOpportunityFound</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PURE_Application_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPureApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Monash_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPureApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enquiry</name>
        <label>Update Enquiry</label>
        <locationX>787</locationX>
        <locationY>3902</locationY>
        <faultConnector>
            <targetReference>recordFault_2</targetReference>
        </faultConnector>
        <inputReference>oEnquiryRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
        <inputReference>oOpportunityRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity2</name>
        <label>Update Opportunity</label>
        <locationX>908</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Set_Enquiry_Fields3</targetReference>
        </connector>
        <inputReference>oOpportunityRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen2</name>
        <label>Error Screen</label>
        <locationX>1744</locationX>
        <locationY>4226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LinkDuplicateOpportunity</targetReference>
        </connector>
        <fields>
            <name>DuplicateOpportunityText2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Label.MRO_Duplicate_Opportunity_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Existing_Opportunity_Information</name>
            <fieldText>Existing Opportunity Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Existing_Opportunity_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_BlankLabel2</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OpportunityNameLabel2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Opportunity Name: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AccountNameLabel2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Account Name: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PureAppIdLabel2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;PURE Application Id: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Existing_Opportunity_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_BlankLabel1</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DuplicateOpportunityName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Search&lt;/span&gt;Duplicate&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunity.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DuplicateAccountName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!SearchDuplicateOpportunity.Account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DuplicatePureApplicationId</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Search&lt;/span&gt;Duplicate&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunity.PURE_Application_ID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>UseDuplicateOpportunity</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Link an existing Opportunity with the Enquiry.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Do you like to link an existing Opportunity to the Enquiry?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Existing_Opportunity_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Existing_Opportunity_Information_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Link Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Express_Create_Opportunity</name>
        <label>Express Create Opportunity</label>
        <locationX>787</locationX>
        <locationY>3254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opportunity_Fields2</targetReference>
        </connector>
        <fields>
            <name>DisplayText12</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Opportunity Information&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(195, 51, 51);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Express_Create_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Express_Create_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewOpportunityMessage1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;We have not found an opportunity with the details you provided. Please fill out the below details to create a new opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Express_Create_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Express_Create_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pure_Application_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureApplicationId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Application Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid value.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Application_Type</name>
                    <choiceReferences>Application_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Application Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Pure_Award_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Pure Award Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Pure_Project_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Pure Project Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Lead_Collaborator</name>
                    <choiceReferences>Lead_Collaborator_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lead Collaborator</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OGC_Ref</name>
                    <dataType>String</dataType>
                    <fieldText>OGC Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Express_Create_Opportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Funder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>vAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Funding_Opportunity</name>
                    <dataType>String</dataType>
                    <fieldText>Funding Opportunity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Funder_Ref</name>
                    <dataType>String</dataType>
                    <fieldText>Funder Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Pure_Sub_Project_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Pure Sub Project Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>No_of_Collaborators</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Collaborators</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create &amp; Link Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Express_Update_Opportunity</name>
        <label>Express Update Opportunity</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opportunity_Fields_for_Update2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_FAS_DisplayText12</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Opportunity Information&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(195, 51, 51);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Express_Update_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Express_Update_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_FASExistingUpdateText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;We found an existing opportunity with the details provided. Please verify the other details below and update the existing opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Express_Update_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Express_Update_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PureApplicationIdReadonly3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; Pure Application Id&lt;/p&gt;&lt;p&gt;{!vPureAppIdMonashSystemId}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Application_Type_Update</name>
                    <choiceReferences>Application_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vApplicationType</elementReference>
                    </defaultValue>
                    <fieldText>Application Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Pure_Award_Id_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureAwardId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Award Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Pure_Project_Id_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureProjectId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Project Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Lead_Collaborator_Update</name>
                    <choiceReferences>Lead_Collaborator_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vLeadCollaborator</elementReference>
                    </defaultValue>
                    <fieldText>Lead Collaborator</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OGC_Ref_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vOGCRef</elementReference>
                    </defaultValue>
                    <fieldText>OGC Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Express_Update_Opportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrimaryFunderReadonly3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; Primary Funder&lt;/p&gt;&lt;p&gt;{!oAccountRecord.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Pure_Sub_Project_Id_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureSubProjectId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Sub Project Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Funding_Opportunity_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vFundingOpportunity</elementReference>
                    </defaultValue>
                    <fieldText>Funding Opportunity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Funder_Ref_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vFunderRef</elementReference>
                    </defaultValue>
                    <fieldText>Funder Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>No_of_Collaborators_Update</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>vNoOfCollaborator</elementReference>
                    </defaultValue>
                    <fieldText>No of Collaborators</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Link Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FAS_Express_Create_Opportunity</name>
        <label>FAS Express Create Opportunity</label>
        <locationX>336</locationX>
        <locationY>2372</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
        <fields>
            <name>FAS_DisplayText12</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Opportunity Information&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(195, 51, 51);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FAS_Express_Create_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FAS_Express_Create_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MultipleAccountText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;We have not found an identical match on the primary funder with the details provided in the forms. Please search for the Primary funder below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vAccountCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FASAcountFound</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;We have not found an opportunity with the details you provided. Please fill out and verify the details below to create a new opportunity.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vAccountCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FASNoAccountFound</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;We have not found a primary funder with the details provided in the forms. Please create a new primary funder account. Click &lt;/span&gt;&lt;a href=&quot;{!createAccountURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt; to create a new account.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>vAccountCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FAS_Express_Create_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FAS_Express_Create_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FAS_Pure_Application_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureApplicationId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Application Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid value.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_Application_Type</name>
                    <choiceReferences>Application_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vApplicationType</elementReference>
                    </defaultValue>
                    <fieldText>Application Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_Pure_Award_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureAwardId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Award Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_Pure_Project_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureProjectId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Project Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_Lead_Collaborator</name>
                    <choiceReferences>Lead_Collaborator_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vLeadCollaborator</elementReference>
                    </defaultValue>
                    <fieldText>Lead Collaborator</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_OGC_Ref</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vOGCRef</elementReference>
                    </defaultValue>
                    <fieldText>OGC Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FAS_Express_Create_Opportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FAS_AccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Funder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>oAccountRecord.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_Funding_Opportunity</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vFundingOpportunity</elementReference>
                    </defaultValue>
                    <fieldText>Funding Opportunity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_Funder_Ref</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vFunderRef</elementReference>
                    </defaultValue>
                    <fieldText>Funder Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_Pure_Sub_Project_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureSubProjectId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Sub Project Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_No_of_Collaborators</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>vNoOfCollaborator</elementReference>
                    </defaultValue>
                    <fieldText>No of Collaborators</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create &amp; Link Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FAS_Express_Update_Opportunity</name>
        <label>FAS Express Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opportunity_Fields_for_Update</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_FAS_DisplayText12</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Opportunity Information&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(195, 51, 51);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FAS_Express_Update_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FAS_Express_Update_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FASExistingUpdateText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;We found an existing opportunity with the details provided. Please verify the other details below and update the existing opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FAS_Express_Update_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FAS_Express_Update_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PureApplicationIdReadonly2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; Pure Application Id&lt;/p&gt;&lt;p&gt;{!vPureApplicationId}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_Application_Type_Update</name>
                    <choiceReferences>Application_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vApplicationType</elementReference>
                    </defaultValue>
                    <fieldText>Application Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_Pure_Award_Id_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureAwardId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Award Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_Pure_Project_Id_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureProjectId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Project Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_Lead_Collaborator_Update</name>
                    <choiceReferences>Lead_Collaborator_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vLeadCollaborator</elementReference>
                    </defaultValue>
                    <fieldText>Lead Collaborator</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_OGC_Ref_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vOGCRef</elementReference>
                    </defaultValue>
                    <fieldText>OGC Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FAS_Express_Update_Opportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrimaryFunderReadonly2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; Primary Funder&lt;/p&gt;&lt;p&gt;{!oAccountRecord.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_Pure_Sub_Project_Id_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vPureSubProjectId</elementReference>
                    </defaultValue>
                    <fieldText>Pure Sub Project Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_Funding_Opportunity_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vFundingOpportunity</elementReference>
                    </defaultValue>
                    <fieldText>Funding Opportunity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FAS_Funder_Ref_Update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vFunderRef</elementReference>
                    </defaultValue>
                    <fieldText>Funder Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid input.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FAS_No_of_Collaborators_Update</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>vNoOfCollaborator</elementReference>
                    </defaultValue>
                    <fieldText>No of Collaborators</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Link Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SearchAccountOpportunityScreen</name>
        <label>SearchAccountOpportunityScreen</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Variables_1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DisplayText12</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Opportunity Information&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(195, 51, 51);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SearchAccountOpportunityScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SearchAccountOpportunityScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Search_Pure_Application_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Search_Pure_Application_Id</elementReference>
                    </defaultValue>
                    <fieldText>Pure Application Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid value.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Pure_Application_Id},&quot;[0-9]*&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchAccountOpportunityScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Search Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>661</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enquiry_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listOfAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oEnquiryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>oOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vAccountDUNS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vApplicationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vComplexity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFunderRef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFundingOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadCollaborator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMonashSystemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNoOfCollaborator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vOGCRef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPureApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPureAwardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPureProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPureSubProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
