force-app/main/default/flows/Opportunity_BS_Set_Owner_ID.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Owner Update required for Pure Opportunity</description>
        <name>CheckforOwnerUpdate</name>
        <label>CheckforOwnerUpdate</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerUpdateRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PURE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Broad_area_s_of_interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Art, Design and Architecture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>{!$Setup.PureSubscriptionList__c.UID__c}</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpportunityOwner</targetReference>
            </connector>
            <label>OwnerUpdateRequired</label>
        </rules>
    </decisions>
    <description>This flow detects changes to certain fields(Broad Area of Interest, Enterprise Record Type, Provenance) of Pure Opportunities created by MIX API user and assign owner id to the related opportunity.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity : BS : Set Owner ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : BS : Set Owner ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateOpportunityOwner</name>
        <label>UpdateOpportunityOwner</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.PureSubscriptionList__c.OID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckforOwnerUpdate</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false &amp;&amp; {!$Record.RecordType.DeveloperName} = &apos;Enterprise&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
