force-app/main/default/flows/Payment_Request_Item_AS_Fields_update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Update_Fields_For_Payable_Amount_Ex_GST_Changes</name>
        <label>Error Update Fields For Payable Amount Ex GST Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Update Fields For Payable Amount Ex GST Changes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Update_Fields_For_Payable_Amount_GST_Changes</name>
        <label>Error Update Fields For Payable Amount GST Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Update Fields For Payable Amount GST Changes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Update_Fields_For_Request_Amount_Ex_GST_Changes</name>
        <label>Error Update Fields For Request Amount Ex GST Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Update Fields For Request Amount Ex GST Changes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Update_Fields_For_Request_Amount_GST_Changes</name>
        <label>Error Update Fields For Request Amount GST Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Update Fields For Request Amount GST Changes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment Request Item : AS : Fields Update</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Payable_Amount_Ex_GST_Modified</name>
        <label>Payable Amount Ex GST Modified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Payable_Amount_GST_Modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payable Amount Ex GST Not Updated</defaultConnectorLabel>
        <rules>
            <name>Payable_Amount_Ex_GST_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payable_Amount_Ex_GST__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payable_Amount_Fields</targetReference>
            </connector>
            <label>Payable Amount Ex GST Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payable_Amount_GST_Modified</name>
        <label>Payable Amount GST Modified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Payable Amount GST Not Updated</defaultConnectorLabel>
        <rules>
            <name>Payable_Amount_GST_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payable_AmountGST__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payable_Amount_Ex_GST__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payable_Amount_Field</targetReference>
            </connector>
            <label>Payable Amount GST Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Amount_Ex_GST_Modified</name>
        <label>Requested Amount Ex GST Modified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Requested_Amount_GST_Modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Requested Amount Ex GST Not Updated</defaultConnectorLabel>
        <rules>
            <name>Requested_Amount_Ex_GST_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_Amount_Ex_GST__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Requested_and_Payable_Amount_Fields</targetReference>
            </connector>
            <label>Requested Amount Ex GST Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Amount_GST_Modified</name>
        <label>Requested Amount GST Modified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Payable_Amount_Ex_GST_Modified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Requested Amount GST Not Updated</defaultConnectorLabel>
        <rules>
            <name>Requested_Amount_GST_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_AmountGST__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Amount_Ex_GST__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Requested_and_Payable_Amount_Field</targetReference>
            </connector>
            <label>Requested Amount GST Updated</label>
        </rules>
    </decisions>
    <description>Calculate &amp; Update the values in Payment Request when there are changes</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculatePayableAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Invoice_GST_Inclusive__c},{!$Record.Requested_Amount_Ex_GST__c} * 1.1,{!$Record.Requested_Amount_Ex_GST__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>CalculatePayableAmountGST</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Invoice_GST_Inclusive__c},{!$Record.Requested_Amount_Ex_GST__c} * 0.1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>CalculateRequestedAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Invoice_GST_Inclusive__c} ,{!$Record.Requested_Amount_Ex_GST__c} * 1.1,{!$Record.Requested_Amount_Ex_GST__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>CalculateRequestedAmountGST</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Invoice_GST_Inclusive__c} , {!$Record.Requested_Amount_Ex_GST__c} * 0.1, 0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>ChangePayableAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Invoice_GST_Inclusive__c} ,{!$Record.Payable_Amount_Ex_GST__c} * 1.1,{!$Record.Payable_Amount_Ex_GST__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>ModifyPayableAmountGST</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Invoice_GST_Inclusive__c},{!$Record.Payable_Amount_Ex_GST__c} * 0.1,0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>ProcessPayableAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Payable_Amount_Ex_GST__c} + {!$Record.Payable_AmountGST__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>UpdatePayableAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Requested_Amount_Ex_GST__c} + {!$Record.Requested_AmountGST__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>UpdatePayableAmountExGST</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Requested_Amount_Ex_GST__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>UpdatePayableAmountGST</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Requested_AmountGST__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>UpdateRequestedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Requested_Amount_Ex_GST__c} + {!$Record.Requested_AmountGST__c}</expression>
        <scale>18</scale>
    </formulas>
    <interviewLabel>Payment Request Item : AS : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Request Item : AS : Fields update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Payable_Amount_Field</name>
        <label>Update Payable Amount Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Update_Fields_For_Payable_Amount_GST_Changes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Payable_Amount__c</field>
            <value>
                <elementReference>ProcessPayableAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payable_Amount_Fields</name>
        <label>Update Payable Amount Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Update_Fields_For_Payable_Amount_Ex_GST_Changes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Payable_AmountGST__c</field>
            <value>
                <elementReference>ModifyPayableAmountGST</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payable_Amount__c</field>
            <value>
                <elementReference>ChangePayableAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Requested_and_Payable_Amount_Field</name>
        <label>Update Requested and Payable Amount Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Update_Fields_For_Request_Amount_GST_Changes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Payable_AmountGST__c</field>
            <value>
                <elementReference>UpdatePayableAmountGST</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payable_Amount_Ex_GST__c</field>
            <value>
                <elementReference>UpdatePayableAmountExGST</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payable_Amount__c</field>
            <value>
                <elementReference>UpdatePayableAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Amount__c</field>
            <value>
                <elementReference>UpdateRequestedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Requested_and_Payable_Amount_Fields</name>
        <label>Update Requested and Payable Amount Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Update_Fields_For_Request_Amount_Ex_GST_Changes</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Payable_AmountGST__c</field>
            <value>
                <elementReference>CalculatePayableAmountGST</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payable_Amount_Ex_GST__c</field>
            <value>
                <elementReference>$Record.Requested_Amount_Ex_GST__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payable_Amount__c</field>
            <value>
                <elementReference>CalculatePayableAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_AmountGST__c</field>
            <value>
                <elementReference>CalculateRequestedAmountGST</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Amount__c</field>
            <value>
                <elementReference>CalculateRequestedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Requested_Amount_Ex_GST_Modified</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False</filterFormula>
        <object>Payment_Request_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
