force-app/main/default/flows/Process_COE_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_COE_Request_In_Callista</name>
        <label>Process COE Request In Callista</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <actionName>ProcessRequestForCOE</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SS_HTTPRequestSuccessful</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorMessageCallista</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>strCaseID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strCaseNumber</name>
            <value>
                <elementReference>SS_GetEnquiryRecord.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strCOEReason</name>
            <value>
                <elementReference>Reason_for_COE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strCourseCode</name>
            <value>
                <elementReference>Get_Selected_Course_Code.Course_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strOfficerName</name>
            <value>
                <elementReference>SS_GetEnquiryRecord.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strPersonID</name>
            <value>
                <elementReference>SS_GetEnquiryRecord.Contact.Person_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProcessRequestForCOE</nameSegment>
        <outputParameters>
            <assignToReference>SS_HTTPResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SS_AssignCaseCommentsFields</name>
        <label>Assign Case Comments Fields</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>SS_CaseCommentsSingleRecord.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS_CaseComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SS_CaseCommentsSingleRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SS_CreateCaseCommentsRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ReasonforCOEPicklist</name>
        <choiceText>{!Reason_for_COE}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <constants>
        <name>ReasonforCOELabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reason for COE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>SS_HTTPRequestSuccessful</name>
        <label>HTTP Request Successful</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>SS_AssignCaseCommentsFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SS_STATUSFAILED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SS_HTTPResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.SS_ProcessDiscontinuationFailedMessage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageCallista</targetReference>
            </connector>
            <label>STATUS=FAILED</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SS_CourseCodeCollection</name>
        <collectionReference>SS_GetAttemptedCourses</collectionReference>
        <dataType>String</dataType>
        <displayField>SS_CourseCodeDescription__c</displayField>
        <object>Course_Attempt__c</object>
        <valueField>SS_CourseCodeDescription__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SS_DiscontinuationReasonCollection</name>
        <collectionReference>Get_Reason_for_COE</collectionReference>
        <dataType>String</dataType>
        <displayField>Value__c</displayField>
        <object>List_of_Values__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Process COE Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process COE Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SS_CreateCaseCommentsRecord</name>
        <label>Create Case Comments Record</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <inputReference>SS_CaseCommentsSingleRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Reason_for_COE</name>
        <label>Get Reason for COE</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_COE_Request_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReasonforCOELabel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>List_of_Values__c</object>
        <sortField>System_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Course_Code</name>
        <label>Get Selected Course Code</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_COE_Request_In_Callista</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SS_CourseCodeDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SS_CourseCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SS_GetEnquiryRecord.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Attempt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Reason_for_COE</name>
        <label>Get Selected Reason for COE</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Course_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReasonforCOELabel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>List_of_Values__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SS_GetAttemptedCourses</name>
        <label>GetAttemptedCourses</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reason_for_COE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SS_GetEnquiryRecord.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Attempt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SS_GetEnquiryRecord</name>
        <label>Get Enquiry Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SS_GetAttemptedCourses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monash_Connect_Enquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Enquiry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current Course</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category_Level_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>International Visa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category_Level_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ErrorMessageCallista</name>
        <label>ErrorMessageCallista</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessagefromCallista</name>
            <fieldText>&lt;p&gt;{!SS_ErrorLabel}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Process</description>
        <name>Process_COE_Request_Screen</name>
        <label>Process_COE_Request_Screen</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Reason_for_COE</targetReference>
        </connector>
        <fields>
            <name>Process_COE_Request_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Process_COE_Request_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SS_EnquiryNumberLabel</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Enquiry Number&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SS_EnquiryNumber</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SS_GetEnquiryRecord.CaseNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SS_PersonIdLabel</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Person ID&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SS_PersonId</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SS_GetEnquiryRecord.Contact.Person_ID__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reason_for_COE</name>
                    <choiceReferences>SS_DiscontinuationReasonCollection</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>New CoE Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Help_Text</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(248, 248, 248); font-size: 14px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(238, 52, 14);&quot;&gt;For Transfer reason, please choose Discontinued Course Code.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(248, 248, 248); font-size: 14px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(238, 52, 14);&quot;&gt;For Intermit reason, please choose Intermit Course Code.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Reason_for_COE</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TRANSFER</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Reason_for_COE</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>INTERMIT</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SS_CourseCode</name>
                    <choiceReferences>SS_CourseCodeCollection</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Course Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;For Transfer reason, please choose Discontinued Course Code.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;For Intermit reason, please choose Intermit Course Code.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 OR 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Reason_for_COE</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TRANSFER</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Reason_for_COE</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>INTERMIT</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SS_UniCRMCaseOfficerNameLabel</name>
                    <fieldText>&lt;p&gt;UniCRM Case Officer Name&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SS_UniCRMCaseOfficerName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SS_GetEnquiryRecord.Owner:User.Full_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SS_GetEnquiryRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SS_CaseComments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.ProcessCOERequestSuccessMessage}
Case Number:  {!SS_GetEnquiryRecord.CaseNumber}
Person ID: {!SS_GetEnquiryRecord.Contact_Person_ID__c}
Reason for CoE: {!Reason_for_COE}
Discontinued Course Code: {!SS_CourseCode}
Officer Name: {!$User.Full_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>SS_ErrorLabel</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.SS_ProcessDiscontinuationFailedMessage}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SS_CaseCommentsSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>SS_HTTPResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
