force-app/main/default/flows/QA_Screen_Update_Result.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignResult</name>
        <label>AssignResult</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Qualification_Assessment.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Qualification_Assessment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Satisfactory</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>To_be_completed</name>
        <choiceText>To be completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To be completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unsatisfactory</name>
        <choiceText>Unsatisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsatisfactory</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>isSatisfied</name>
        <label>isSatisfied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Satisfied</defaultConnectorLabel>
        <rules>
            <name>Satisfied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Satisfactory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateACP</targetReference>
            </connector>
            <label>Satisfied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>QA : Screen : Update Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QA : Screen : Update Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the qualification assessment record to update.</description>
        <name>Get_Qualification_Assessment</name>
        <label>Get Qualification Assessment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Preference_Qualification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Qualification_Assessment</name>
        <label>Update Qualification Assessment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isSatisfied</targetReference>
        </connector>
        <inputReference>Get_Qualification_Assessment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateACP</name>
        <label>UpdateACP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Qualification_Assessment.Application_Course_Preference_Parent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>English_Entry_Mode__c</field>
            <value>
                <elementReference>Get_Qualification_Assessment.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Course_Preference__c</object>
    </recordUpdates>
    <screens>
        <name>Update_Result</name>
        <label>Update Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignResult</targetReference>
        </connector>
        <fields>
            <name>Qualification_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Qualification_Assessment.Qualification_Type__c</elementReference>
            </defaultValue>
            <fieldText>Qualification Type</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Qualification_Assessment.Type__c</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Result</name>
            <choiceReferences>Satisfactory</choiceReferences>
            <choiceReferences>Unsatisfactory</choiceReferences>
            <choiceReferences>To_be_completed</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Qualification_Assessment.Result__c</elementReference>
            </defaultValue>
            <fieldText>Result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Qualification_Assessment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
