force-app/main/default/flows/Quote_Line_AS_Handle_Quote_Line_operations.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_the_error</name>
        <label>Log the error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Updating Quote Line Record failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <elementReference>Scenario</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Scenario_for_error_logging</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setting Scholarship flag for newly added Quote Line failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_Decr_Quota</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decreasing Quota for Expired Grant failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_Decr_Quota_Scholarship</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decreasing Quota for Expired Scholarship failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_expi_date</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setting Expiry Date for newly added Quote Line failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_grant_flag</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setting Grant flag for newly added Quote Line failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_GrantExpired</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setting Quote&apos;s Product Status to &quot;Grant expired&quot; failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_Incr_Quota</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Increasing Quota for newly added QuoteLine failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_products_due_to_expire</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setting Quote&apos;s Product Status to &quot;Products due to expire&quot; failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_Scholarship_Expired</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Setting Quote&apos;s Product Status to &quot;Scholarship expired&quot; failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_X1_Grant_Expired</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X1 day :: Setting Quote&apos;s Product Status to &quot;Grant expired&quot; failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_X1_Scholarship_Expired</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X1 day :: Setting Quote&apos;s Product Status to &quot;Scholarship expired&quot; failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scenario_for_error_logging_X2_due_expiry</name>
        <label>Set Scenario for error logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Scenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2 days before :: Setting Quote&apos;s Product Status to &quot;Products due to expire&quot; failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_the_error</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Name of this flow</description>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote_Line_AS_Handle_Quote_Line_operations</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Expiring_Quote_Line_a_Grant_or_Scholarship</name>
        <label>Is the expiring Quote Line, a Grant or Scholarship ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scholarship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Published__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiry_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Product_Status_Due_To_Expire</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Quote Line is of Grant or Scholarship</description>
        <name>Grant_or_Scholarship</name>
        <label>Is the Expired Quote Line, a Grant or Scholarship ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Grant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Published__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiry_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Product_Status_Grant_expired</targetReference>
            </connector>
            <label>Grant</label>
        </rules>
        <rules>
            <name>Scholarship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scholarship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Published__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiry_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Product_Status_Scholarship_expired</targetReference>
            </connector>
            <label>Scholarship</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Grant_Quote_Line_Expired</name>
        <label>Has Grant Quote Line Expired ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Scholarship_Quote_Line_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>others</defaultConnectorLabel>
        <rules>
            <name>Grant_has_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired and regenerated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Product_Status_grant_expired</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Expired Grant</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Scholarship Quote Line Expired</description>
        <name>Has_Scholarship_Quote_Line_Expired</name>
        <label>Has Scholarship Quote Line Expired ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Grant_Quote_Line_was_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Expired</defaultConnectorLabel>
        <rules>
            <name>Scholarship_has_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scholarship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired and regenerated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Assigned_Quota</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Grant_Quote_Line_was_Added</name>
        <label>If Grant Quote Line was Added</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Added</defaultConnectorLabel>
        <rules>
            <name>Grant_Quote_Line_was_Added</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scholarship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Assigned_Quota</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_Line_Expiring</name>
        <label>Is Quote Line Expiring ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Grant_Quote_Line_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Expiring</defaultConnectorLabel>
        <rules>
            <name>Quote_Line_is_Expiring</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scholarship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired and regenerated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TwoDaysBeforeExpiry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Product_Status_Products_due_to_expire</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Expiring</label>
        </rules>
    </decisions>
    <description>Migrated from the following 
WF: 
- Quote Line - Scheduled Update Product Status - due to expire
- Quote Line Grant - Scheduled update Quote Product Status	
- Quote Line Scholarship - Scheduled update Quote Product Status	
PB:
- Quote Line Initiator CE</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedQuoteExpiryDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SBQQ__Quote__r.CreatedDate}  + {!$Record.SBQQ__Product__r.Expiry_days__c}</expression>
    </formulas>
    <formulas>
        <description>Increase Quota Assigned by 1</description>
        <name>IncreaseQuotaAssignedBy1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__Product__r.Quota_Assigned__c} +1</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <description>Reduce Quota Assigned by 1</description>
        <name>ReduceQuotaAssignedby1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__Product__r.Quota_Assigned__c} - 1</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <description>Today&apos;s Date</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Two days before the Expiry Date</description>
        <name>TwoDaysBeforeExpiry</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Expiry_Date__c} -2</expression>
    </formulas>
    <interviewLabel>Quote Line : AS : Handle Quote Line operations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line : AS : Handle Quote Line operations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Decrease_Assigned_Quota</name>
        <label>Decrease Assigned Quota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Product_Status_scholarship_expired</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_Decr_Quota_Scholarship</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capped</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Quota_Assigned__c</field>
            <value>
                <elementReference>ReduceQuotaAssignedby1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Product__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Decrease_Assigned_Quota_capped</name>
        <label>Decrease Assigned Quota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_Decr_Quota</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capped</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Quota_Assigned__c</field>
            <value>
                <elementReference>ReduceQuotaAssignedby1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Product__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Increase_Assigned_Quota</name>
        <label>Increase Assigned Quota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Expiry_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_Incr_Quota</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capped</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Quota_Assigned__c</field>
            <value>
                <elementReference>IncreaseQuotaAssignedBy1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Product__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Quote_Product_Status_Due_To_Expire</name>
        <label>Set Quote&apos;s Product Status to Due To Expire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_X2_due_expiry</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Product_Status_Modified__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Products due to expire</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Quote_Product_Status_Grant_expired</name>
        <label>Set Quote&apos;s Product Status to Grant expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_X1_Grant_Expired</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Product_Status_Modified__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Grant expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Quote_Product_Status_Scholarship_expired</name>
        <label>Set Quote&apos;s Product Status to Scholarship expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_X1_Scholarship_Expired</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Product_Status_Modified__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Scholarship expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expiry_Date</name>
        <label>Update Expiry Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Grant_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_expi_date</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>CalculatedQuoteExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Grant_Flag</name>
        <label>Update Grant Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Scholarship_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_grant_flag</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Grant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Scholarship__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Product_Status_grant_expired</name>
        <label>Set Quote&apos;s Product Status to Grant Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decrease_Assigned_Quota_capped</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_GrantExpired</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Grant expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired and regenerated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Status_Modified__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Grant expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Product_Status_Products_due_to_expire</name>
        <label>Set Quote&apos;s Product Status to Products due to expire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_products_due_to_expire</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Products due to expire</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired and regenerated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Status_Modified__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Products due to expire</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Product_Status_scholarship_expired</name>
        <label>Set Quote&apos;s Product Status to Scholarship expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging_Scholarship_Expired</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Scholarship expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired and regenerated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Status_Modified__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Status__c</field>
            <value>
                <stringValue>Scholarship expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scholarship_Flag</name>
        <label>Update Scholarship Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Set_Scenario_for_error_logging</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scholarship</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Grant__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Scholarship__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Quote_Line_Expiring</targetReference>
        </connector>
        <filterFormula>AND({!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False,
CONTAINS({!$Label.Bypass_Specific_Flow}, &quot;QuoteLineASHandleQuoteLineOperations&quot;) = false)</filterFormula>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_days_before_Quote_Line_Expiry</name>
            <connector>
                <targetReference>Expiring_Quote_Line_a_Grant_or_Scholarship</targetReference>
            </connector>
            <label>2 days before Quote Line Expiry</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Expiry_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_day_after_Quote_Line_Expiry</name>
            <connector>
                <targetReference>Grant_or_Scholarship</targetReference>
            </connector>
            <label>1 day after Quote Line Expiry</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Expiry_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Scenario in which the flow failed to run</description>
        <name>Scenario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
