force-app/main/default/flows/Record_Trigger_Enquiry_After_Save_MRO_Email_Notifications_Scheduled.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>446</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Enquiry_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <elementReference>senderType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Formula_Field_s</name>
        <label>Set Formula Field(s)</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>EnquiryOptionField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Options__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Enquiry_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_for_Application</name>
        <label>Set Template for Application</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed_Enquiry_Email_Application_Application_1701252381019</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryRecord.Options__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ClosedEmailSent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_for_Application_Retrospective</name>
        <label>Set Template for Application Retrospective</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed_Enquiry_Email_Application_Retrospective_1701252338380</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryRecord.Options__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ClosedEmailSent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_For_Awards_Major_Award</name>
        <label>Set Template For Awards Major Award</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed_Enquiry_Email_1698213762104</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnquiryRecord.Options__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ClosedEmailSent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Owner is MRO Staff + Cat 1 = Variation/Transfer in/Transfer Out/ Report/ Close out + Enquiry Type = Awards / Majors + Status = In progress, Enquiry contact type is “Known to Monash” and Case reopened = False</description>
        <name>Check_Enquiry_Record</name>
        <label>Check Enquiry Record</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Award_MajorAward</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>formula_ClosedEmailSentOption</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ClosedEmailSent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_Level_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_Level_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Establishment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_For_Awards_Major_Award</targetReference>
            </connector>
            <label>Type=Award-MajorAward</label>
        </rules>
        <rules>
            <name>Type_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_ClosedEmailSentOption</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ClosedEmailSent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_Level_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_for_Application</targetReference>
            </connector>
            <label>Type=Application</label>
        </rules>
        <rules>
            <name>Type_ApplicationRetrospective</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_Level_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrospective</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_ClosedEmailSentOption</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ClosedEmailSent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_for_Application_Retrospective</targetReference>
            </connector>
            <label>Type=ApplicationRetrospective</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEnquiry</name>
        <label>CheckEnquiry</label>
        <locationX>1040</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EnquiryStatus_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Formula_Field_s</targetReference>
            </connector>
            <label>EnquiryStatus=Closed</label>
        </rules>
    </decisions>
    <description>[RO-404 v1] Email Notification - Scheduled.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_ClosedEmailSent</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!EnquiryOptionField}),
&quot;ClosedEmailSent;&quot;,
IF(INCLUDES({!$Record.Options__c}, &quot;ClosedEmailSent&quot;),{!EnquiryOptionField},
{!EnquiryOptionField}&amp;&quot;;&quot;&amp;&quot;ClosedEmailSent;&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_ClosedEmailSentOption</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!EnquiryOptionField}, &quot;ClosedEmailSent&quot;), &quot;ClosedEmailSent&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>senderEmailAddress</name>
        <dataType>String</dataType>
        <expression>&apos;am-noreply@f.e.monash.edu&apos;</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Enquiry After Save (MRO Email Notifications Scheduled) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Enquiry After Save (MRO Email Notifications Scheduled)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Log_Record</name>
        <label>Create Log Record</label>
        <locationX>1106</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Record-Trigger: Enquiry After Save (MRO Email Notifications Scheduled) </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Enquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>FLOW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>446</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Log_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailTemplateDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enquiry_Record</name>
        <label>Update Enquiry Record</label>
        <locationX>446</locationX>
        <locationY>1008</locationY>
        <faultConnector>
            <targetReference>Create_Log_Record</targetReference>
        </faultConnector>
        <inputReference>EnquiryRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false &amp;&amp; {!$Record.RecordType.DeveloperName} = &apos;MRO&apos; &amp;&amp; {!$Record.Reopened__c} = false &amp;&amp; {!$Record.ParentId} = null &amp;&amp;  ISPICKVAL({!$Record.Status}, &apos;Closed&apos;) &amp;&amp; !ISBLANK({!$Record.ContactId}) &amp;&amp; (ISPICKVAL({!$Record.Enquiry_Type__c}, &apos;Award&apos;) || ISPICKVAL({!$Record.Enquiry_Type__c}, &apos;Major Award&apos;) || ISPICKVAL({!$Record.Enquiry_Type__c}, &apos;Application&apos;))</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path</name>
            <connector>
                <targetReference>CheckEnquiry</targetReference>
            </connector>
            <label>Scheduled Path</label>
            <offsetNumber>60</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailTemplateDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnquiryOptionField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Options__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>EnquiryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>senderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OrgWideEmailAddress</stringValue>
        </value>
    </variables>
</Flow>
