force-app/main/default/flows/Record_Trigger_Action_Plan_After_Save_MRO_Email_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Legal In Progress Email.</description>
        <name>Send_Legal_Email_In_Progress</name>
        <label>Send Legal Email - In Progress</label>
        <locationX>1370</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Log_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <elementReference>senderType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>MRO_Enquiry_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>MRO_Enquiry_Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>oEmailTemplateRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignEmail_Application</name>
        <label>AssignEmail Application</label>
        <locationX>1370</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>senderEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mro-applications@f.e.monash.edu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Legal_Email_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmail_Award</name>
        <label>AssignEmail Award</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>senderEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mro-awards@f.e.monash.edu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Legal_Email_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_1</name>
        <label>Set Template 1</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal_In_Progress_1689741952084</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_2</name>
        <label>Set Template 2</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliance_and_Eligibility_Limited_Check_1701222284743</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_3</name>
        <label>Set Template 3</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliance_and_Eligibility_Full_Check_2_V1_1701221944213</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_4</name>
        <label>Set Template 4</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliance_and_Eligibility_Full_Check_1_1701221853982</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_5</name>
        <label>Set Template 5</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal_Completed_1689742151632</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_6</name>
        <label>Set Template 6</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit_to_Funder_Application_1701222463629</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkMRORecord</name>
        <label>checkMRORecord</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_MRO_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MRO_Enquiry_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MRO_Enquiry_Record.RecordType_DeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MRO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_MRO_Action</targetReference>
            </connector>
            <label>MRO Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_MRO_Action</name>
        <label>Decision MRO Action</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_InProgress</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionPlanState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActionPlanState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MRO_Enquiry_Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MRO_Enquiry_Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_MRO_Plan_Type</targetReference>
            </connector>
            <label>InProgress</label>
        </rules>
        <rules>
            <name>outcome_Completed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionPlanState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActionPlanState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MRO_Enquiry_Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MRO_Enquiry_Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_MRO_Plan_Type1</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_MRO_Plan_Type</name>
        <label>decision MRO Plan Type</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Legal_Inprogress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Legal - </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_1</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>Compliance_and_Eligibility_Limited_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance and Eligibility - Limited Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_2</targetReference>
            </connector>
            <label>Compliance and Eligibility - Limited Check</label>
        </rules>
        <rules>
            <name>Compliance_and_Eligibility_Full_Check_2_V1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance and Eligibility - Full Check 2 V1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_3</targetReference>
            </connector>
            <label>Compliance and Eligibility - Full Check 2 V1</label>
        </rules>
        <rules>
            <name>Compliance_and_Eligibility_Full_Check_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance and Eligibility - Full Check 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_4</targetReference>
            </connector>
            <label>Compliance and Eligibility - Full Check 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_MRO_Plan_Type1</name>
        <label>decision MRO Plan Type</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Legal_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Legal - </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_5</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>Submit_to_Funder_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit to Funder - Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_6</targetReference>
            </connector>
            <label>Submit to Funder - Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_SenderEmail</name>
        <label>Decision SenderEmail</label>
        <locationX>1370</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Send_Legal_Email_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Awards</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MRO_Enquiry_Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Award</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmail_Award</targetReference>
            </connector>
            <label>Awards</label>
        </rules>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MRO_Enquiry_Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmail_Application</targetReference>
            </connector>
            <label>Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Target_Record</name>
        <label>Decision Target Record</label>
        <locationX>2822</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_Enquiry_Target_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TargetId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Enquiry_Record</targetReference>
            </connector>
            <label>Enquiry Target Record</label>
        </rules>
    </decisions>
    <description>[RO-397] New flow for MRO Action Plan to send an email when the action plan stage changes.</description>
    <environments>Default</environments>
    <formulas>
        <name>bBypassFlowFlag</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c}</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Action Plan After Save (MRO Email Notifications) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Action Plan After Save (MRO Email Notifications)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Log_Record</name>
        <label>Create Log Record</label>
        <locationX>2690</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Record-Trigger: Action Plan After Save (MRO Email Notifications)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Action Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>FLOW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Enquiry Record Details</description>
        <name>Get_Enquiry_Record</name>
        <label>Get Enquiry Record</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMRORecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Log_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TargetId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>MRO_Enquiry_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordType_DeveloperName__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Enquiry_Type__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Id</name>
        <label>Get Template Id</label>
        <locationX>1370</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_SenderEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Log_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailTemplateAPIName</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>oEmailTemplateRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Target_Record</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false &amp;&amp; ISCHANGED({!$Record.ActionPlanState} )</filterFormula>
        <object>ActionPlan</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailTemplateAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MRO_Enquiry_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>oEmailTemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <description>Sender Email Address</description>
        <name>senderEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mro-awards@f.e.monash.edu</stringValue>
        </value>
    </variables>
    <variables>
        <description>Email Sender Type.</description>
        <name>senderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OrgWideEmailAddress</stringValue>
        </value>
    </variables>
</Flow>
