force-app/main/default/flows/Record_Trigger_EmailMessage_After_Save_Create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkBypassFlowFlag</name>
        <label>checkBypassFlowFlag</label>
        <locationX>479</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UserIsNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BypassFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BypassFlowFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>BypassFlow</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEnquiryRT</name>
        <label>checkEnquiryRT</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsValidRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEnquiryRTFromMetadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailSent</targetReference>
            </connector>
            <label>IsValidRT</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailSent</name>
        <label>EmailSent</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>updateEnquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReplyToEmailMessageId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEmailSentEnquiry</targetReference>
            </connector>
            <label>Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserIsNotNull</name>
        <label>UserIsNotNull</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Latest_Owner_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEnquiryRTFromMetadata</targetReference>
            </connector>
            <label>UserNotNull</label>
        </rules>
    </decisions>
    <description>Flow to manage email alerts for new email messages received.</description>
    <environments>Default</environments>
    <formulas>
        <name>BypassFlowFlag</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c}</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Case After Save (Create) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: EmailMessage After Save (Create)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Record Flow Fault</description>
        <name>recordFault_0</name>
        <label>recordFault_0</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>FLOW FAULT - recordFault_0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Flow: Enable Email Alert On New Incoming Email Message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>EmailMessage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Querying Enquiry RT from Custom Metadata</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Record Flow Fault</description>
        <name>recordFault_1</name>
        <label>recordFault_1</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>FLOW FAULT - recordFault_1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Flow: Enable Email Alert On New Incoming Email Message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>EmailMessage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Updating Case Email Alert Flag</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Record Flow Fault</description>
        <name>recordFault_2</name>
        <label>recordFault_2</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>FLOW FAULT - recordFault_2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Flow: Enable Email Alert On New Incoming Email Message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Input__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>EmailMessage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Updating Case Email Alert Flag</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all the RTs from metadata.</description>
        <name>getEnquiryRTFromMetadata</name>
        <label>getEnquiryRTFromMetadata</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkEnquiryRT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>recordFault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Feature__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EnquiryEmailAlert</stringValue>
            </value>
        </filters>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.RecordType_DeveloperName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>System_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEmailSentEnquiry</name>
        <label>UpdateEmailSentEnquiry</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <targetReference>recordFault_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incoming_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEnquiry</name>
        <label>updateEnquiry</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <targetReference>recordFault_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incoming_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Inbound_Email__c</field>
            <value>
                <elementReference>$Record.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkBypassFlowFlag</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReplyToEmailMessageId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
