force-app/main/default/flows/Record_Trigger_Import_Enquiry_New.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostChatter_Enquiry</name>
        <label>PostChatter Enquiry</label>
        <locationX>512</locationX>
        <locationY>2826</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>AssignLog_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tt_ChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varEnquiry.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>512</locationX>
        <locationY>2394</locationY>
        <assignmentItems>
            <assignToReference>varEnquiry.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOwnerEnquiry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNew_EnquiryValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_Contact</name>
        <label>AssignLog Contact</label>
        <locationX>1161</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Related_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionSearch_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_Error</name>
        <label>AssignLog Error</label>
        <locationX>1282</locationX>
        <locationY>2718</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Status_Failed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ImportEnquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_InProgress</name>
        <label>AssignLog InProgress</label>
        <locationX>1617</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_Status_InProgress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionSearch_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_KeyDate</name>
        <label>AssignLog KeyDate</label>
        <locationX>50</locationX>
        <locationY>1944</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Related_KeyDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRT_MRO_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_NoContact</name>
        <label>AssignLog NoContact</label>
        <locationX>2074</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Related_ContactError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_NoKeyDate</name>
        <label>AssignLog NoKeyDate</label>
        <locationX>314</locationX>
        <locationY>1944</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Related_KeyDateError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_NoOpportunity</name>
        <label>AssignLog NoOpportunity</label>
        <locationX>1810</locationX>
        <locationY>1512</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Related_OpportunityError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_Opportunity</name>
        <label>AssignLog Opportunity</label>
        <locationX>512</locationX>
        <locationY>1512</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Related_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionSearch_KeyDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLog_Success</name>
        <label>AssignLog Success</label>
        <locationX>512</locationX>
        <locationY>2934</locationY>
        <assignmentItems>
            <assignToReference>varRecordLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tt_Status_Success</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ImportEnquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign New Enquiry Values</description>
        <name>AssignNew_EnquiryValues</name>
        <label>AssignNew EnquiryValues</label>
        <locationX>512</locationX>
        <locationY>2502</locationY>
        <assignmentItems>
            <assignToReference>varEnquiry.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRT_MRO_Enquiry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Enquiry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Category_Level_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Category_Level_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Origin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Enquiry_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnquiry.Enquiry_Key_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varKeyDate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateEnquiry_MRO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Contact</name>
        <label>Decision Contact</label>
        <locationX>1617</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>AssignLog_NoContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact NotFound</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLog_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_KeyDate</name>
        <label>Decision KeyDate</label>
        <locationX>182</locationX>
        <locationY>1836</locationY>
        <defaultConnector>
            <targetReference>AssignLog_NoKeyDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KeyDate NotFound</defaultConnectorLabel>
        <rules>
            <name>KeyDate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varKeyDate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLog_KeyDate</targetReference>
            </connector>
            <label>KeyDate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Opportunity</name>
        <label>Decision Opportunity</label>
        <locationX>1161</locationX>
        <locationY>1404</locationY>
        <defaultConnector>
            <targetReference>AssignLog_NoOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity NotFound</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLog_Opportunity</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSearch_Contact</name>
        <label>DecisionSearch Contact</label>
        <locationX>1617</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DecisionSearch_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Id_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact_Email</targetReference>
            </connector>
            <label>Contact Email</label>
        </rules>
        <rules>
            <name>Contact_SAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Id_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact_SAP</targetReference>
            </connector>
            <label>Contact SAP</label>
        </rules>
        <rules>
            <name>Contact_UniCRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Id_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UniCRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact_UniCRM</targetReference>
            </connector>
            <label>Contact UniCRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSearch_KeyDate</name>
        <label>DecisionSearch KeyDate</label>
        <locationX>512</locationX>
        <locationY>1620</locationY>
        <defaultConnector>
            <targetReference>GetRT_MRO_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KeyDate_UniCRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_Date_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Date_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UniCRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetKeyDate_UniCRM</targetReference>
            </connector>
            <label>KeyDate UniCRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSearch_Opportunity</name>
        <label>DecisionSearch Opportunity</label>
        <locationX>1161</locationX>
        <locationY>1056</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DecisionSearch_KeyDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Pure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Id_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity_PURE</targetReference>
            </connector>
            <label>Opportunity Pure</label>
        </rules>
        <rules>
            <name>Opportunity_UniCRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Id_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UniCRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity_UniCRM</targetReference>
            </connector>
            <label>Opportunity UniCRM</label>
        </rules>
    </decisions>
    <description>RO-426 - Add capability to assign enquiry owners based on Owner Id in Import Enquiry</description>
    <environments>Default</environments>
    <formulas>
        <name>frmBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_590}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_590}))</expression>
    </formulas>
    <formulas>
        <name>frmOwnerEnquiry</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!$Record.Enquiry_Owner__c}), 
{!$Record.OwnerId}, 
{!$Record.Enquiry_Owner__c}
)</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Import Enquiry New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Import Enquiry New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEnquiry_MRO</name>
        <label>CreateEnquiry MRO</label>
        <locationX>512</locationX>
        <locationY>2610</locationY>
        <connector>
            <targetReference>GetEnquiry_MRO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <inputReference>varEnquiry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetContact_Email</name>
        <label>GetContact Email</label>
        <locationX>825</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SAP_Staff_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetContact_SAP</name>
        <label>GetContact SAP</label>
        <locationX>1353</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAP_Staff_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetContact_UniCRM</name>
        <label>GetContact UniCRM</label>
        <locationX>1881</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Id__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetEnquiry_MRO</name>
        <label>GetEnquiry MRO</label>
        <locationX>512</locationX>
        <locationY>2718</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PostChatter_Enquiry</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEnquiry.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varEnquiry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <sortField>Created_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetKeyDate_UniCRM</name>
        <label>GetKeyDate UniCRM</label>
        <locationX>182</locationX>
        <locationY>1728</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_KeyDate</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Key_Date_Id__c</elementReference>
            </value>
        </filters>
        <object>Key_Date__c</object>
        <outputReference>varKeyDate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity_PURE</name>
        <label>GetOpportunity PURE</label>
        <locationX>633</locationX>
        <locationY>1164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Monash_System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity_UniCRM</name>
        <label>GetOpportunity UniCRM</label>
        <locationX>1161</locationX>
        <locationY>1164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Record Type for MRO Enquiries</description>
        <name>GetRT_MRO_Enquiry</name>
        <label>GetRT MRO Enquiry</label>
        <locationX>512</locationX>
        <locationY>2286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignLog_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MRO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Disable_Triggers_and_Flows</name>
        <label>Disable Triggers and Flows</label>
        <locationX>1617</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>AssignLog_InProgress</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Bypass_All_Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_All_Triggers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_All_Flows__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_All_Triggers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Bypass_Mute_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enable_Triggers_and_Flows</name>
        <label>Enable Triggers and Flows</label>
        <locationX>512</locationX>
        <locationY>3150</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Bypass_All_Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_All_Triggers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_All_Flows__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bypass_All_Triggers__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Bypass_Mute_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ImportEnquiry</name>
        <label>Update ImportEnquiry</label>
        <locationX>512</locationX>
        <locationY>3042</locationY>
        <connector>
            <targetReference>Enable_Triggers_and_Flows</targetReference>
        </connector>
        <inputAssignments>
            <field>Record_Log__c</field>
            <value>
                <elementReference>varRecordLog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>VarStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>575</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false &amp;&amp; {!$Record.RecordType.DeveloperName} = &apos;MRO&apos; &amp;&amp; 
ISPICKVAL({!$Record.Status__c} , &apos;New&apos;)</filterFormula>
        <object>Import_Enquiry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Disable_Triggers_and_Flows</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_ChatterPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Record created via bulk import:
{!frmBaseURL}lightning/r/Import_Case__c/{!$Record.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Related_Contact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;* [{!$Flow.CurrentDateTime}] Contact Found: &lt;/span&gt;&lt;a href=&quot;{!frmBaseURL}/lightning/r/Case/{!varContact.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varContact.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Related_ContactError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;* [{!$Flow.CurrentDateTime}] &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Contact&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; was not found! Please check if the contact exists and review the contact ID and source.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;[&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Contact &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Source {!$Record.Contact_Id_Source__c} | &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Contact &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Unique Id: {!$Record.Contact_Id__c}]&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Related_KeyDate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;* [{!$Flow.CurrentDateTime}] Key Date Found: &lt;/span&gt;&lt;a href=&quot;{!frmBaseURL}/lightning/r/Case/{!varKeyDate.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varKeyDate.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Related_KeyDateError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;* [{!$Flow.CurrentDateTime}] &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;KeyDate&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt; was not found&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;! Check if the key date exists and review KeyDate Id.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;[KeyDate&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Source: {!$Record.Key_Date_Source__c} | KeyDate&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Unique Id: {!$Record.Key_Date_Id__c}]&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Related_Opportunity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;* [{!$Flow.CurrentDateTime}] Opportunity Found: &lt;/span&gt;&lt;a href=&quot;{!frmBaseURL}/lightning/r/Case/{!varOpportunity.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varOpportunity.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Related_OpportunityError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;* [{!$Flow.CurrentDateTime}] &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Opportunity&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; was not found! Please check if the Opportunity exists and review the ID and source.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;[&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Opportunity &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Source: {!$Record.Opportunity_Id_Source__c} | &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Opportunity &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Unique Id: {!$Record.Opportunity_Id__c}]&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Status_Failed</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;--- FAULT MSG BGN ---&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;--- FAULT MSG END ---&lt;/em&gt;&lt;/p&gt;&lt;p&gt;* [{!$Flow.CurrentDateTime}] Failed to create an enquiry record.&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Record-Trigger: Import Enquiry [&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;END&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;]&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Status_InProgress</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Record-Trigger: Import Enquiry [&lt;/strong&gt;START&lt;strong&gt;]&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;* [{!$Flow.CurrentDateTime}] Start processing record.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Status_Success</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;color: rgb(0, 150, 0);&quot;&gt;--- RECORD DETAILS BGN ---&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 150, 0);&quot;&gt;Enquiry Created: &lt;/span&gt;&lt;a href=&quot;{!frmBaseURL}/lightning/r/Case/{!varEnquiry.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 150, 0);&quot;&gt;{!varEnquiry.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(0, 150, 0);&quot;&gt;--- RECORD DETAILS END ---&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;* [{!$Flow.CurrentDateTime}] Success! We have created a new Enquiry&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Record-Trigger: Import Enquiry [&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;END&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;]&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEnquiry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varKeyDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Key_Date__c</objectType>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRecordLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
</Flow>
