force-app/main/default/flows/Record_Trigger_Case_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Enquiry</name>
        <label>Check Enquiry</label>
        <locationX>462</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewCaseRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseTypeCategorisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>NewCaseRecord</label>
        </rules>
        <rules>
            <name>UpdateCaseRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseTypeCategorisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseTypeCategorisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>UpdateCaseRecord</label>
        </rules>
        <rules>
            <name>EnquiryFieldChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_Level_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_Level_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseCategorisationToNull</targetReference>
            </connector>
            <label>EnquiryFieldChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkByPassFlag</name>
        <label>checkByPassFlag</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>byPassFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>byPassFlowFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>byPassFlow</label>
        </rules>
    </decisions>
    <description>Insert or Update Enquiry Type, Cat1 and Cat2.</description>
    <environments>Default</environments>
    <formulas>
        <name>byPassFlowFlag</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Case After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Case After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetCaseCategorisationToNull</name>
        <label>SetCaseCategorisationToNull</label>
        <locationX>506</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CaseTypeCategorisation__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>462</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Category_Level_1__c</field>
            <value>
                <elementReference>$Record.CaseTypeCategorisation__r.Category_Level_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Level_2__c</field>
            <value>
                <elementReference>$Record.CaseTypeCategorisation__r.Category_Level_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry_Type__c</field>
            <value>
                <elementReference>$Record.CaseTypeCategorisation__r.Enquiry_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkByPassFlag</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
