force-app/main/default/flows/Registration_Offline.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Course_Exists</name>
        <label>Course Exists</label>
        <locationX>338</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Course_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Course_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Lookup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Course</targetReference>
            </connector>
            <label>Course Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Course_Offering_Selected</name>
        <label>If Course Offering Selected</label>
        <locationX>49</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>Course_Offering_Selection_Result_page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Course_Offering_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCourseOfferingDetail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Selection_Display_Page</targetReference>
            </connector>
            <label>Course Offering Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Course_Selected</name>
        <label>If Course Selected</label>
        <locationX>52</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Course_Selection_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Course_Is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedCourseCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCourseNameByCode</targetReference>
            </connector>
            <label>Course Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifWait</name>
        <label>ifWait</label>
        <locationX>522</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Application_Waitlisted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Not_Waitlisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedCourseOfferingStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Address_Lookup</targetReference>
            </connector>
            <label>If Not Waitlisted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Type_Selected</name>
        <label>Payment Type Selected</label>
        <locationX>918</locationX>
        <locationY>891</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Credit_Card_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentTypePickList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_card</targetReference>
            </connector>
            <label>Credit Card Selected</label>
        </rules>
        <rules>
            <name>Cheque_Selected1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentTypePickList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cheque</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cheque</targetReference>
            </connector>
            <label>Cheque Selected</label>
        </rules>
        <rules>
            <name>Cash_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentTypePickList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cash</targetReference>
            </connector>
            <label>Cash Selected</label>
        </rules>
        <rules>
            <name>Money_Order_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentTypePickList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Money_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Money_Order</targetReference>
            </connector>
            <label>Money Order Selected</label>
        </rules>
        <rules>
            <name>Purchase_Order_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentTypePickList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchase_Order</targetReference>
            </connector>
            <label>Purchase Order Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CCExpMonth</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Credit_Card_Expiry_Month__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CCExpYear</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Credit_Card_Expiry_Year__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CourseSelector</name>
        <dataType>String</dataType>
        <displayField>Course_Full_Description__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Full_Description__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Course_Name</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Course__c</object>
        <outputAssignments>
            <assignToReference>varSelectedCourseName</assignToReference>
            <field>Course_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedCourseCode</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCourseCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Course_Description__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CreditCardType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Credit_Card_Type__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentTypePicklistFromPaymentObject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>searchCourse</name>
        <dataType>String</dataType>
        <displayField>Course_Description__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Description__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Course_Name</elementReference>
            </value>
        </filters>
        <limit>15</limit>
        <object>Course__c</object>
        <outputAssignments>
            <assignToReference>varSelectedCourseName</assignToReference>
            <field>Course_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedCourseCode</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCourseCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Course_Description__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Course_Description__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>searchCourseOffering</name>
        <dataType>String</dataType>
        <displayField>Course_Offering_Detail__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code_F__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCourseCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FlowCurrentDate</elementReference>
            </value>
        </filters>
        <limit>26</limit>
        <object>Course_Offering__c</object>
        <outputAssignments>
            <assignToReference>varCourseOfferingDetail</assignToReference>
            <field>Course_Offering_Detail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCourseOfferingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedCourseOfferingStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Course_Offering_Detail__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CashAmountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!VALUE(CashAmount)}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CCAmountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!VALUE(CCAmount)}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ChequeAmountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!VALUE(ChequeAmount)}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Today - 30</description>
        <name>FlowCurrentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 30</expression>
    </formulas>
    <formulas>
        <name>FlowDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>MOAmountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!VALUE(MOAmount)}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>POAmountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!VALUE(POAmount)}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Registration - Offline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offline Registration With Waiting v3.5</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Application_Course_Preference</name>
        <label>Application Course Preference</label>
        <locationX>519</locationX>
        <locationY>572</locationY>
        <assignRecordIdToReference>varApplicationCoursePreference</assignRecordIdToReference>
        <connector>
            <targetReference>ifWait</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Code__c</field>
            <value>
                <elementReference>varCourseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>varCourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Title__c</field>
            <value>
                <elementReference>varSelectedCourseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>varSelectedCourseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Registered - Not paid</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Course_Preference__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_Application_Record</name>
        <label>create Application Record</label>
        <locationX>519</locationX>
        <locationY>703</locationY>
        <assignRecordIdToReference>varApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Application_Course_Preference</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry_Number__c</field>
            <value>
                <elementReference>varEnquiryNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Registered - Not paid</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>createPaymentRecord_Cash</name>
        <label>createPaymentRecord - Cash</label>
        <locationX>1460</locationX>
        <locationY>728</locationY>
        <assignRecordIdToReference>varPaymentID</assignRecordIdToReference>
        <connector>
            <targetReference>Application_Status_Update_to_paid</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>varCourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>CashAmountFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>FlowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Not Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suburb__c</field>
            <value>
                <elementReference>Suburb</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordCreates>
        <name>createPaymentRecord_Cheque</name>
        <label>createPaymentRecord - Cheque</label>
        <locationX>1458</locationX>
        <locationY>970</locationY>
        <assignRecordIdToReference>varPaymentID</assignRecordIdToReference>
        <connector>
            <targetReference>Application_Status_Update_to_paid</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>varCourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>ChequeAmountFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>FlowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Document_Cheque_MO_PO_Number__c</field>
            <value>
                <elementReference>Cheque_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Not Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Cheque</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suburb__c</field>
            <value>
                <elementReference>Suburb</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordCreates>
        <name>createPaymentRecord_Credit_Card</name>
        <label>createPaymentRecord - Credit Card</label>
        <locationX>1460</locationX>
        <locationY>601</locationY>
        <assignRecordIdToReference>varPaymentID</assignRecordIdToReference>
        <connector>
            <targetReference>Application_Status_Update_to_paid</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>varCourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Expiry_Month__c</field>
            <value>
                <elementReference>CCExpMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Expiry_Year__c</field>
            <value>
                <elementReference>CCExpYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Name__c</field>
            <value>
                <elementReference>Credit_Card_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Number__c</field>
            <value>
                <elementReference>Credit_Card_Number_Last_4_digits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Type__c</field>
            <value>
                <elementReference>CreditCardType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>CCAmountFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>FlowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Not Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Credit_Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suburb__c</field>
            <value>
                <elementReference>Suburb</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordCreates>
        <name>createPaymentRecord_Money_Order</name>
        <label>createPaymentRecord - Money Order</label>
        <locationX>1457</locationX>
        <locationY>853</locationY>
        <assignRecordIdToReference>varPaymentID</assignRecordIdToReference>
        <connector>
            <targetReference>Application_Status_Update_to_paid</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>varCourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>MOAmountFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>FlowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Document_Cheque_MO_PO_Number__c</field>
            <value>
                <elementReference>Money_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Not Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Money_Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suburb__c</field>
            <value>
                <elementReference>Suburb</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordCreates>
        <name>createPaymentRecord_Purchanse_Order</name>
        <label>createPaymentRecord - Purchanse Order</label>
        <locationX>1462</locationX>
        <locationY>1109</locationY>
        <assignRecordIdToReference>varPaymentID</assignRecordIdToReference>
        <connector>
            <targetReference>Application_Status_Update_to_paid</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Offering__c</field>
            <value>
                <elementReference>varCourseOfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>POAmountFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>FlowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Document_Cheque_MO_PO_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Not Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Purchase_Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suburb__c</field>
            <value>
                <elementReference>Suburb</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_Address_Lookup</name>
        <label>Contact Address Lookup</label>
        <locationX>723</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactCompany</assignToReference>
            <field>Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMailingSuburb</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMailingPostcode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMailingState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactMailingStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Course_Lookup</name>
        <label>Course Lookup</label>
        <locationX>337</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Course_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Full_Description__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Course_Name</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputAssignments>
            <assignToReference>varSelectedCourseName</assignToReference>
            <field>Course_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedCourseCode</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCourseCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Course_Description__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getCourseNameByCode</name>
        <label>getCourseNameByCode</label>
        <locationX>51</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Course_Offering_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedCourseCode</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputAssignments>
            <assignToReference>varSelectedCourseName</assignToReference>
            <field>Course_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCourseCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ACP_Status_Update_to_Paid</name>
        <label>ACP - Status Update to Paid</label>
        <locationX>1853</locationX>
        <locationY>699</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationCoursePreference</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Course_Preference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>APC_Wiatlisted</name>
        <label>APC Wiatlisted</label>
        <locationX>929</locationX>
        <locationY>319</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationCoursePreference</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Waitlisted</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Course_Preference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Application_Status_Update_to_paid</name>
        <label>Application - Status Update to paid</label>
        <locationX>1664</locationX>
        <locationY>699</locationY>
        <connector>
            <targetReference>ACP_Status_Update_to_Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Application_Waitlisted</name>
        <label>Application Waitlisted</label>
        <locationX>724</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>APC_Wiatlisted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Waitlisted</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>726</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Capture_Payment_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enquiry_Course_Update</name>
        <label>Enquiry Course Update</label>
        <locationX>340</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>If_Course_Offering_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEnquiryNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>varSelectedCourseCode</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Billing_Address</name>
        <label>Billing Address</label>
        <locationX>727</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <fields>
            <name>billing_text1</name>
            <fieldText>If no company name? then enter contact name.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>billing_text2</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactCompany</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>billing_text3</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactMailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Suburb</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varMailingSuburb</elementReference>
            </defaultValue>
            <fieldText>Suburb</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varMailingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varMailingPostcode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Payment_Method</name>
        <label>Capture Payment Method</label>
        <locationX>917</locationX>
        <locationY>700</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Type_Selected</targetReference>
        </connector>
        <fields>
            <name>SuccessMsgAndPayment</name>
            <fieldText>Student is now registered and new application created.
Please proceed with payment.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PaymentTypePickList</name>
            <choiceReferences>PaymentTypePicklistFromPaymentObject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PaymentTypePickList</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank20</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cash</name>
        <label>Cash</label>
        <locationX>1188</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createPaymentRecord_Cash</targetReference>
        </connector>
        <fields>
            <name>Course2PayCash</name>
            <fieldText>Selected Course: {!varCourseCode} | {!varSelectedCourseName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank15</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PayByCash</name>
            <fieldText>You&apos;ve selected to pay by Cash</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank10</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CashAmount</name>
            <dataType>String</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cheque</name>
        <label>Cheque</label>
        <locationX>1195</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createPaymentRecord_Cheque</targetReference>
        </connector>
        <fields>
            <name>Course2PayCheque</name>
            <fieldText>Selected Course: {!varCourseCode} | {!varSelectedCourseName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank13</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PayByCheque</name>
            <fieldText>You&apos;ve selected to pay by Cheque</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank6</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChequeAmount</name>
            <dataType>String</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank7</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cheque_Number</name>
            <dataType>String</dataType>
            <fieldText>Cheque Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Not_Found</name>
        <label>Course Not Found</label>
        <locationX>527</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CourseNotFoundMessage</name>
            <fieldText>Course not found!</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Offering_Selection_Result_page</name>
        <label>Course Offering Selection Result page</label>
        <locationX>50</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_Selection_Display_Page</targetReference>
        </connector>
        <fields>
            <name>StudentName_3</name>
            <fieldText>Student Name: {!varStudentName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EnquiryNumber_3</name>
            <fieldText>Enquiry number: {!varEnquiryNumberShort}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectedCourseID</name>
            <fieldText>Selected Course: {!varCourseCode} | {!varSelectedCourseName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Related_Course_Offerings_List</name>
            <choiceReferences>searchCourseOffering</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Related Course Offerings List</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Selection_Display_Page</name>
        <label>Course Selection Display Page</label>
        <locationX>519</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_Application_Record</targetReference>
        </connector>
        <fields>
            <name>CourseID</name>
            <fieldText>Student Name:  {!varStudentName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EnquiryNumber</name>
            <fieldText>Enquiry Number - {!varEnquiryNumberShort}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectedCourse</name>
            <fieldText>Selected Course: {!varCourseCode} | {!varSelectedCourseName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CourseOfferingTitle</name>
            <fieldText>Selected Course Offering - {!varCourseOfferingDetail}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectedCourseOfferingStatus</name>
            <fieldText>Selected Course Offering Status - {!varSelectedCourseOfferingStatus}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Selection_Page</name>
        <label>Course Selection Search Page</label>
        <locationX>334</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_Lookup</targetReference>
        </connector>
        <fields>
            <name>StudentName_1</name>
            <fieldText>Student Name: {!varStudentName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EnquiryNumber_1</name>
            <fieldText>Enquiry Number: {!varEnquiryNumberShort}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Course_Name</name>
            <dataType>String</dataType>
            <fieldText>Course Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_card</name>
        <label>Credit card</label>
        <locationX>1187</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createPaymentRecord_Credit_Card</targetReference>
        </connector>
        <fields>
            <name>Course2PayCC</name>
            <fieldText>Selected Course: {!varCourseCode} | {!varSelectedCourseName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank12</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PayByCC</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You&amp;apos;ve selected to pay by Credit card&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CCAmount</name>
            <dataType>String</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank16</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Credit_Card_Name</name>
            <dataType>String</dataType>
            <fieldText>Name On Card</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Credit_Card_Number_Last_4_digits</name>
            <dataType>String</dataType>
            <fieldText>Credit Card Number (Last 4 digits)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>Please enter last 4 digits of credit card number</errorMessage>
                <formulaExpression>LEN( {!Credit_Card_Number_Last_4_digits} ) = 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>blank3</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Credit_Card_Type</name>
            <choiceReferences>CreditCardType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credit Card Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank4</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Exp_Year</name>
            <choiceReferences>CCExpYear</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Exp Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank5</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Exp_Month</name>
            <choiceReferences>CCExpMonth</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Exp Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Money_Order</name>
        <label>Money Order</label>
        <locationX>1189</locationX>
        <locationY>855</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createPaymentRecord_Money_Order</targetReference>
        </connector>
        <fields>
            <name>Course2PayMO</name>
            <fieldText>Selected Course: {!varCourseCode} | {!varSelectedCourseName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank14</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PayByMO</name>
            <fieldText>You&apos;ve selected to pay by Money Order</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank8</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MOAmount</name>
            <dataType>String</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank9</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Money_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>Money Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchase_Order</name>
        <label>Purchase Order</label>
        <locationX>1192</locationX>
        <locationY>1111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createPaymentRecord_Purchanse_Order</targetReference>
        </connector>
        <fields>
            <name>Course2PayPO</name>
            <fieldText>Selected Course: {!varCourseCode} | {!varSelectedCourseName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank17</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PayByPO</name>
            <fieldText>You&apos;ve selected to pay by Purchase Order</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank18</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>POAmount</name>
            <dataType>String</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>blank19</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Purchase_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Course</name>
        <label>Select Course</label>
        <locationX>341</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enquiry_Course_Update</targetReference>
        </connector>
        <fields>
            <name>text1</name>
            <fieldText>Student Name: {!varStudentName}

Enquiry number: {!varEnquiryNumberShort}

Selected Course: {!varCourseCode} | {!varSelectedCourseName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Course_Choise_Selector</name>
            <choiceReferences>CourseSelector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course Choise Selector</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>If_Course_Selected</startElementReference>
    <status>Active</status>
    <variables>
        <name>cofferings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>varApplicationCoursePreference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varApplicationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactMailingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCourseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCourseOfferingDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCourseOfferingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEnquiryNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEnquiryNumberShort</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMailingPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMailingSuburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCourseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCourseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedCourseOfferingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varStudentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>=null</description>
        <name>varTextNull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
