force-app/main/default/flows/SCR_ACP_Outcome_Assistant_Application_Lapsed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_currentACP_to_UpdateACP</name>
        <label>Add currentACP to UpdateACP</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>UpdateACP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentACP</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ACP_to_Outcome_values_AppLapsed</name>
        <label>Assign ACP to Outcome values AppLapsed</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>currentACP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACPRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Outcome_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutcomeStatusSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_previous_outcome_is_Conditional_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_values</name>
        <label>Assign Empty values</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>currentACP.Offer_Condition__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Conditions_Must_Be_Satisfied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Conditional_Offer_Satisfied_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Acceptance_Condition__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Conditional_Offer_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConditionalOfferNotApplicable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Offer_Response_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfferResponseNotApplicable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Offer_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Offer_Response_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_currentACP_to_UpdateACP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conditional_Offer_Assignment_Not_Applicable</name>
        <label>Conditional Offer Assignment Not Applicable</label>
        <locationX>138</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>ConditionalOfferNotApplicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Not_Applic_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Not_Applic_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Offer_Response_Assignment_Not_Applicable</name>
        <label>Offer Response Assignment Not Applicable</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>OfferResponseNotApplicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Not_Applic_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Not_Applic_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutcomeStatusSingleRecord_AppLapsed</name>
        <label>OutcomeStatusSingleRecord_AppLapsed</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OutcomeStatusSingleRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Outcome_Status_App_Lapsed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Outcome_Status_App_Lapsed</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Conditional_Offer_and_Offer_Response_Not_Applic</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Conditional Offer and Offer Response Not Applic</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNextValueToReference>currentItem_Get_Conditional_Offer_and_Offer_Response_Not_Applic</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ListOfValues</collectionReference>
        <conditionLogic>(1 OR 2 )AND 3</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Conditional_Offer_and_Offer_Response_Not_Applic.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>ADM_OFFER_RESP_STATUS</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Conditional_Offer_and_Offer_Response_Not_Applic.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>ADM_CNDTNL_OFFER_STATUS</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Conditional_Offer_and_Offer_Response_Not_Applic.Value__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>NOT-APPLIC</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Not_Applic_Status</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Outcome_Status_App_Lapsed</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Outcome Status App Lapsed</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>currentItem_Get_Outcome_Status_App_Lapsed</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ListOfValues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Outcome_Status_App_Lapsed.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>ADM_OUTCOME_STATUS</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Outcome_Status_App_Lapsed.Value__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>AP-LAPSED</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Outcome_Status_App_Lapsed</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_Conditional_Offer_or_Offer_Response</name>
        <label>Check if Conditional Offer or Offer Response</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Loop_Not_Applic_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conditional_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Not_Applic_Status.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADM_CNDTNL_OFFER_STATUS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conditional_Offer_Assignment_Not_Applicable</targetReference>
            </connector>
            <label>Conditional Offer</label>
        </rules>
        <rules>
            <name>Offer_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Not_Applic_Status.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADM_OFFER_RESP_STATUS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Offer_Response_Assignment_Not_Applicable</targetReference>
            </connector>
            <label>Offer Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_previous_outcome_is_Conditional_Offer</name>
        <label>Check if previous outcome is Conditional Offer</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Add_currentACP_to_UpdateACP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Outcome_is_Conditional_Offer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-COND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-C-E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-C-FY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-C-MC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conditional_Offer_and_Offer_Response_Not_Applic</targetReference>
            </connector>
            <label>Previous Outcome is Conditional Offer</label>
        </rules>
    </decisions>
    <description>Screen Flow for Outcome Path &apos;Application Lapsed&apos;</description>
    <environments>Default</environments>
    <interviewLabel>SCR - ACP - Outcome Assistant : Application Lapsed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCR - ACP - Outcome Assistant : Application Lapsed</label>
    <loops>
        <name>Loop_Not_Applic_Status</name>
        <label>Loop Not Applic Status</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Conditional_Offer_and_Offer_Response_Not_Applic</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Conditional_Offer_or_Offer_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Empty_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Outcome_Status_App_Lapsed</name>
        <label>Loop Outcome Status App Lapsed</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Outcome_Status_App_Lapsed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OutcomeStatusSingleRecord_AppLapsed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Outcome_Assistant_AppLapsed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Outcome_Assistant_AppLapsed</name>
        <label>Outcome Assistant_AppLapsed</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Outcome_Confirmation_AppLapsed</targetReference>
        </connector>
        <fields>
            <name>OutcomeAssistantHeader_AppLapsed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Outcome Assistant&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Outcome_Status_Description_AppLapsed</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!OutcomeStatusSingleRecord.Description__c}({!OutcomeStatusSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Outcome Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Documentation_Status_AppLapsed</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!ACPRecord.Documentation_Status_LOV__r.Description__c}({!ACPRecord.Documentation_Status_LOV__r.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Documentation Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Outcome_Confirmation_AppLapsed</name>
        <label>Outcome Confirmation AppLapsed</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_ACP_to_Outcome_values_AppLapsed</targetReference>
        </connector>
        <fields>
            <name>Outcome_Confirmation_Header_AppLapsed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;﻿Outcome Confirmation&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Outcome_Status_Name_Confirmation_AppLapsed</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!OutcomeStatusSingleRecord.Description__c}({!OutcomeStatusSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Outcome Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Entry_Qualification_Confirmation_AppLapsed</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!ACPRecord.Entry_Qualification_Status_LOV__r.Description__c}({!ACPRecord.Entry_Qualification_Status_LOV__r.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Entry Qualification</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Documentation_Status_Name_Confirmation_AppLapsed</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!ACPRecord.Documentation_Status_LOV__r.Description__c}({!ACPRecord.Documentation_Status_LOV__r.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Documentation Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Offer_Response_Status_Confirmation_AppLapsed</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!ACPRecord.Offer_Response_Status_LOV__r.Description__c}({!ACPRecord.Offer_Response_Status_LOV__r.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Offer Response Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExtraSpace_AppLapsed</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Outcome_Status_App_Lapsed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>ConditionalOfferNotApplicable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>currentACP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Conditional_Offer_and_Offer_Response_Not_Applic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Outcome_Status_App_Lapsed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>ListOfValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>OfferResponseNotApplicable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>OutcomeStatusSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>UpdateACP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
</Flow>
