force-app/main/default/flows/SCR_ACP_Outcome_Assistant_Rejected.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Non_Rejected_ACPs_of_that_Application</name>
        <label>Get Non Rejected ACPs of that Application</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <actionName>NextNonRejectedACPController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_other_ACPs_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>acpIds</name>
            <value>
                <elementReference>ACPRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NextNonRejectedACPController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>NextACPChoice</assignToReference>
            <name>choiceForOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_Failure</name>
        <label>Log Failure</label>
        <locationX>754</locationX>
        <locationY>1574</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>SCR-ACP-OutcomeAssistant:Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ACPRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_next_ACP_to_list</name>
        <label>Add next ACP to list</label>
        <locationX>50</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>nextACP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_do_you_want_manage_the_following_ACP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextACP.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextACP.Workflow_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateACP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nextACP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_for_Rejected_Current_ACP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_next_ACP_to_list1</name>
        <label>Add next ACP to list1</label>
        <locationX>314</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>nextACP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_do_you_want_manage_the_following_ACP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextACP.Run_Queue_Routing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateACP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nextACP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_for_Rejected_Current_ACP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Unselected_Values_to_different_Choice_List</name>
        <label>Add Unselected Values to different Choice List</label>
        <locationX>666</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>ACPList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Next_ACP_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Next_ACP_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ACP_ids_to_get_records</name>
        <label>Assign ACP ids to get records</label>
        <locationX>402</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>UpdateOtherACPs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Next_ACP_Choice.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Next_ACP_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NextACPsExists</name>
        <label>Assign NextACPsExists</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>NextACPsExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outcome_Summary_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Next_ACPs_to_be_rejected</name>
        <label>Assign Selected Next ACPs to be rejected</label>
        <locationX>314</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>SelectedNextACPValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Are_there_any_other_course_preference_s_you_want_to_reject_with_the_same_rejecti</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Next_ACPs_to_form_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_Rejected_Current_ACP</name>
        <label>Assign Values for Rejected Current ACP</label>
        <locationX>314</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>currentACP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACPRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Rejection_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Additional_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Outcome_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutcomeStatusSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Documentation_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentationStatusSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Offer_Response_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfferResponseSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Entry_Qualification_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryQualificationSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Conditional_Offer_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConditionalOfferResponseSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateACP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentACP</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Other_Records</name>
        <label>Assign Values to Other Records</label>
        <locationX>138</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>Loop_queried_records.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_queried_records.Rejection_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Additional_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_queried_records.Outcome_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutcomeStatusSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_queried_records.Documentation_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentationStatusSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_queried_records.Conditional_Offer_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConditionalOfferResponseSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_queried_records.Entry_Qualification_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryQualificationSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_queried_records.Offer_Response_Status_LOV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfferResponseSingleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateACP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_queried_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_queried_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ConditionalOfferResponseStatAssignedRejected</name>
        <label>ConditionalOfferResponseStatAssignedRejected</label>
        <locationX>1458</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ConditionalOfferResponseSingleRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_LOVs_Rejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LOVs_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_String_from_MultiSelect_Picklist</name>
        <label>Create String from MultiSelect Picklist</label>
        <locationX>402</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>SelectedACPValueText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Next_ACPs_to_form_String</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedACPValueText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Next_ACPs_to_form_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DocumentationStatAssignedRejected</name>
        <label>DocumentationStatAssignedRejected</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>DocumentationStatusSingleRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_LOVs_Rejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LOVs_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EntryQualificationStatAssignedRejected</name>
        <label>EntryQualificationStatAssignedRejected</label>
        <locationX>930</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>EntryQualificationSingleRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_LOVs_Rejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LOVs_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OfferResponseStatAssignedRejected</name>
        <label>OfferResponseStatAssignedRejected</label>
        <locationX>1194</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>OfferResponseSingleRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_LOVs_Rejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LOVs_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutcomeStatAssignedRejected</name>
        <label>OutcomeStatAssignedRejected</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>OutcomeStatusSingleRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_LOVs_Rejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LOVs_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_current_ACP_Values</name>
        <label>Update current ACP Values</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>currentACP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACPRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Offer_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Offer_Response_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Actual_Offer_Response_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Offer_Condition__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Conditions_Must_Be_Satisfied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Conditional_Offer_Satisfied_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Acceptance_Condition__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Outcome_Assistant_Rejected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assign_the_ACP_to_myself</name>
        <choiceText>Assign the ACP to myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign the ACP to myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_further_action</name>
        <choiceText>No further action</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No further action</stringValue>
        </value>
    </choices>
    <choices>
        <name>Route_the_ACP_to_the_queue</name>
        <choiceText>Route the ACP to the queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Route the ACP to the queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Documentation_Rejected_List</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Documentation Rejected List</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Documentation_Rejected_List</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ListOfValues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Documentation_Rejected_List.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>ADM_DOC_STATUS</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Documentation_Rejected_List.Value__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>REJECTED</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DocumentationStatusTransform</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Outcome_Status_Rejected_List</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Outcome Status Rejected List</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>currentItem_Outcome_Status_Rejected_List</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ListOfValues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Outcome_Status_Rejected_List.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>ADM_OUTCOME_STATUS</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Outcome_Status_Rejected_List.Outcome_Path__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>OutcomeStatusTransform</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Assign_LOV_Records_Rejected</name>
        <label>Assign LOV Records Rejected</label>
        <locationX>1062</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Loop_LOVs_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeStatusRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outcome_Status_Rejected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_LOVs_Rejected.Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_LOVs_Rejected.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADM_OUTCOME_STATUS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutcomeStatAssignedRejected</targetReference>
            </connector>
            <label>OutcomeStatusRejected</label>
        </rules>
        <rules>
            <name>DocumentationStatusRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Documentation_Status_Rejected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_LOVs_Rejected.Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_LOVs_Rejected.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADM_DOC_STATUS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocumentationStatAssignedRejected</targetReference>
            </connector>
            <label>DocumentationStatusRejected</label>
        </rules>
        <rules>
            <name>EntryQualificationRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_LOVs_Rejected.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADM_ENTRY_QUAL_STATUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_LOVs_Rejected.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT-QUAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EntryQualificationStatAssignedRejected</targetReference>
            </connector>
            <label>EntryQualificationRejected</label>
        </rules>
        <rules>
            <name>OfferResponseRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_LOVs_Rejected.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADM_OFFER_RESP_STATUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_LOVs_Rejected.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT-APPLIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OfferResponseStatAssignedRejected</targetReference>
            </connector>
            <label>OfferResponseRejected</label>
        </rules>
        <rules>
            <name>ConditionalOfferResponseRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_LOVs_Rejected.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADM_CNDTNL_OFFER_STATUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_LOVs_Rejected.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT-APPLIC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConditionalOfferResponseStatAssignedRejected</targetReference>
            </connector>
            <label>ConditionalOfferResponseRejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_other_ACPs_exists</name>
        <label>Check if other ACPs exists</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Outcome_Summary_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACPs dont exist</defaultConnectorLabel>
        <rules>
            <name>ACPs_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextACPChoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NextACPsExists</targetReference>
            </connector>
            <label>ACPs exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_previous_Outcome_Status_is_OFFER_COND</name>
        <label>Check if previous Outcome Status is OFFER-COND</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Outcome_Assistant_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not OFFER-COND</defaultConnectorLabel>
        <rules>
            <name>Is_OFFER_COND</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_LOV__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-COND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_LOV__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-PROV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_LOV__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_LOV__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-C-E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_LOV__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-C-FY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACPRecord.Outcome_Status_LOV__r.Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFFER-C-MC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_ACP_Values</targetReference>
            </connector>
            <label>Is OFFER-COND</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_value_is_selected</name>
        <label>Check if the value is selected</label>
        <locationX>534</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Add_Unselected_Values_to_different_Choice_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_exists_in_selected_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedACPValueText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Over_Next_ACP_Choice.label</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ACP_ids_to_get_records</targetReference>
            </connector>
            <label>Value exists in selected list</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_UpdateOtherACPs_is_empty</name>
        <label>Check if UpdateOtherACPs is empty</label>
        <locationX>314</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Outcome_Confirmation_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UpdateOtherACPs is Empty</defaultConnectorLabel>
        <rules>
            <name>UpdateOtherACPs_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateOtherACPs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_ACP_Records</targetReference>
            </connector>
            <label>UpdateOtherACPs is not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_ACP_Assign_Check</name>
        <label>Next ACP Assign Check</label>
        <locationX>314</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_for_Rejected_Current_ACP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont assign next ACP</defaultConnectorLabel>
        <rules>
            <name>Assign_next_ACP_to_self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_do_you_want_manage_the_following_ACP</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_further_action</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_would_like_to_Route</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_the_ACP_to_myself</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_next_ACP_to_list</targetReference>
            </connector>
            <label>Assign next ACP to self</label>
        </rules>
        <rules>
            <name>Assign_next_ACP_to_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_do_you_want_manage_the_following_ACP</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_further_action</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_would_like_to_Route</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Route_the_ACP_to_the_queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_next_ACP_to_list1</targetReference>
            </connector>
            <label>Assign next ACP to queue</label>
        </rules>
    </decisions>
    <description>Screen Flow for Outcome Path &apos;Rejected&apos;</description>
    <dynamicChoiceSets>
        <name>ACPListForDecision</name>
        <collectionReference>ACPList</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentationStatusList</name>
        <collectionReference>DocumentationStatusTransform</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NextACPList</name>
        <collectionReference>NextACPChoice</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OutcomeStatusList</name>
        <collectionReference>OutcomeStatusTransform</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RejectedReasonList</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Application_Course_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SCR - ACP - Outcome Assistant : Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCR - ACP - Outcome Assistant : Rejected</label>
    <loops>
        <name>Loop_LOVs_Rejected</name>
        <label>Loop LOVs Rejected</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <collectionReference>ListOfValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_LOV_Records_Rejected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Non_Rejected_ACPs_of_that_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Next_ACP_Choice</name>
        <label>Loop Over Next ACP Choice</label>
        <locationX>314</locationX>
        <locationY>2390</locationY>
        <collectionReference>NextACPChoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_the_value_is_selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_UpdateOtherACPs_is_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_queried_records</name>
        <label>Loop queried records</label>
        <locationX>50</locationX>
        <locationY>3098</locationY>
        <collectionReference>Get_Other_ACP_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Other_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Outcome_Confirmation_Rejected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Next_ACPs_to_form_String</name>
        <label>Loop Selected Next ACPs to form String</label>
        <locationX>314</locationX>
        <locationY>2090</locationY>
        <collectionReference>SelectedNextACPValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_String_from_MultiSelect_Picklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Next_ACP_Choice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Other_ACP_Records</name>
        <label>Get Other ACP Records</label>
        <locationX>50</locationX>
        <locationY>2990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_queried_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UpdateOtherACPs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application_Course_Preference__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rejection_Reason__c</queriedFields>
        <queriedFields>Rejection_Comments__c</queriedFields>
        <queriedFields>Outcome_Status_LOV__c</queriedFields>
        <queriedFields>Documentation_Status_LOV__c</queriedFields>
        <queriedFields>Entry_Qualification_Status__c</queriedFields>
        <queriedFields>Conditional_Offer_Status_LOV__c</queriedFields>
        <queriedFields>Offer_Response_Status_LOV__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Outcome_Assistant_Rejected</name>
        <label>Outcome Assistant Rejected</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_LOVs_Rejected</targetReference>
        </connector>
        <fields>
            <name>OutcomeAssistantHeader_Rejected</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Outcome Assistant&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Outcome_Status_Rejected</name>
            <choiceReferences>OutcomeStatusList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outcome Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <choiceReferences>RejectedReasonList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rejection_Additional_Information</name>
            <fieldText>Rejection Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Provide additional information on rejection&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Documentation_Status_Rejected</name>
            <choiceReferences>DocumentationStatusList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Documentation Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Outcome_Confirmation_Rejected</name>
        <label>Outcome Confirmation Rejected</label>
        <locationX>314</locationX>
        <locationY>3482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Next_ACP_Assign_Check</targetReference>
        </connector>
        <fields>
            <name>Outcome_Confirmation_Header_Rejected</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Outcome Confirmation&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Outcome_Status_Confirmation</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!OutcomeStatusSingleRecord.Description__c}({!OutcomeStatusSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Outcome Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rejection_Reason_Confirmation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Rejection_Reason</elementReference>
            </defaultValue>
            <fieldText>Rejection Reason(s)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rejection_Additional_Information_Confirmation</name>
            <defaultValue>
                <stringValue>{!Rejection_Additional_Information}</stringValue>
            </defaultValue>
            <fieldText>Rejection Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Entry_Qualification_Confirmation</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!EntryQualificationSingleRecord.Description__c}({!EntryQualificationSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Entry Qualification</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Documentation_Status_Confirmation</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!DocumentationStatusSingleRecord.Description__c}({!DocumentationStatusSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Documentation Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Offer_Response_Status_Confirmation</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!OfferResponseSingleRecord.Description__c}({!OfferResponseSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Offer Response Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Conditional_Offer_Response_Status_Confirmation</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!ConditionalOfferResponseSingleRecord.Description__c}({!ConditionalOfferResponseSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Conditional Offer Response Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>This_status_will_be_applied_to_the_following_course_preferences</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Are_there_any_other_course_preference_s_you_want_to_reject_with_the_same_rejecti</elementReference>
            </defaultValue>
            <fieldText>This status will be applied to the following course preferences:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_there_any_other_course_preference_s_you_want_to_reject_with_the_same_rejecti</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_do_you_want_manage_the_following_ACP</name>
            <choiceReferences>ACPListForDecision</choiceReferences>
            <choiceReferences>No_further_action</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How do you want manage the following ACP?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsAdded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_would_like_to_Route</name>
            <choiceReferences>Assign_the_ACP_to_myself</choiceReferences>
            <choiceReferences>Route_the_ACP_to_the_queue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would like to..</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_do_you_want_manage_the_following_ACP</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>No_further_action</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IsAdded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Outcome_Summary_Rejected</name>
        <label>Outcome Summary Rejected</label>
        <locationX>314</locationX>
        <locationY>1874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Next_ACPs_to_be_rejected</targetReference>
        </connector>
        <fields>
            <name>Outcome_Summary_Header_Rejected</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Outcome Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Outcome_Status_Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!OutcomeStatusSingleRecord.Description__c}({!OutcomeStatusSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Outcome Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rejection_Reason_Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Rejection_Reason</elementReference>
            </defaultValue>
            <fieldText>Rejection Reason(s)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rejection_Additional_Information_Summary</name>
            <defaultValue>
                <stringValue>{!Rejection_Additional_Information}</stringValue>
            </defaultValue>
            <fieldText>Rejection Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Entry_Qualification_Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!EntryQualificationSingleRecord.Description__c}({!EntryQualificationSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Entry Qualification</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Documentation_Status_Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!DocumentationStatusSingleRecord.Description__c}({!DocumentationStatusSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Documentation Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Offer_Response_Status_Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!OfferResponseSingleRecord.Description__c}({!OfferResponseSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Offer Response Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Conditional_Offer_Response_Status_Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!ConditionalOfferResponseSingleRecord.Description__c}({!ConditionalOfferResponseSingleRecord.Value__c})</stringValue>
            </defaultValue>
            <fieldText>Conditional Offer Response Status</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_there_any_other_course_preference_s_you_want_to_reject_with_the_same_rejecti</name>
            <choiceReferences>NextACPList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any other course preference(s) you want to reject with the same rejection status?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NextACPsExist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outcome_Status_Rejected_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>DocumentationStatusTransform</name>
        <label>DocumentationStatusTransform</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <apexClass>CustomChoice</apexClass>
        <connector>
            <targetReference>Check_if_previous_Outcome_Status_is_OFFER_COND</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>label</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!Documentation_Rejected_List[$EachItem].Description__c}+&apos;(&apos;+{!Documentation_Rejected_List[$EachItem].Value__c}+&apos;)&apos;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>value</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Documentation_Rejected_List[$EachItem].Value__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>OutcomeStatusTransform</name>
        <label>OutcomeStatusTransform</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <apexClass>CustomChoice</apexClass>
        <connector>
            <targetReference>Documentation_Rejected_List</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>label</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!Outcome_Status_Rejected_List[$EachItem].Description__c}+&apos;(&apos;+{!Outcome_Status_Rejected_List[$EachItem].Value__c}+&apos;)&apos;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>value</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Outcome_Status_Rejected_List[$EachItem].Value__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ACPList</name>
        <apexClass>CustomChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ACPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>ConditionalOfferResponseSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>currentACP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Documentation_Rejected_List</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Outcome_Status_Rejected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Outcome_Status_Rejected_List</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>DocumentationStatusSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>EntryQualificationSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>IsAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListOfValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>nextACP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>NextACPChoice</name>
        <apexClass>CustomChoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextACPsExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OfferResponseSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>OutcomeStatusSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>List_of_Values__c</objectType>
    </variables>
    <variables>
        <name>SelectedACPValueText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedNextACPValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateACP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>UpdateOtherACPs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
