force-app/main/default/flows/SCR_LEAD_OCR_CREATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Failure</name>
        <label>Log Failure</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>OCR Creation From Lead</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks if the lead meets all the conditions for an OCR to be created</description>
        <name>Lead_Conditions_Check</name>
        <label>Lead Conditions Check</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Lead_Conditions_NotMet_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conditions Not Met</defaultConnectorLabel>
        <rules>
            <name>OCR_Creation_Conditions_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadVar.Eligible_for_Outbound_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OCR_Rec</targetReference>
            </connector>
            <label>OCR Creation Conditions Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>OCR_created_Decision</name>
        <label>OCR created Decision</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCR_Created_Successfully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_OCR_Rec</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_OCR_Owner</targetReference>
            </connector>
            <label>OCR Created Successfully</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ocrRectypeName</name>
        <dataType>String</dataType>
        <expression>TEXT({!leadVar.Student_type__c}) + &apos; Pre App&apos;</expression>
    </formulas>
    <interviewLabel>SCR_LEAD_OCR_CREATE {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SCR_LEAD_OCR_CREATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OCR_Rec</name>
        <label>Create OCR Rec</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>OCR_created_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadVar.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_OCR_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Call_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>leadVar.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_OCR_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Call_Result__c</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_OCR_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>leadVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active_Lead_Contact_Id__c</queriedFields>
        <queriedFields>Eligible_for_Outbound_Call__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Student_type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_OCR_RT</name>
        <label>GET OCR RT</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Conditions_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Call_Result__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ocrRectypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OCR_Owner</name>
        <label>Update OCR Owner</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>OCR_Creation_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_OCR_Rec</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Call_Result__c</object>
    </recordUpdates>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failure_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 10, 10); font-size: 16px;&quot;&gt;There is an Open OCR record already present on Lead. Please check and try again&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Conditions_NotMet_Screen</name>
        <label>Lead Conditions Not Met Screen</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Lead_Conditions_NotMet_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(215, 17, 17);&quot;&gt;The Lead does not satisfy the conditions to be eligible for an outBound call.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OCR_Creation_Success_Screen</name>
        <label>OCR Creation Success Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OCR_Creation_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(81, 150, 11); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;OCR has been created successfully. &lt;/span&gt;&lt;a href=&quot;/{!Create_OCR_Rec}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(81, 150, 11); font-size: 16px;&quot;&gt;Click here&lt;/a&gt;&lt;span style=&quot;color: rgb(81, 150, 11); font-size: 16px;&quot;&gt; to access new OCR&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>leadVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
