force-app/main/default/flows/SCR_Application_Course_Preference_Workflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ACP_values_to_currentACP</name>
        <label>Assign ACP values to currentACP</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>currentACP.Owner_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>On_Hold_Reason_Dependent.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Workflow_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Workflow_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.On_Hold_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>On_Hold_Reason_Dependent.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Release_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReleaseReasonValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.OnHold_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_On_Hold_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACPOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentACP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ACP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_values</name>
        <label>Assign default values</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ownerTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACP_record.Owner_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workflowStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACP_record.Workflow_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onHoldReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACP_record.On_Hold_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACP_QuickAction</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>OnHoldReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>On_Hold_Reason__c</picklistField>
        <picklistObject>Application_Course_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnerTeamPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Owner_Team__c</picklistField>
        <picklistObject>Application_Course_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkflowStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Workflow_Status__c</picklistField>
        <picklistObject>Application_Course_Preference__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IfWorkflowStatusOnHold</name>
        <dataType>Boolean</dataType>
        <expression>{!Workflow_Status}=&apos;On Hold&apos;</expression>
    </formulas>
    <formulas>
        <name>IsOwnerTeamChanged</name>
        <dataType>Boolean</dataType>
        <expression>{!ownerTeam}&lt;&gt;{!On_Hold_Reason_Dependent.topValue}</expression>
    </formulas>
    <formulas>
        <name>ReleaseReasonValue</name>
        <dataType>String</dataType>
        <expression>IF({!Workflow_Status} = &apos;Released&apos;,{!Release_Reason_Required},{!Release_Reason})</expression>
    </formulas>
    <interviewLabel>SCR - Application Course Preference - Workflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCR - Application Course Preference - Workflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ACP_record</name>
        <label>Get ACP record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Course_Preference__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Owner_Team__c</queriedFields>
        <queriedFields>Workflow_Status__c</queriedFields>
        <queriedFields>Release_Reason__c</queriedFields>
        <queriedFields>OnHold_Comments__c</queriedFields>
        <queriedFields>On_Hold_Reason__c</queriedFields>
        <queriedFields>Owner_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACP</name>
        <label>Update ACP</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>currentACP</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>ACP_QuickAction</name>
        <label>ACP_QuickAction</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_ACP_values_to_currentACP</targetReference>
        </connector>
        <fields>
            <name>ACP_QuickAction_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ACP_QuickAction_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>On_Hold_Reason_Dependent</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Application_Course_Preference__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Owner_Team__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>On_Hold_Reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>ownerTeam</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>onHoldReason</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <elementReference>IfWorkflowStatusOnHold</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Additional_On_Hold_Comments</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ACP_record.OnHold_Comments__c</elementReference>
                    </defaultValue>
                    <fieldText>Additional On Hold Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ACP_QuickAction_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACP_Owner</name>
                    <extensionName>c:customLookupInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectedId</name>
                        <value>
                            <elementReference>Get_ACP_record.OwnerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>Get_ACP_record.Owner_Name__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ACPOwner</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Workflow_Status</name>
                    <choiceReferences>WorkflowStatusPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>workflowStatus</elementReference>
                    </defaultValue>
                    <fieldText>Workflow Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Release_Reason</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ACP_record.Release_Reason__c</elementReference>
                    </defaultValue>
                    <fieldText>Release Reason</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Release Reason must be populated&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(AND(ISBLANK({!Release_Reason}), {!Workflow_Status} = &apos;Released&apos;))</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Workflow_Status</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Released</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Release_Reason_Required</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ACP_record.Release_Reason__c</elementReference>
                    </defaultValue>
                    <fieldText>Release Reason</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Workflow_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Released</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ACP_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ACPOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentACP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>onHoldReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workflowStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
