force-app/main/default/flows/Search_Filter_AS_Set_External_ID.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Logging the error</description>
        <name>Log_the_error</name>
        <label>Log the error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>SBQQ__SearchFilter__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Search_Filter_AS_Set_External_ID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Setting External ID during Create Record Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Migrated from the Set Search Filter External Id Process Builder</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_Generate_External_ID</name>
        <dataType>String</dataType>
        <expression>$Organization.Id &amp;&quot;_&quot; &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Search Filter : AS : Set External ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search Filter : AS : Set External ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_External_Id</name>
        <label>Set External Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_the_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>formula_Generate_External_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_External_Id</targetReference>
        </connector>
        <filterFormula>AND (
   {!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false,
   ISBLANK({!$Record.External_Id__c})
)</filterFormula>
        <object>SBQQ__SearchFilter__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
