force-app/main/default/flows/Session_AS_Session_Management.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Nebula__FlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>ucinn_ascendv2__Session__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Session_AS_Session_Management</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Create or Update Record Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowRecordLogEntry</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Session_Email_Alert</name>
        <label>Send Session Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ucinn_ascendv2__Session__c.ucinn_ascendv2__New_Session_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ucinn_ascendv2__Session__c.ucinn_ascendv2__New_Session_Assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Validation_Session_Record</name>
        <label>Validation Session Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Session_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ucinn_ascendv2__Session_Operator_Assigned__r.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>1900-01-01T07:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Session_Email_Alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Session Assigned</label>
        </rules>
        <rules>
            <name>Update_Session_Default_Appeal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Default_Appeal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Default_Appeal</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update Session Default Appeal</label>
        </rules>
    </decisions>
    <description>Migrating WF/PBs EPCP-4525.</description>
    <environments>Default</environments>
    <interviewLabel>Session : AS : Session Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session : AS : Session Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Default_Appeal</name>
        <label>Update Default Appeal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Create_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ucinn_ascendv2__Campaign__c</field>
            <value>
                <elementReference>$Record.Default_Appeal__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validation_Session_Record</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = false</filterFormula>
        <object>ucinn_ascendv2__Session__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
