force-app/main/default/flows/SubPushNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Write a log entry</description>
        <name>LogWarning</name>
        <label>LogWarning</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>FaultMessageTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>c_FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <elementReference>c_WARNING</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>c_ErrorTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Send the notification</description>
        <name>Notify</name>
        <label>Notify</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LogWarning</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>NotificationRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the group id to a collection, required for the notification action</description>
        <name>AssignRecipients</name>
        <label>Assign Recipients</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidateValues</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>c_ErrorTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to send notification</stringValue>
        </value>
    </constants>
    <constants>
        <description>The API name of this flow</description>
        <name>c_FlowAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SubPushNotification</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_ObjPrefixAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </constants>
    <constants>
        <description>Prefix for Application Objects</description>
        <name>c_ObjPrefixApp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a24</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_ObjPrefixCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>500</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_ObjPrefixContact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>003</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_WARNING</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WARN</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Almost all fields are mandatory, so verify we have them.

If the record id isn&apos;t passed as a &apos;triggered record&apos;, this step will pass but the notification will fail. If this becomes an issue, we can add a get record step.</description>
        <name>ValidateValues</name>
        <label>Validate Values</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>LogWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Fields</defaultConnectorLabel>
        <rules>
            <name>AllFieldsValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotificationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotificationTitle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotificationBody</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify</targetReference>
            </connector>
            <label>All Fields Valid</label>
        </rules>
    </decisions>
    <description>A generic flow to make the bell ring with a custom notification</description>
    <environments>Default</environments>
    <interviewLabel>Sub: Push Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub: Push Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the id for the custom notification type, based on the developer name or the label</description>
        <name>GetCustomNotification</name>
        <label>Get Custom Notification</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecipients</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotificationAlertType</elementReference>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotificationAlertType</elementReference>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>NotificationTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the id of the public group to share the notification with based on the developer name or label</description>
        <name>GetRecipients</name>
        <label>Get Recipients</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecipients</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotificationRecipientGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotificationRecipientGroup</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>RecipientId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomNotification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Structured exception message, containing all of the variables</description>
        <name>FaultMessageTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Calling Flow: {!CallingFlowName}
Type: {!NotificationAlertType}
Record: {!NotificationRecord}
Title: {!NotificationTitle}
Body: {!NotificationBody}
Type: {!NotificationTypeId}
Group: {!NotificationRecipientGroup}
Flow Fault: {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <description>A description of the calling. As it stands we are unable to dynamically determine this.</description>
        <name>CallingFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a custom notification API name</description>
        <name>NotificationAlertType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Enter a public group developer name</description>
        <name>NotificationRecipientGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The record or the alert to attach to. This must be a triggered record rather an id in text as this makes the subflow object agnostic.</description>
        <name>NotificationRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A collection of public groups</description>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
