force-app/main/default/flows/Task_AU_Sync_Task_Status_with_Application_and_ACP.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACP_Query_Fault</name>
        <label>ACP Query Fault</label>
        <locationX>1282</locationX>
        <locationY>431</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Task_AU_Sync_Task_Status_with_Application_and_ACP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Query ACP Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_ACP_Record.Application__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>Query ACP Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Task_Fault</name>
        <label>Update Task Fault</label>
        <locationX>578</locationX>
        <locationY>1469</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Task_AU_Sync_Task_Status_with_Application_and_ACP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Update Task Fields</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>Update Task Fields</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Release_ACP</name>
        <label>Release ACP</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ACPRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACP_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACPRecordToUpdate.Workflow_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACPRecordToUpdate.Release_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>completedTaskReleaseReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bUpdateACP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Task_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Release_Flag_to_True</name>
        <label>Set Release Flag to True</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ACPRecordToUpdate.Release_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multipleTaskReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACPRecordToUpdate.Workflow_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACPRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACP_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ACP_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ACP_Advance_Standing_Task</name>
        <label>Update ACP Advance Standing Task</label>
        <locationX>842</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>ACPRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACP_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACPRecordToUpdate.Task_Credit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTaskStatusToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bUpdateACP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ACP_Update_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_App_DSS_Task</name>
        <label>Update App DSS Task</label>
        <locationX>314</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>ApplicationRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACP_Record.Application__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecordToUpdate.Task_Disability_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTaskStatusToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_App_GTE_Task</name>
        <label>Update App GTE Task</label>
        <locationX>50</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>ApplicationRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ACP_Record.Application__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecordToUpdate.Task_GTE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTaskStatusToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Application_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_ACP_On_Hold</name>
        <label>Check for ACP On Hold</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Task_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACP_On_Hold</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ACP_Record.Workflow_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ACP_Record.Workflow_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Release_ACP</targetReference>
            </connector>
            <label>ACP On Hold</label>
        </rules>
        <rules>
            <name>Task_Status</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting CA Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ACP_Record.Workflow_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ACP_Record.Workflow_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Release_Flag_to_True</targetReference>
            </connector>
            <label>Task Status = Awaiting CA feedback</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Type</name>
        <label>Check Task Type</label>
        <locationX>578</locationX>
        <locationY>797</locationY>
        <defaultConnector>
            <targetReference>Is_ACP_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_GTE_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genuine Temporary Entrant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_App_GTE_Task</targetReference>
            </connector>
            <label>Type=GTE Task</label>
        </rules>
        <rules>
            <name>Type_DSS_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disability Support Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_App_DSS_Task</targetReference>
            </connector>
            <label>Type = DSS Task</label>
        </rules>
        <rules>
            <name>Type_Advance_Standing_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACP_Advance_Standing_Task</targetReference>
            </connector>
            <label>Type = Advance Standing Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ACP_Update_Required</name>
        <label>Is ACP Update Required</label>
        <locationX>578</locationX>
        <locationY>1253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_ACP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bUpdateACP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACP_Record</targetReference>
            </connector>
            <label>Update ACP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>completedTaskReleaseReason</name>
        <dataType>String</dataType>
        <expression>If(!ISBLANK({!Get_ACP_Record.Release_Reason__c}) &amp;&amp; ISPICKVAL({!Get_ACP_Record.Workflow_Status__c}, &apos;Released&apos;), TEXT({!$Record.Type})+&apos; is &apos;+TEXT({!$Record.Status}) + &apos; &amp; other reason.&apos;, TEXT({!$Record.Type})+&apos; is &apos;+TEXT({!$Record.Status}))</expression>
    </formulas>
    <formulas>
        <name>frmTaskStatusToUpdate</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IsClosed} &amp;&amp; ISPICKVAL({!$Record.Status}, &quot;Completed&quot;) &amp;&amp; ISPICKVAL({!$Record.Task_Outcome_Status__c}, &quot;Approved&quot;), &quot;Completed&quot;, IF({!$Record.IsClosed} &amp;&amp; ISPICKVAL({!$Record.Status}, &quot;Completed&quot;) &amp;&amp; ISPICKVAL({!$Record.Task_Outcome_Status__c}, &quot;Rejected&quot;), &quot;Failed&quot;, &quot;In Progress&quot;))</expression>
    </formulas>
    <formulas>
        <name>frmTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[Task Type]: [Applicant: &quot;+{!Get_ACP_Record.Applicant__r.Full_Name__c}+&quot;] [Campus: &quot;+{!Get_ACP_Record.Location_Description__c}+&quot;]&quot;</expression>
    </formulas>
    <formulas>
        <description>check for multiple release reason while application course preference workflow status is still at Released</description>
        <name>multipleTaskReason</name>
        <dataType>String</dataType>
        <expression>If(!ISBLANK({!Get_ACP_Record.Release_Reason__c}) &amp;&amp; ISPICKVAL({!Get_ACP_Record.Workflow_Status__c}, &apos;Released&apos;), &apos;A task is awaiting feedback &amp; other reason.&apos;, &apos;A task is awaiting feedback.&apos;)</expression>
    </formulas>
    <interviewLabel>Task : AI : Update Predefined Admissions Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task : AU : Sync Task Status with Application and ACP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ACP_Record</name>
        <label>Get ACP Record</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_ACP_On_Hold</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ACP_Query_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Course_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACP_Record</name>
        <label>Update ACP Record</label>
        <locationX>314</locationX>
        <locationY>1361</locationY>
        <faultConnector>
            <targetReference>Update_Task_Fault</targetReference>
        </faultConnector>
        <inputReference>ACPRecordToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Record</name>
        <label>Update Application Record</label>
        <locationX>314</locationX>
        <locationY>1013</locationY>
        <connector>
            <targetReference>Is_ACP_Update_Required</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Task_Fault</targetReference>
        </faultConnector>
        <inputReference>ApplicationRecordToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ACP_Record</targetReference>
        </connector>
        <filterFormula>{!$Setup.Bypass_Mute_Request__c.Bypass_All_Flows__c} = False &amp;&amp; {!$Record.RecordType.DeveloperName} = &apos;Admissions&apos; &amp;&amp; ISCHANGED({!$Record.Status}) &amp;&amp; TEXT({!$Record__Prior.Status}) != TEXT({!$Record.Status})</filterFormula>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACPRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>ACPReleased</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Course_Preference__c</objectType>
    </variables>
    <variables>
        <name>ApplicationRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>bUpdateACP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
