force-app/main/default/flows/Terminate_GeneSys_Routing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bulk_Update_Equiries</name>
        <label>Bulk Update Equiries</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <actionName>BulkTerminateEnquiries</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Batch_Job_Status_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>v_wrapper_enq_owner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkTerminateEnquiries</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Enquiry_Id_Values</name>
        <label>Assign_Enquiry_Id_Values</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>v_wrapper_enq_owner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Enquiry_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Enquiry_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Club_OwnerId_With_Enquiry_Ids</name>
        <label>Club OwnerId With Enquiry Ids</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>v_wrapper_enq_owner</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Search_User.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Enquiry_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Batch_Size</name>
        <label>Validate Batch Size</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Batch_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Club_OwnerId_With_Enquiry_Ids</targetReference>
            </connector>
            <label>Batch Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Record_Selection</name>
        <label>Validate Record Selection</label>
        <locationX>292</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Select_a_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Record_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Records_Selected</targetReference>
            </connector>
            <label>Validate Record Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_User_Access</name>
        <label>Validate User Access</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Display_Custom_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InValid Access</defaultConnectorLabel>
        <rules>
            <name>Validate_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Monash_Connect_Agents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Record_Selection</targetReference>
            </connector>
            <label>Validate Access</label>
        </rules>
    </decisions>
    <description>Flow to check the Terminate GeneSys Routing Flag and re-assign the Enquiry</description>
    <environments>Default</environments>
    <interviewLabel>Terminate GeneSys Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terminate GeneSys Routing</label>
    <loops>
        <name>Assign_Enquiry_Ids</name>
        <label>Assign_Enquiry_Ids</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Enquiry_Id_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Update_Equiries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Exception_Logs</name>
        <label>Create Exception Logs</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Display_Exception_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Type__c</field>
            <value>
                <stringValue>Terminate GeneSys Routing Quick Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function_Name__c</field>
            <value>
                <stringValue>Terminate GeneSys Routing Quick Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordRollbacks>
        <name>Rollback_Update</name>
        <label>Rollback Update</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Exception_Logs</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Enquiry</name>
        <label>Update Enquiry</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Rollback_Update</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Case_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Search_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminate_Genesys_Routing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Batch_Job_Status_Screen</name>
        <label>Batch Job Status Screen</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Batch_Job_Async_Processing_Outcome</name>
            <fieldText>&lt;p&gt;Processing initiated. This may take a short while depending on the number of records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Custom_Error</name>
        <label>Display Custom Error</label>
        <locationX>1194</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Custom_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You do not have access to this functionality.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Exception_Error</name>
        <label>Display Exception Error</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error_Message</name>
            <fieldText>&lt;p&gt;{!v_error_message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Records_Selected</name>
        <label>No Records Selected</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Records_Selected_User</name>
            <fieldText>&lt;p&gt;No Records Selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_User</name>
        <label>Select a User</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Batch_Size</targetReference>
        </connector>
        <fields>
            <name>Select_a_User_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_a_User_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_a_User_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Search_User</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Display_Record</name>
                    <fieldText>&lt;p&gt;This action will change the Enquiry ownership to the selected User and will terminate Genesys routing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Terminate Routing&lt;/strong&gt; to initiate processing.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_a_User_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Terminate Routing</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_User_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <description>Variable to include Enquiries and Owner Ids</description>
        <name>v_wrapper_enq_owner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
