force-app/main/default/flows/Update_Contact_Information_on_a_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Created_Or_Contact_Changed</name>
        <label>Created Or Contact Changed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreatedOrContactChangedFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This before context flow stamps 7 fields on Case from their counterpart fields on the linked Contact. This is to mimic the functionality of an existing workflow being deprecated - &quot;Update Contact Information on a Case&quot;.</description>
    <formulas>
        <name>CreatedOrContactChangedFormula</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp; NOT(ISBLANK({!$Record.ContactId}))) || ISCHANGED({!$Record.ContactId})</expression>
    </formulas>
    <interviewLabel>Update Contact Information on a Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Information on a Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Faculty_Portfolio__c</field>
            <value>
                <elementReference>$Record.Contact.Faculty_Portfolio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation_Unit_Code__c</field>
            <value>
                <elementReference>$Record.Contact.Organisation_Unit_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organisation_Unit__c</field>
            <value>
                <elementReference>$Record.Contact.Organisation_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personnel_Area__c</field>
            <value>
                <elementReference>$Record.Contact.Personnel_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personnel_Sub_Area__c</field>
            <value>
                <elementReference>$Record.Contact.Personnel_Sub_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position_Title__c</field>
            <value>
                <elementReference>$Record.Contact.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Division__c</field>
            <value>
                <elementReference>$Record.Contact.School_Division_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Or_Contact_Changed</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
