force-app/main/default/flows/Vaccinate_Monash_Delete_Files_On_Case_Closure.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Count_Content_Document_Links</name>
        <label>Count Content Document Links</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Links.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Content_Documents</targetReference>
            </connector>
            <label>Not Zero</label>
        </rules>
    </decisions>
    <interviewLabel>Vaccinate Monash - Delete Files On Case Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vaccinate Monash - Delete Files On Case Closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Content_Documents</name>
        <label>Delete Content Documents</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Document_Links.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Content_Document_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Enquiry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vaccinate Monash - Staff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Enquiry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vaccinate Monash - Students</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
